<template>
	<div class="invite-users-on-event-table">
		<header>
			<!-- Search -->
			<TableSearch
				:items="users.all"
				:itemType="'user'"
				v-on:newSearchData="passSearchData"
			/>

			<TablePagination
				v-on:currentPageChange="updatePage"
				:all="users.all"
				:visible="users.visible"
				:totalPages="pagination.totalPages"
				:itemsPerPage="pagination.usersPerPage"
			/>
		</header>

		<!-- Messages -->
		<!-- TODO: Create component only for displaying messages -->
		<div class="messages">
			<!-- User deleted message -->
			<div v-if="users.messages.success.userDeleted.email"
				class="alert alert-success"
				role="alert"
			>
				Deleted user: {{ users.messages.success.userDeleted.email }}
			</div>
		</div>

		<!-- Table -->
		<table class="table table-sm">
			<!-- Head -->
			<thead class="non-selectable-text">
				<tr>
					<th
						v-for="item in table.head"
						:key="item.text"
						:class="item.classes"
						scope="col"
					>
						{{ item.text }}
					</th>
				</tr>
			</thead>

			<!-- Body -->
			<tbody>
				<tr
					v-for="user in users.visible"
					:key="user.id"
					class="user-item"
				>
						<th scope="row" class="temporary-index">{{ user.tableData.index + 1 }}</th>
						<td>{{ user.firstName }} {{ user.middleName }} {{ user.lastName }}</td>
						<td>{{ user.email }}</td>
						<td v-if="user.instagramUsername">{{ user.instagramUsername}}</td>
						<td v-else>N/A</td>
						<td>{{ user.invitedBy }}</td>
						<!-- <td>{{ user.status }}</td> -->
						<td class="actions">
							<button @click="inviteUser(user)" class="btn btn-success mr-3">
								Invite
							</button>
						</td>
				</tr>
			</tbody>
		</table>

		<!-- Modal -->
		<InviteUserModal v-on:userInvited="userInvitedSuccessfully" />
	</div>
</template>

<script>
// Services
import UserService from '@/services/admin/UserService'
// Helpers
import { mapGetters } from 'vuex'
// Components
import TableSearch from '@/components/TableSearch'
import TablePagination from '@/components/TablePagination'
import InviteUserModal from '@/components/admin/modals/EventInviteUser'
// Font Awesome icons
import { library, dom } from '@fortawesome/fontawesome-svg-core'
import { faEdit, faTrashAlt, faAngleLeft, faAngleRight, faAngleDoubleLeft, faAngleDoubleRight } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
library.add(faEdit, faTrashAlt, faAngleLeft, faAngleRight, faAngleDoubleLeft, faAngleDoubleRight)
dom.watch()

export default {
	name: 'TableOfUsers',
	components: { FontAwesomeIcon, TableSearch, TablePagination, InviteUserModal },

	computed: {
		...mapGetters(['getUserToken', 'getCurrentlyViewingEvent']),
	},

	data() {
		return {
			// User data
			users: {
				all: [],
				visible: [],
				selected: [],
				messages: {
					success: {
						userDeleted: {
							email: null, // null or email from deleted user
							timeout: 0
						},
					}
				}
			},
			// Table data
			table: {
				head: [
					{ text: '#', classes: 'index' },
					{ text: 'Name', classes: 'name' },
					{ text: 'Email', classes: 'email' },
					{ text: 'Instagram', classes: 'instagram' },
					{ text: 'Invited by', classes: 'invited-by' },
					// { text: 'Status', classes: 'status' },
					{ text: 'Actions', classes: 'actions' }
				],
				options: {}
			},
			// Pagination
			pagination: {
				totalPages: 0,
				currentPage: 0,
				usersPerPage: 20
			}
		}
	},

	created() {
		// TODO: Get users that don't have an invite already
		this.getUninvitedUsers()
	},

	methods: {
		// Pass data form the TableSearch component
		passSearchData(filteredItems) {
			this.users.visible = filteredItems
		},

		async getUninvitedUsers() {
			try {
				const eventId = this.getCurrentlyViewingEvent
				const token = this.getUserToken
				// Get users from the api
				const res = await UserService.getUninvitedUsers(eventId, token)

				const allUninvitedUsers = res.data.payload.records

				// Filter out admins and not approved users
				const justApprovedUsers = allUninvitedUsers.filter(user => !user.roles.includes('admin') && user.status === 'approved')

				justApprovedUsers.forEach((user, index) => {
					Object.assign(user, {
						tableData: {
							index: index,
							isSelected: false
						}
					})

					this.users.all.push(user)
				})

				// Calculate and set number of total pages
				this.pagination.totalPages = Math.ceil(this.users.all.length / this.pagination.usersPerPage)

				this.updateVisibleUsers()
			} catch(err) {
				// console.error(err.response)
				console.error(err)
			}
		},

		inviteUser(user) {
			const eventId = this.getCurrentlyViewingEvent

			// Open modal with invite user form
			this.$modal.show('event-invite-user', {
				user: {
					id: user.id,
					name: `${user.firstName} ${user.lastName}`,
					email: user.email
				},
				eventId: eventId
				// userName: `${user.firstName} ${user.lastName}`,
				// userId: user.id
			})

			// // TODO: Filter out invited user
			// // Remove user from the UI
			// const filteredUsers = this.users.all.filter(user => user.id !== invitedUserId)

			// // Update user tableData indexes
			// filteredUsers.forEach((user, index) => {
			// 	user.tableData.index = index
			// })

			// // Set new users array without deleted user
			// this.users.all = filteredUsers
			
			// this.updateVisibleUsers()
		},

		userInvitedSuccessfully(invitedUserId) {
			// Remove user from the UI
			const filteredUsers = this.users.all.filter(user => user.id !== invitedUserId)

			// Update user tableData indexes
			filteredUsers.forEach((user, index) => {
				user.tableData.index = index
			})

			// Set new users array without deleted user
			this.users.all = filteredUsers

			// Hide modal on success
			this.$modal.hide('event-invite-user')
			
			this.updateVisibleUsers()
		},

		updatePage(pageNumber) {
			this.pagination.currentPage = pageNumber
			this.updateVisibleUsers()
		},

		updateVisibleUsers() {
			this.users.visible = this.users.all.slice(this.pagination.currentPage * this.pagination.usersPerPage, (this.pagination.currentPage * this.pagination.usersPerPage) + this.pagination.usersPerPage)

			// If there is 0 visible users go back 1 page
			if (this.users.visible.length === 0 && this.pagination.currentPage > 0) {
				this.updatePage(this.pagination.currentPage - 1)
			}
		}

	}
}
</script>

<style scoped lang="scss">

	.invite-users-on-event-table {
		max-width: 1200px;
		margin: 0 auto;

		thead {
			color: #fff;
			background-color: rgba(70, 70, 70, 1);

			th {
				font-weight: 600;
				font-size: 16px;
			}
		}

		.non-selectable-text {
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

		.user-item {
			color: #fff;
			transition: opacity 100ms ease-in-out;
			background-color: rgba(70, 70, 70, 0.6);
			transition: background 150ms ease-in-out;
			
			&:hover {
				background-color: rgba(70, 70, 70, 1);
				// cursor: pointer;

				.actions button {
					opacity: 1;
				}
			}

			td,
			th {
				vertical-align: middle;
			}

			.temporary-index {
				background-color: rgba(70, 70, 70, 1);
			}
			
			.actions {

				button {
					opacity: 0;
				}
			}
		}

		/* Header
		=====================*/
		header {
			display: flex;
			width: 100%;
			justify-content: space-between;

			/* Search input
			=====================*/
			.tableSearchInput {
				align-self: flex-start;
				max-width: 340px;
			}

			// /* Pagination
			// =====================*/
			// nav {
			// 	padding: 0;
			// 	align-self: flex-end;

			// 	.pagination {
			// 		display: flex;
			// 		padding: 0;

			// 		.pagination-listing-info {
			// 			display: flex;
			// 			justify-content: center;
			// 			align-items: center;
			// 			padding: 0 8px;
			// 			font-size: 13px;
			// 		}
			// 	}
			// }
		}

	} /* List of users */
</style>