<template>
	<div id="listOfEvents">
		<header>
			<!-- Search -->
			<TableSearch
				:items="events.all"
				:itemType="'event'"
				v-on:newSearchData="passSearchData"
			/>

			<TablePagination
				v-on:currentPageChange="updatePage"
				:all="events.all"
				:visible="events.visible"
				:totalPages="pagination.totalPages"
				:itemsPerPage="pagination.eventsPerPage"
			/>
		</header>

		<!-- Messages -->
		<!-- TODO: Create component only for displaying messages -->
		<div class="messages">
			<!-- Event deleted message -->
			<div v-if="events.messages.success.eventDeleted.name"
				class="alert alert-success"
				role="alert"
			>
				Deleted Event: {{ events.messages.success.eventDeleted.name }}
			</div>
		</div>

		<!-- Table -->
		<table class="table table-sm">
			<!-- Head -->
			<thead class="non-selectable-text">
				<tr>
					<th v-if="table.options.isSingleSelectOn">
						<input @click="selectAllEvents" type="checkbox">
					</th>
					<th
						v-for="item in table.head"
						:key="item.text"
						:class="item.classes"
						scope="col"
					>
						{{ item.text }}
					</th>
				</tr>
			</thead>

			<!-- Body -->
			<tbody>
				<tr
					v-for="event in events.visible"
					:key="event.id"
					@click="viewEvent(event.id)"
					class="event-item"
				>
						<th scope="row" class="temporary-index">{{ event.tableData.index + 1 }}</th>
						<td>{{ event.name }}</td>
						<td v-html="formatDate(event.dateBegins)"></td>
						<td v-html="formatDate(event.dateEnds)"></td>
						<td>{{ event.startLocation }}</td>
						<td>{{ event.endLocation }}</td>
						<td class="actions">
							<button @click="deleteEvent(event)" class="btn btn-danger">
								<font-awesome-icon
									:icon="['fas', 'trash-alt']"
									:class="['delete-icon']"
								/>
							</button>
						</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</template>

<script>
// Services
import EventService from '@/services/EventService'
// Helpers
import { mapGetters } from 'vuex'
import { formatDateTime } from '@/helpers'
// Components
import TableSearch from '@/components/TableSearch'
import TablePagination from '@/components/TablePagination'
// Font Awesome icons
import { library, dom } from '@fortawesome/fontawesome-svg-core'
import { faTrashAlt } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
library.add(faTrashAlt)
dom.watch()

export default {
	name: 'TableOfEvents',
	components: { FontAwesomeIcon, TableSearch, TablePagination },

	computed: {
		...mapGetters(['getUserToken']),
	},

	data() {
		return {
			// Event data
			events: {
				all: [],
				visible: [],
				selected: [],
				messages: {
					success: {
						eventDeleted: {
							name: null, // null or deleted event's name
							timeout: 0
						},
					}
				}
			},

			// Table data
			table: {
				head: [
					{ text: '#', classes: 'index' },
					{ text: 'Name', classes: 'name' },
					{ text: 'Date begins', classes: 'email' },
					{ text: 'Date ends', classes: 'instagram' },
					{ text: 'Start location', classes: 'invited-by' },
					{ text: 'End location', classes: 'status' },
					{ text: 'Actions', classes: 'actions' }
				],
				options: {
					isSingleSelectOn: false
				}
			},

			// Pagination
			pagination: {
				totalPages: 0,
				currentPage: 0,
				eventsPerPage: 10
			}
		}
	},

	created() {
		this.getAllEvents()
	},

	methods: {

		formatDate: (inputDate) => formatDateTime(inputDate),

		// Pass data form the TableSearch component
		passSearchData(filteredItems) {
			this.events.visible = filteredItems
		},

		async getAllEvents() {
			try {
				const token = this.getUserToken
				// Get all Events
				const res = await EventService.getAllEvents(token)
				// console.log('res: ', res)

				// const justUsers = res.data.records.filter(user => !user.roles.includes('admin'))
				const events = res.data.records

				events.forEach((event, index) => {
					Object.assign(event, {
						tableData: {
							index: index
						}
					})

					this.events.all.push(event)
				})

				// Calculate and set number of total pages
				this.pagination.totalPages = Math.ceil(this.events.all.length / this.pagination.eventsPerPage)

				this.updateVisibleEvents()

			} catch(err) {
				console.error(err)
			}
		},

		updatePage(pageNumber) {
			this.pagination.currentPage = pageNumber
			this.updateVisibleEvents()
		},

		updateVisibleEvents() {
			this.events.visible = this.events.all.slice(this.pagination.currentPage * this.pagination.eventsPerPage, (this.pagination.currentPage * this.pagination.eventsPerPage) + this.pagination.eventsPerPage)

			// If there is 0 visible events go back 1 page
			if (this.events.visible.length === 0 && this.pagination.currentPage > 0) {
				this.updatePage(this.pagination.currentPage - 1)
			}
		},
		
		async deleteEvent(eventToDelete) {
			// Stop event bubbling
			event.stopPropagation()

			const areYouSure = confirm(`Are you sure?\nDeleting: ${eventToDelete.name}`)

			try {
				if (!areYouSure) return
				
				const token = this.getUserToken
				const eventId = eventToDelete.id
				// Send request to delete Event
				const res = await EventService.deleteEvent(eventId, token)

				if (res.status === 204) {
					// Success message
					this.events.messages.success.eventDeleted.name = eventToDelete.email

					// Remove previous timeout
					clearTimeout(this.events.messages.success.eventDeleted.timeout)
					// Remove message after some time
					this.events.messages.success.eventDeleted.timeout = setTimeout(() => {
						this.events.messages.success.eventDeleted.name = null
					}, 3000)

					// Remove event from the UI
					const filteredEvents = this.events.all.filter(event => event.id !== eventToDelete.id)

					// Update event tableData indexes
					filteredEvents.forEach((event, index) => {
						event.tableData.index = index
					})

					// Set new events array without deleted Event
					this.events.all = filteredEvents
					
					this.updateVisibleEvents()
				}

			} catch (err) {
				console.error(err)
			}
		},

		async viewEvent(eventId) {
			try {
				const isEventSet = await this.$store.dispatch('setCurrentlyViewingEvent', eventId)

				if (isEventSet) {
					this.$router.push({ name: 'admin-view-event-page' })
				}

			} catch (err) {
				console.error(err)
			}
		}

	} /* methods */
}
</script>

<style scoped lang="scss">
	#listOfEvents {
		max-width: 1200px;
		margin: 0 auto;

		thead {
			color: #fff;
			background-color: rgba(70, 70, 70, 1);

			th {
				font-weight: 600;
				font-size: 16px;
			}
		}

		.non-selectable-text {
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

		.event-item {
			color: #fff;
			transition: opacity 100ms ease-in-out;
			background-color: rgba(70, 70, 70, 0.6);
			transition: background 150ms ease-in-out;
			
			&:hover {
				background-color: rgba(70, 70, 70, 1);
				cursor: pointer;

				.actions button {
					opacity: 1;
				}
			}

			td,
			th {
				vertical-align: middle;
			}

			.temporary-index {
				background-color: rgba(70, 70, 70, 1);
			}
			
			.actions {

				button {
					opacity: 0;

					.edit-icon {
						position: relative;
						left: 2px;
					}
				}
			}
		}

		/* Header
		=====================*/
		header {
			display: flex;
			width: 100%;
			justify-content: space-between;

			/* Search input
			=====================*/
			.tableSearchInput {
				align-self: flex-start;
				max-width: 340px;
			}
		}

	} /* List of Events */
</style>