<template>
	<div class="listOfApplicants">
		<header>
			<!-- Search -->
			<TableSearch
				:items="users.all"
				:itemType="'user'"
				v-on:newSearchData="passSearchData"
			/>

			<TablePagination
				v-on:currentPageChange="updatePage"
				:all="users.all"
				:visible="users.visible"
				:totalPages="pagination.totalPages"
				:itemsPerPage="pagination.usersPerPage"
			/>
		</header>

		<!-- Messages -->
		<!-- TODO: Create component only for displaying messages -->
		<div class="messages">
			<!-- User approved message -->
			<div v-if="users.messages.success.userApproved.email"
				class="alert alert-success"
				role="alert"
			>
				Approved user: {{ users.messages.success.userApproved.email }}
			</div>

			<!-- User declined message -->
			<div v-if="users.messages.success.userDeclined.email"
				class="alert alert-success"
				role="alert"
			>
				Declined user: {{ users.messages.success.userDeclined.email }}
			</div>
		</div>

		<!-- Table -->
		<table class="table table-sm">
			<!-- Head -->
			<thead class="non-selectable-text">
				<tr>
					<th v-if="table.options.isSingleSelectOn">
						<input @click="selectAllUsers" type="checkbox">
					</th>
					<th
						v-for="item in table.head"
						:key="item.text"
						:class="item.classes"
						scope="col"
					>
						{{ item.text }}
					</th>
				</tr>
			</thead>

			<!-- Body -->
			<tbody>
				<tr
					v-for="user in users.visible"
					:key="user.id"
					class="user-item"
				>
						<td v-if="table.options.isSingleSelectOn" class="single-select">
							<input
								type="checkbox"
								v-bind:id="user.id"
								@change="selectUser(user)"
								v-model="user.tableData.isSelected"
							>
							<label v-bind:for="user.id "><span></span></label>
						</td>
						<th scope="row" class="temporary-index">{{ user.tableData.index + 1 }}</th>
						<td>{{ user.firstName }} {{ user.middleName }} {{ user.lastName }}</td>
						<td>{{ user.login }}</td>
						<td>{{ user.invitedBy }}</td>
						<td>{{ user.status }}</td>
						<td class="actions">
							<button @click="approveUser(user)" class="btn btn-success mr-3">
								Approve
							</button>
							<button @click="declineUser(user)" class="btn btn-danger">
								Decline
							</button>
						</td>
				</tr>
			</tbody>
		</table>

		<!-- If there are no applicants -->
		<div v-if="users.all.length === 0">
			No applicants
		</div>
		
	</div>
</template>

<script>
// Services
import UserService from '@/services/admin/UserService'
// Helpers
import { mapGetters } from 'vuex'
// Components
import TableSearch from '@/components/TableSearch'
import TablePagination from '@/components/TablePagination'
// Font Awesome icons
import { library, dom } from '@fortawesome/fontawesome-svg-core'
import { faEdit, faTrashAlt, faAngleLeft, faAngleRight, faAngleDoubleLeft, faAngleDoubleRight } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
library.add(faEdit, faTrashAlt, faAngleLeft, faAngleRight, faAngleDoubleLeft, faAngleDoubleRight)
dom.watch()

export default {
	name: 'TableOfUsers',
	components: { FontAwesomeIcon, TableSearch, TablePagination },

	computed: {
		...mapGetters(['getUserToken']),
	},

	data() {
		return {
			// User data
			users: {
				all: [],
				visible: [],
				selected: [],
				messages: {
					success: {
						userApproved: {
							email: null, // null or email from approved user
							timeout: 0
						},
						userDeclined: {
							email: null, // null or email from declined user
							timeout: 0
						},
					}
				}
			},
			// Table data
			table: {
				head: [
					{ text: '#', classes: 'index' },
					{ text: 'Name', classes: 'name' },
					{ text: 'Email', classes: 'email' },
					{ text: 'Invited by', classes: 'invited-by' },
					{ text: 'Status', classes: 'status' },
					{ text: 'Actions', classes: 'actions' }
				],
				options: {
					isSingleSelectOn: false
				}
			},
			// Pagination
			pagination: {
				totalPages: 0,
				currentPage: 0,
				usersPerPage: 10
			}
		}
	},

	mounted() {
		this.getAllUsers()
	},

	methods: {
		// Pass data form the TableSearch component
		passSearchData(filteredItems) {
			this.users.visible = filteredItems
		},

		async getAllUsers() {
			try {
				const token = this.getUserToken
				// Get users from the api
				const res = await UserService.getAllUsers(token)

				const justUsers = res.data.records.filter(user => !user.roles.includes('admin'))
				// Get only approved users (status: 'approved', 'denied', 'pending')
				const pendingUsers = justUsers.filter(user => user.status === 'pending')

				pendingUsers.forEach((user, index) => {
					Object.assign(user, {
						tableData: {
							index: index,
							isSelected: false
						}
					})

					this.users.all.push(user)
				})

				// Calculate and set number of total pages
				this.pagination.totalPages = Math.ceil(this.users.all.length / this.pagination.usersPerPage)
				this.updateVisibleUsers()
				
			} catch(err) {
				// console.error(err.response)
				console.error(err)
			}
		},

		updateVisibleUsers() {
			this.users.visible = this.users.all.slice(this.pagination.currentPage * this.pagination.usersPerPage, (this.pagination.currentPage * this.pagination.usersPerPage) + this.pagination.usersPerPage)

			// If there is 0 visible users go back 1 page
			if (this.users.visible.length === 0 && this.pagination.currentPage > 0) {
				this.updatePage(this.pagination.currentPage - 1)
			}
		},

		updatePage(pageNumber) {
			this.pagination.currentPage = pageNumber
			this.updateVisibleUsers()
		},

		// selectUser(selectedUser) {
		// 	const isChecked = event.target.checked
			
		// 	if (isChecked) {
		// 		selectedUser.tableData.isSelected = true
		// 		this.users.selected.push(selectedUser)
		// 	} else {
		// 		const allSelectedUsers = this.users.selected
		// 		selectedUser.tableData.isSelected = false
		// 		this.users.selected = allSelectedUsers.filter(user => user.id !== selectedUser.id)
		// 	}
		// 	// console.log('All selected users: ', this.users.selected)
		// },

		// selectAllUsers() {
		// 	const isChecked = event.target.checked
			
		// 	if (isChecked) {
		// 		this.users.selected = this.users.visible
		// 		this.users.visible.forEach(user => user.tableData.isSelected = true)
		// 		this.updateVisibleUsers()
		// 	} else {
		// 		this.users.selected = []
		// 		this.users.visible.forEach(user => user.tableData.isSelected = false)
		// 		this.updateVisibleUsers()
		// 	}

		// 	// console.log('Select all users: ', this.users.selected)
		// 	// console.log('Visible users: ', this.users.visible)
		// },

		async approveUser(userToApprove) {
			const areYouSure = confirm(`Are you sure that you want to approve a user: \n${userToApprove.email}`)

			try {
				if (!areYouSure) return
				
				const token = this.getUserToken
				const query = {
					id: userToApprove.id,
					replace: {
						status: 'approved'
					}
				}
				// Send request to approve a user
				const res = await UserService.updateUser(query, token)

				if (res.status === 200) {
					// Success message
					this.users.messages.success.userApproved.email = userToApprove.email

					// Remove previous timeout
					clearTimeout(this.users.messages.success.userApproved.timeout)
					// Remove message after some time
					this.users.messages.success.userApproved.timeout = setTimeout(() => {
						this.users.messages.success.userApproved.email = null
					}, 3000)

					// Remove approved user from the UI
					const filteredUsers = this.users.all.filter(user => user.id !== userToApprove.id)
					// Update user tableData indexes
					filteredUsers.forEach((user, index) => {
						user.tableData.index = index
					})
					// Set new users array without approved user
					this.users.all = filteredUsers

					this.updateVisibleUsers()
				}
			} catch (err) {
				// console.error(err.response)
				console.error(err)
			}
		},

		async declineUser(userToDecline) {
			const areYouSure = confirm(`Are you sure that you want to decline a user: \n${userToDecline.email}`)

			try {
				if (!areYouSure) return

				const token = this.getUserToken
				const query = {
					id: userToDecline.id,
					replace: {
						status: 'denied'
					}
				}
				// Send request to decline a user
				const res = await UserService.updateUser(query, token)

				if (res.status === 200) {
					// Success message
					this.users.messages.success.userDeclined.email = userToDecline.email

					// Remove previous timeout
					clearTimeout(this.users.messages.success.userDeclined.timeout)
					// Remove message after some time
					this.users.messages.success.userDeclined.timeout = setTimeout(() => {
						this.users.messages.success.userDeclined.email = null
					}, 3000)

					// Remove declined user from the UI
					const filteredUsers = this.users.all.filter(user => user.id !== userToDecline.id)
					// Update user tableData indexes
					filteredUsers.forEach((user, index) => {
						user.tableData.index = index
					})
					// Set new users array without declined user
					this.users.all = filteredUsers

					this.updateVisibleUsers()
				}
			} catch (err) {
				// console.error(err.response)
				console.error(err)
			}
		},
		
		// editUser(userId) {
		// 	return alert('In development')
		// },

		// async deleteUser(userToDelete) {
		// 	const token = this.getUserToken
		// 	const id = userToDelete.id

		// 	// const areYouSure = confirm(`Are you sure that you want to delete a user: \n${userToDelete.email}`)

		// 	try {
		// 		if (areYouSure) {
		// 			// Send request to delete a user
		// 			const res = await UserService.deleteUser(id, token)

		// 			// If user is successfuly deleted
		// 			if (res.status === 204) {
		// 				// Success message
		// 				// this.users.messages.success.userDeleted.email = userToDelete.email

		// 				// Remove previous timeout
		// 				// clearTimeout(this.users.messages.success.userDeleted.timeout)
		// 				// // Remove message after some time
		// 				// this.users.messages.success.userDeleted.timeout = setTimeout(() => {
		// 				// 	this.users.messages.success.userDeleted.email = null
		// 				// }, 3000)

		// 				// Remove user from the UI
		// 				const filteredUsers = this.users.all.filter(user => user.id !== userToDelete.id)

		// 				// Update user tableData indexes
		// 				filteredUsers.forEach((user, index) => {
		// 					user.tableData.index = index
		// 				})

		// 				// Set new users array without deleted user
		// 				this.users.all = filteredUsers
						
		// 				this.updateVisibleUsers()
		// 			}
		// 		}
		// 	} catch (err) {
		// 		console.error(err.response)
		// 	}
		// }
	}
}
</script>

<style scoped lang="scss">
	.listOfApplicants {
		max-width: 1200px;
		margin: 0 auto;

		thead {
			color: #fff;
			background-color: rgba(70, 70, 70, 1);

			th {
				font-weight: 600;
				font-size: 16px;
			}
		}

		.non-selectable-text {
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

		.user-item {
			color: #fff;
			transition: opacity 100ms ease-in-out;
			background-color: rgba(70, 70, 70, 0.6);
			transition: background 150ms ease-in-out;
			
			&:hover {
				background-color: rgba(70, 70, 70, 1);
				// cursor: pointer;

				.actions button {
					opacity: 1;
				}
			}

			td,
			th {
				vertical-align: middle;
			}

			.single-select {

				// input[type="checkbox"] {
				// 	display: none;
				// }

				// input[type="checkbox"] + label {
				// 	color:red;
				// }

				// input[type="checkbox"] + label span {
				// 	display: inline-block;
				// 	width: 19px;
				// 	height: 19px;
				// 	margin: -2px 10px 0 0;
				// 	vertical-align: middle;
				// 	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png') left top no-repeat;
				// 	cursor: pointer;
				// }

				// input[type="checkbox"]:checked + label span {
				// 	background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png') -19px top no-repeat;
				// }
			}

			.temporary-index {
				background-color: rgba(70, 70, 70, 1);
			}
			
			.actions {

				button {
					opacity: 0;

					.edit-icon {
						position: relative;
						left: 2px;
					}
				}
			}
		}

		/* Header
		=====================*/
		header {
			display: flex;
			width: 100%;
			justify-content: space-between;

			/* Search input
			=====================*/
			.tableSearchInput {
				align-self: flex-start;
				max-width: 340px;
			}

			// /* Pagination
			// =====================*/
			// nav {
			// 	padding: 0;
			// 	align-self: flex-end;

			// 	.pagination {
			// 		display: flex;
			// 		padding: 0;

			// 		.pagination-listing-info {
			// 			display: flex;
			// 			justify-content: center;
			// 			align-items: center;
			// 			padding: 0 8px;
			// 			font-size: 13px;
			// 		}
			// 	}
			// }
		}

	} /* List of users */
</style>