<template>
	<div class="listOfUsers">
		<header>
			<!-- Search -->
			<TableSearch
				:items="users.all"
				:itemType="'user'"
				v-on:newSearchData="passSearchData"
			/>

			<TablePagination
				v-on:currentPageChange="updatePage"
				:all="users.all"
				:visible="users.visible"
				:totalPages="pagination.totalPages"
				:itemsPerPage="pagination.usersPerPage"
			/>
		</header>

		<!-- Messages -->
		<!-- TODO: Create component only for displaying messages -->
		<div class="messages">
			<!-- User deleted message -->
			<div v-if="users.messages.success.userDeleted.email"
				class="alert alert-success"
				role="alert"
			>
				Deleted user: {{ users.messages.success.userDeleted.email }}
			</div>
		</div>

		<!-- Table -->
		<table class="table table-sm">
			<!-- Head -->
			<thead class="non-selectable-text">
				<tr>
					<th v-if="table.options.isSingleSelectOn">
						<input @click="selectAllUsers" type="checkbox">
					</th>
					<th
						v-for="item in table.head"
						:key="item.text"
						:class="item.classes"
						scope="col"
					>
						{{ item.text }}
					</th>
				</tr>
			</thead>

			<!-- Body -->
			<tbody>
				<tr
					v-for="user in users.visible"
					:key="user.id"
					class="user-item"
				>
						<td v-if="table.options.isSingleSelectOn" class="single-select">
							<input
								type="checkbox"
								v-bind:id="user.id"
								@change="selectUser(user)"
								v-model="user.tableData.isSelected"
							>
							<label v-bind:for="user.id "><span></span></label>
						</td>
						<th scope="row" class="temporary-index">{{ user.tableData.index + 1 }}</th>
						<td>{{ user.firstName }} {{ user.middleName }} {{ user.lastName }}</td>
						<td>{{ user.login }}</td>
						<td v-if="user.instagramUsername">{{ user.instagramUsername}}</td>
						<td v-else>N/A</td>
						<td>{{ user.invitedBy }}</td>
						<td>{{ user.status }}</td>
						<td class="actions">
							<button @click="editUser(user.id)" class="btn btn-primary mr-3">
								<font-awesome-icon
									:icon="['fas', 'edit']"
									:class="['edit-icon']"
								/>
							</button>
							<button @click="deleteUser(user)" class="btn btn-danger">
								<font-awesome-icon
									:icon="['fas', 'trash-alt']"
									:class="['delete-icon']"
								/>
							</button>
						</td>
				</tr>
			</tbody>
		</table>

		<!-- If there are no users -->
		<div v-if="users.all.length === 0">
			No users
		</div>
		
	</div>
</template>

<script>
// Services
import UserService from '@/services/admin/UserService'
// Helpers
import { mapGetters } from 'vuex'
// Components
import TableSearch from '@/components/TableSearch'
import TablePagination from '@/components/TablePagination'
// Font Awesome icons
import { library, dom } from '@fortawesome/fontawesome-svg-core'
import { faEdit, faTrashAlt, faAngleLeft, faAngleRight, faAngleDoubleLeft, faAngleDoubleRight } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
library.add(faEdit, faTrashAlt, faAngleLeft, faAngleRight, faAngleDoubleLeft, faAngleDoubleRight)
dom.watch()

export default {
	name: 'TableOfUsers',
	components: { FontAwesomeIcon, TableSearch, TablePagination },

	computed: {
		...mapGetters(['getUserToken']),
	},

	data() {
		return {
			// User data
			users: {
				all: [],
				visible: [],
				selected: [],
				messages: {
					success: {
						userDeleted: {
							email: null, // null or email from deleted user
							timeout: 0
						},
					}
				}
			},
			// Table data
			table: {
				head: [
					{ text: '#', classes: 'index' },
					{ text: 'Name', classes: 'name' },
					{ text: 'Email', classes: 'email' },
					{ text: 'Instagram', classes: 'instagram' },
					{ text: 'Invited by', classes: 'invited-by' },
					{ text: 'Status', classes: 'status' },
					{ text: 'Actions', classes: 'actions' }
				],
				options: {
					isSingleSelectOn: false
				}
			},
			// Pagination
			pagination: {
				totalPages: 0,
				currentPage: 0,
				usersPerPage: 10
			}
		}
	},

	created() {
		this.getAllUsers()
	},

	methods: {
		// Pass data form the TableSearch component
		passSearchData(filteredItems) {
			this.users.visible = filteredItems
		},

		async getAllUsers() {
			try {
				const token = this.getUserToken
				// Get users from the api
				const res = await UserService.getAllUsers(token)

				const justUsers = res.data.records.filter(user => !user.roles.includes('admin'))
				// Get only approved users (status: 'approved', 'denied', 'pending')
				const approvedUsers = justUsers.filter(user => user.status === 'approved')

				approvedUsers.forEach((user, index) => {
					Object.assign(user, {
						tableData: {
							index: index,
							isSelected: false
						}
					})

					this.users.all.push(user)
				})

				// Calculate and set number of total pages
				this.pagination.totalPages = Math.ceil(this.users.all.length / this.pagination.usersPerPage)

				this.updateVisibleUsers()
			} catch(err) {
				// console.error(err.response)
				console.error(err)
			}
		},

		updatePage(pageNumber) {
			this.pagination.currentPage = pageNumber
			this.updateVisibleUsers()
		},

		updateVisibleUsers() {
			this.users.visible = this.users.all.slice(this.pagination.currentPage * this.pagination.usersPerPage, (this.pagination.currentPage * this.pagination.usersPerPage) + this.pagination.usersPerPage)

			// If there is 0 visible users go back 1 page
			if (this.users.visible.length === 0 && this.pagination.currentPage > 0) {
				this.updatePage(this.pagination.currentPage - 1)
			}
		},

		selectUser(selectedUser) {
			const isChecked = event.target.checked
			
			if (isChecked) {
				selectedUser.tableData.isSelected = true
				this.users.selected.push(selectedUser)
			} else {
				const allSelectedUsers = this.users.selected
				selectedUser.tableData.isSelected = false
				this.users.selected = allSelectedUsers.filter(user => user.id !== selectedUser.id)
			}
			// console.log('All selected users: ', this.users.selected)
		},

		selectAllUsers() {
			const isChecked = event.target.checked
			
			if (isChecked) {
				this.users.selected = this.users.visible
				this.users.visible.forEach(user => user.tableData.isSelected = true)
				this.updateVisibleUsers()
			} else {
				this.users.selected = []
				this.users.visible.forEach(user => user.tableData.isSelected = false)
				this.updateVisibleUsers()
			}

			// console.log('Select all users: ', this.users.selected)
			// console.log('Visible users: ', this.users.visible)
		},
		
		editUser(userId) {
			return alert('In development')
			// console.log('Edit user: ', userId)
		},

		async deleteUser(userToDelete) {
				const areYouSure = confirm(`Are you sure that you want to delete a user: \n${userToDelete.email}`)

				try {
					if (!areYouSure) return

					const token = this.getUserToken
					const id = userToDelete.id
					// Send request to delete a user
					const res = await UserService.deleteUser(id, token)

					// If user is successfuly deleted
					if (res.status === 204) {
						// Success message
						this.users.messages.success.userDeleted.email = userToDelete.email

						// Remove previous timeout
						clearTimeout(this.users.messages.success.userDeleted.timeout)
						// Remove message after some time
						this.users.messages.success.userDeleted.timeout = setTimeout(() => {
							this.users.messages.success.userDeleted.email = null
						}, 3000)

						// Remove user from the UI
						const filteredUsers = this.users.all.filter(user => user.id !== userToDelete.id)

						// Update user tableData indexes
						filteredUsers.forEach((user, index) => {
							user.tableData.index = index
						})

						// Set new users array without deleted user
						this.users.all = filteredUsers
						
						this.updateVisibleUsers()
					}
				} catch (err) {
					// console.error(err.response)
					console.error(err)
				}
			}
	}
}
</script>

<style scoped lang="scss">
	.listOfUsers {
		max-width: 1200px;
		margin: 0 auto;

		thead {
			color: #fff;
			background-color: rgba(70, 70, 70, 1);

			th {
				font-weight: 600;
				font-size: 16px;
			}
		}

		.non-selectable-text {
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

		.user-item {
			color: #fff;
			transition: opacity 100ms ease-in-out;
			background-color: rgba(70, 70, 70, 0.6);
			transition: background 150ms ease-in-out;
			
			&:hover {
				background-color: rgba(70, 70, 70, 1);
				// cursor: pointer;

				.actions button {
					opacity: 1;
				}
			}

			td,
			th {
				vertical-align: middle;
			}

			.single-select {

				// input[type="checkbox"] {
				// 	display: none;
				// }

				// input[type="checkbox"] + label {
				// 	color:red;
				// }

				// input[type="checkbox"] + label span {
				// 	display: inline-block;
				// 	width: 19px;
				// 	height: 19px;
				// 	margin: -2px 10px 0 0;
				// 	vertical-align: middle;
				// 	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png') left top no-repeat;
				// 	cursor: pointer;
				// }

				// input[type="checkbox"]:checked + label span {
				// 	background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png') -19px top no-repeat;
				// }
			}

			.temporary-index {
				background-color: rgba(70, 70, 70, 1);
			}
			
			.actions {

				button {
					opacity: 0;

					.edit-icon {
						position: relative;
						left: 2px;
					}
				}
			}
		}

		/* Header
		=====================*/
		header {
			display: flex;
			width: 100%;
			justify-content: space-between;

			/* Search input
			=====================*/
			.tableSearchInput {
				align-self: flex-start;
				max-width: 340px;
			}

			// /* Pagination
			// =====================*/
			// nav {
			// 	padding: 0;
			// 	align-self: flex-end;

			// 	.pagination {
			// 		display: flex;
			// 		padding: 0;

			// 		.pagination-listing-info {
			// 			display: flex;
			// 			justify-content: center;
			// 			align-items: center;
			// 			padding: 0 8px;
			// 			font-size: 13px;
			// 		}
			// 	}
			// }
		}

	} /* List of users */
</style>