<template>
	<div class="travel-table">
		<header>
			<!-- Search -->
			<TableSearch
				:items="events.all"
				:itemType="'event'"
				v-on:newSearchData="passSearchData"
			/>

			<TablePagination
				v-on:currentPageChange="updatePage"
				:all="events.all"
				:visible="events.visible"
				:totalPages="pagination.totalPages"
				:itemsPerPage="pagination.eventsPerPage"
			/>
		</header>

		<!-- Messages -->
		<div class="messages">
			<!-- Event deleted message -->
			<!-- <div v-if="events.messages.success.eventDeleted.name"
				class="alert alert-success"
				role="alert"
			>
				Deleted Event: {{ events.messages.success.eventDeleted.name }}
			</div> -->
		</div>

		<!-- Table -->
		<table class="table table-sm">
			<!-- Head -->
			<thead class="non-selectable-text">
				<tr>
					<th v-if="table.options.isSingleSelectOn">
						<input @click="selectAllEvents" type="checkbox">
					</th>
					<th
						v-for="item in table.head"
						:key="item.text"
						:class="item.classes"
						scope="col"
					>
						{{ item.text }}
					</th>
				</tr>
			</thead>

			<!-- Body -->
			<tbody>
				<tr
					v-for="event in events.visible"
					:key="event.id"
					@click="viewTrip(event.id)"
					class="event-item"
				>
						<th scope="row" class="temporary-index">{{ event.tableData.index + 1 }}</th>
						<td>{{ event.name }}</td>
						<td v-html="formatDate(event.dateBegins)"></td>
						<td v-html="formatDate(event.dateEnds)"></td>
						<td>{{ event.startLocation }}</td>
						<td>{{ event.endLocation }}</td>
						<td class="actions">
							<button @click="viewEventTrips(event.id)" class="btn btn-info">
								View trips
							</button>
						</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</template>

<script>
// Components
import TableSearch from '@/components/TableSearch'
import TablePagination from '@/components/TablePagination'
// Services
import EventService from '@/services/EventService'
import TripService from '@/services/TripService'
import AttendanceService from '@/services/AttendanceService'
// Helpers
import { mapGetters } from 'vuex'
import { formatDateTime } from '@/helpers'

export default {
	components: { TableSearch, TablePagination },

	computed: {
		...mapGetters(['getUserToken'])
	},

	data() {
		return {
			// Event data
			events: {
				all: [],
				visible: [],
				selected: [],
				messages: {
					success: {},
					errors: {}
				}
			},

			// Table data
			table: {
				head: [
					{ text: '#', classes: 'index' },
					{ text: 'Event', classes: 'event-name' },
					{ text: 'Date begins', classes: 'date-begins' },
					{ text: 'Date ends', classes: 'date-ends' },
					{ text: 'Start location', classes: 'start-location' },
					{ text: 'End location', classes: 'end-location' },
					{ text: 'Actions', classes: 'actions' }
				],
				options: {
					isSingleSelectOn: false
				}
			},

			// Pagination
			pagination: {
				totalPages: 0,
				currentPage: 0,
				eventsPerPage: 10
			}
		}
	},

	created() {
		this.getAllEvents()
	},

	methods: {
		async getAllEvents() {
			try {
				const token = this.getUserToken
				// Get all Events
				const res = await EventService.getAllEvents(token)

				// const justUsers = res.data.records.filter(user => !user.roles.includes('admin'))
				const events = res.data.records

				events.forEach((event, index) => {
					Object.assign(event, {
						tableData: {
							index: index
						}
					})

					this.events.all.push(event)
				})

				// Calculate and set number of total pages
				this.pagination.totalPages = Math.ceil(this.events.all.length / this.pagination.eventsPerPage)

				this.updateVisibleEvents()

			} catch(err) {
				console.error(err)
			}
		},

		updatePage(pageNumber) {
			this.pagination.currentPage = pageNumber
			this.updateVisibleEvents()
		},

		updateVisibleEvents() {
			this.events.visible = this.events.all.slice(this.pagination.currentPage * this.pagination.eventsPerPage, (this.pagination.currentPage * this.pagination.eventsPerPage) + this.pagination.eventsPerPage)

			// If there is 0 visible events go back 1 page
			if (this.events.visible.length === 0 && this.pagination.currentPage > 0) {
				this.updatePage(this.pagination.currentPage - 1)
			}
		},
		
		async viewEventTrips(eventId) {
			// Stop event bubbling
			event.stopPropagation()

			try {
				const isEventSet = await this.$store.dispatch('setCurrentlyViewingEvent', eventId)

				if (isEventSet) {
					this.$router.push({ name: 'admin-event-trips-manage' })
				}

			} catch (err) {
				console.error(err)
			}
		},

		async viewEvent(eventId) {
			try {
				const isEventSet = await this.$store.dispatch('setCurrentlyViewingEvent', eventId)

				if (isEventSet) {
					this.$router.push({ name: 'admin-view-event-page' })
				}

			} catch (err) {
				console.error(err)
			}
		},

		formatDate: (inputDate) => formatDateTime(inputDate),

		// Pass data form the TableSearch component
		passSearchData(filteredItems) {
			this.events.visible = filteredItems
		}
		
	} /* methods */
}
</script>

<style scoped lang="scss">
	.travel-table {
		max-width: 1200px;
		margin: 0 auto;

		thead {
			color: #fff;
			background-color: rgba(70, 70, 70, 1);

			th {
				font-weight: 600;
				font-size: 16px;
			}
		}

		.non-selectable-text {
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

		.event-item {
			color: #fff;
			transition: opacity 100ms ease-in-out;
			background-color: rgba(70, 70, 70, 0.6);
			transition: background 150ms ease-in-out;
			
			&:hover {
				background-color: rgba(70, 70, 70, 1);
				// cursor: pointer;

				.actions button {
					opacity: 1;
				}
			}

			td,
			th {
				vertical-align: middle;
			}

			.temporary-index {
				background-color: rgba(70, 70, 70, 1);
			}
			
			.actions {

				button {
					opacity: 0;

					.edit-icon {
						position: relative;
						left: 2px;
					}
				}
			}
		}

		/* Header
		=====================*/
		header {
			display: flex;
			width: 100%;
			justify-content: space-between;

			/* Search input
			=====================*/
			.tableSearchInput {
				align-self: flex-start;
				max-width: 340px;
			}

			// /* Pagination
			// =====================*/
			// nav {
			// 	padding: 0;
			// 	align-self: flex-end;

			// 	.pagination {
			// 		display: flex;
			// 		padding: 0;

			// 		.pagination-listing-info {
			// 			display: flex;
			// 			justify-content: center;
			// 			align-items: center;
			// 			padding: 0 8px;
			// 			font-size: 13px;
			// 		}
			// 	}
			// }
		}

	}
</style>