<template>
	<div class="trips-table">
		<header>
			<!-- Search -->
			<!-- TODO: Create trip search functionality in search component -->
			<TableSearch
				:items="trips.all"
				:itemType="'trip'"
				v-on:newSearchData="passSearchData"
			/>

			<TablePagination
				v-on:currentPageChange="updatePage"
				:all="trips.all"
				:visible="trips.visible"
				:totalPages="pagination.totalPages"
				:itemsPerPage="pagination.tripsPerPage"
			/>
		</header>

		<!-- Messages -->
		<div class="messages">
			<!-- Event deleted message -->
			<!-- <div v-if="trips.messages.success.eventDeleted.name"
				class="alert alert-success"
				role="alert"
			>
				Deleted Event: {{ trips.messages.success.eventDeleted.name }}
			</div> -->
		</div>

		<!-- Table -->
		<table class="table table-sm">
			<!-- Head -->
			<thead class="non-selectable-text">
				<tr>
					<th v-if="table.options.isSingleSelectOn">
						<input @click="selectAllEvents" type="checkbox">
					</th>
					<th
						v-for="item in table.head"
						:key="item.text"
						:class="item.classes"
						scope="col"
					>
						{{ item.text }}
					</th>
				</tr>
			</thead>

			<!-- Body -->
			<tbody>
				<tr
					v-for="trip in trips.visible"
					:key="trip.id"
					@click="manageTrip(trip.id)"
					class="trip-item"
					:title="`Manage trip status for ${trip.name}`"
				>
					<!-- <th scope="row" class="temporary-index">{{ trip.tableData.index + 1 }}</th> -->
					<th scope="row" class="temporary-index">{{ trip.tableData.index + 1 }}</th>
					<td>{{ trip.name }}</td>
					<td>{{ trip.fullName }}</td>
					<td v-html="formatDate(trip.tripDate)"></td>
					<td>{{ trip.status }}</td>
					<!-- <td class="actions">
						<button
							@click="manageEventTrips(trip.id)"
							class="btn btn-info"
						>
							Action
						</button>
					</td> -->
				</tr>
			</tbody>
		</table>
		
	</div>
</template>

<script>
// Components
import TableSearch from '@/components/TableSearch'
import TablePagination from '@/components/TablePagination'
// Services
import AttendanceService from '@/services/AttendanceService'
// Helpers
import { mapGetters } from 'vuex'
import { formatDateTime } from '@/helpers'

export default {
	components: { TableSearch, TablePagination },

	computed: {
		...mapGetters(['getUserToken', 'getCurrentlyViewingEvent'])
	},

	data() {
		return {
			// Trip data
			trips: {
				all: [],
				visible: [],
				selected: [],
				messages: {
					success: {},
					errors: {}
				}
			},

			// Table data
			table: {
				head: [
					{ text: '#', classes: 'index' },
					{ text: 'Trip', classes: 'trip-name' },
					{ text: 'User', classes: 'user-name' },
					{ text: 'Trip date', classes: 'trip-date' },
					{ text: 'Status', classes: 'trip-status' },
					// { text: 'Actions', classes: 'actions' }
				],
				options: {
					isSingleSelectOn: false
				}
			},

			// Pagination
			pagination: {
				totalPages: 0,
				currentPage: 0,
				tripsPerPage: 10
			}
		}
	},

	created() {
		this.getAttendancesAndTripsByEventId()
	},
	
	methods: {
		
		async getAttendancesAndTripsByEventId() {
			try {
				const eventId = this.getCurrentlyViewingEvent
				const token = this.getUserToken

				const res = await AttendanceService.getAttendancesAndTripsByEventId(eventId, token)

				// If there are any trips
				if (res.data.include && res.data.include.trips) {
					const trips = res.data.include.trips.map((trip, index) => {
						Object.assign(trip, {
							tableData: {
								index: index
							}
						})

						return trip
					})

					this.trips.all = trips
					this.updateVisibleTrips()
				}

			} catch (err) {
				console.error(err)
			}
		},

		async manageTrip(tripId) {
			try {
				const isTripSet = await this.$store.dispatch('setCurrentlyViewingTrip', tripId)
				if (isTripSet) {
					this.$router.push({ name: 'admin-view-trip' })
				}

			} catch (err) {
				console.error(err)
			}
		},

		formatDate: (inputDate) => formatDateTime(inputDate),

		// Pass data form the TableSearch component
		passSearchData(filteredItems) {
			this.trips.visible = filteredItems
		},

		updatePage(pageNumber) {
			this.pagination.currentPage = pageNumber
			this.updateVisibleTrips()
		},

		updateVisibleTrips() {
			this.trips.visible = this.trips.all.slice(this.pagination.currentPage * this.pagination.tripsPerPage, (this.pagination.currentPage * this.pagination.tripsPerPage) + this.pagination.tripsPerPage)

			// If there is 0 visible trips go back 1 page
			if (this.trips.visible.length === 0 && this.pagination.currentPage > 0) {
				this.updatePage(this.pagination.currentPage - 1)
			}
		}
	}
}
</script>

<style scoped lang="scss">
	.trips-table {
		max-width: 1200px;
		margin: 0 auto;

		thead {
			color: #fff;
			background-color: rgba(70, 70, 70, 1);

			th {
				font-weight: 600;
				font-size: 16px;
			}
		}

		.non-selectable-text {
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

		.trip-item {
			color: #fff;
			transition: opacity 100ms ease-in-out;
			background-color: rgba(70, 70, 70, 0.6);
			transition: background-color 200ms ease-in-out;
			
			&:hover {
				background-color: rgba(70, 70, 70, 1);
				cursor: pointer;

				.actions button {
					opacity: 1;
				}
			}

			td,
			th {
				vertical-align: middle;
			}

			td {
				padding: 10px 0;
			}

			.temporary-index {
				background-color: rgba(70, 70, 70, 1);
			}
			
			.actions {

				button {
					opacity: 0;

					.edit-icon {
						position: relative;
						left: 2px;
					}
				}
			}
		}

		/* Header
		=====================*/
		header {
			display: flex;
			width: 100%;
			justify-content: space-between;

			/* Search input
			=====================*/
			.tableSearchInput {
				align-self: flex-start;
				max-width: 340px;
			}

			// /* Pagination
			// =====================*/
			// nav {
			// 	padding: 0;
			// 	align-self: flex-end;

			// 	.pagination {
			// 		display: flex;
			// 		padding: 0;

			// 		.pagination-listing-info {
			// 			display: flex;
			// 			justify-content: center;
			// 			align-items: center;
			// 			padding: 0 8px;
			// 			font-size: 13px;
			// 		}
			// 	}
			// }
		}

	} /* List of users */
</style>