<template>
	<div id="tableOfEvents">
		<header>
			<!-- Search -->
			<TableSearch
				:items="events.all"
				:itemType="'event'"
				v-on:newSearchData="passSearchData"
			/>

			<TablePagination
				v-on:currentPageChange="updatePage"
				:all="events.all"
				:visible="events.visible"
				:totalPages="pagination.totalPages"
				:itemsPerPage="pagination.eventsPerPage"
			/>
		</header>

		<div class="messages">
			<!-- Event deleted message -->
			<div v-if="events.messages.success.appliedOnEvent"
				class="alert alert-success"
				role="alert"
			>
				Invitation accepted successfully
			</div>
		</div>

		<!-- Table -->
		<table class="table table-sm">
			<!-- Head -->
			<thead class="non-selectable-text">
				<tr>
					<th
						v-for="item in table.head"
						:key="item.text"
						:class="item.classes"
						scope="col"
					>
						{{ item.text }}
					</th>
				</tr>
			</thead>

			<!-- Body -->
			<tbody>
				<tr
					v-for="(event, index) in events.visible"
					:key="event.id"
					class="event-item"
				>
						<th scope="row" class="temporary-index">{{ index + 1 }}</th>
						<td>{{ event.name }}</td>
						<td v-html="formatDate(event.dateBegins)"></td>
						<td v-html="formatDate(event.dateEnds)"></td>
						<td>{{ event.startLocation }}</td>
						<td>{{ event.endLocation }}</td>
						<td class="actions">
							<button
								@click="acceptInvitation(event)"
								class="btn btn-success mr-3"
								title="Accept event invitation"
							>
								Accept
							</button>
							<button
								@click="declineInvitation(event)"
								class="btn btn-danger"
								title="Decline event invitation"
							>
								Decline
							</button>
						</td>
				</tr>
			</tbody>
		</table>
		
		<!-- Modal -->
		<EventApplicationModal @invitationAccepted="invitationAccepted" />
	</div>
</template>

<script>
// Components
import TableSearch from '@/components/TableSearch'
import TablePagination from '@/components/TablePagination'
import EventApplicationModal from '@/components/user/modals/EventApplication'
// Services
import EventService from '@/services/EventService'
import AttendanceService from '@/services/AttendanceService'
// Helpers
import { mapGetters } from 'vuex'
import { formatDateTime } from '@/helpers'

export default {
	name: 'TableOfEvents',
	components: { TableSearch, TablePagination, EventApplicationModal },

	computed: {
		...mapGetters(['getUserToken']),
	},

	data() {
		return {
			// Event data
			events: {
				all: [],
				visible: [],

				// Messages
				messages: {
					success: {
						appliedOnEvent: false
					}
				}
			},

			invitations: [],

			// Table data
			table: {
				head: [
					{ text: '#', classes: 'index' },
					{ text: 'Name', classes: 'name' },
					{ text: 'Date begins', classes: 'email' },
					{ text: 'Date ends', classes: 'instagram' },
					{ text: 'Start location', classes: 'invited-by' },
					{ text: 'End location', classes: 'status' },
					{ text: 'Actions', classes: 'actions' }
				],
				options: {
				}
			},

			// Pagination
			pagination: {
				totalPages: 0,
				currentPage: 0,
				eventsPerPage: 5
			}
		}
	},

	created() {
		this.getUserAttendances()
	},

	methods: {
		formatDate: (inputDate) => formatDateTime(inputDate),

		// Pass data form the TableSearch component
		passSearchData(filteredItems) {
			this.events.visible = filteredItems
		},

		async getUserAttendances() {
			try {
				const token = this.getUserToken
				// Get all Attendances (invitations) for logged in user
				const res = await AttendanceService.getUserAttendances(token)

				const invitations = res.data.records
				this.invitations = invitations
				const events = await this.getEvents(invitations)

				events.forEach((event, index) => {
					Object.assign(event, {
						tableData: {
							index: index
						}
					})

					this.events.all.push(event)
				})

				// Calculate and set number of total pages
				this.pagination.totalPages = Math.ceil(this.events.all.length / this.pagination.eventsPerPage)
				this.updateVisibleEvents()

			} catch(err) {
				console.error(err)
			}
		},

		async getEvents(invitations) {
			try {
				let promises = invitations.map(async (invite) => {
					const token = this.getUserToken
					const id = invite.event
					const res = await EventService.getEventById(id, token)
					const event = await res.data.records[0]

					return event
				})

				const allEvents = await Promise.all(promises)

				return allEvents

			} catch (err) {
				console.error(err)
			}
		},

		async getEvent(id) {
			try {
				const token = this.getUserToken
				const res = await EventService.getEventById(id, token)
				const event = res.data.records[0]

				// this.events.all.push(event)
				return event
				
			} catch (err) {
				console.error(err)
			}
		},

		updatePage(pageNumber) {
			this.pagination.currentPage = pageNumber
			this.updateVisibleEvents()
		},

		updateVisibleEvents() {
			this.events.visible = this.events.all.slice(this.pagination.currentPage * this.pagination.eventsPerPage, (this.pagination.currentPage * this.pagination.eventsPerPage) + this.pagination.eventsPerPage)

			// If there is 0 visible events go back 1 page
			if (this.events.visible.length === 0 && this.pagination.currentPage > 0) {
				this.updatePage(this.pagination.currentPage - 1)
			}
		},
		
		acceptInvitation(appliedOnEvent) {
			// Stop event bubbling
			// event.stopPropagation()

			// Find the right invitation for clicked event
			const eventInvitation = this.invitations.filter(invite => invite.event === appliedOnEvent.id)[0]

			// Check if trips are included (company is buying cards)
			const isTripIncluded = eventInvitation.includesTrip

			// Open modal where user can fill out the data
			this.$modal.show('user-event-application', {
				appliedOnEvent: appliedOnEvent,
				isTripIncluded,
				eventInvitation
			})
		},

		invitationAccepted(attendanceResponse) {
			// Hide modal
			this.$modal.hide('user-event-application')
			// Display success message
			this.events.messages.success.appliedOnEvent = true
			// Remove message after some time
			setTimeout(() => {
				this.events.messages.success.appliedOnEvent = false
			}, 5000)

			const attendance = attendanceResponse.data.records[0]
			const acceptedEventId = attendance.event
			// TODO: Remove accepted event from the UI
			// Remove accepted event from the UI
			const filteredEvents = this.events.all.filter(event => event.id !== acceptedEventId)
			
			// Update invitation tableData indexes
			filteredEvents.map((event, index) => {
				event.tableData.index = index
			})

			// Set new events array without accepted event
			this.events.all = filteredEvents
			this.updateVisibleEvents()
		},

		async declineInvitation(declinedEvent) {
			const areYouSure = confirm(`Are you sure that you want to decline inviatation for: \n${declinedEvent.name}`)
			if (!areYouSure) return

			// Find the right invitation for clicked event
			const eventInvitation = this.invitations.filter(invite => invite.event === declinedEvent.id)[0]
			const attendanceId = eventInvitation.id

			const data = {
				id: attendanceId,
				replace: {
					status: 'denied'
				}
			}

			try {
				const token = this.getUserToken
				const res = await AttendanceService.declineEventInvite(data, token)

				// Remove declined event from the UI
				const filteredEvents = this.events.all.filter(event => event.id !== declinedEvent.id)

				// Update invitation tableData indexes
				filteredEvents.map((event, index) => {
					event.tableData.index = index
				})

				// Set new events array without deleted event
				this.events.all = filteredEvents
				this.updateVisibleEvents()

			} catch (err) {
				console.error(err)
			}
		}

	} /* methods */
}
</script>

<style scoped lang="scss">

	#tableOfEvents {
		max-width: 1200px;
		margin: 0 auto;

		thead {
			color: #fff;
			background-color: rgba(70, 70, 70, 1);

			th {
				font-weight: 600;
				font-size: 16px;
			}
		}

		.non-selectable-text {
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

		.event-item {
			color: #fff;
			transition: opacity 100ms ease-in-out;
			background-color: rgba(70, 70, 70, 0.6);
			transition: background 150ms ease-in-out;
			
			&:hover {
				background-color: rgba(70, 70, 70, 1);

				.actions button {
					opacity: 1;
				}
			}

			td,
			th {
				vertical-align: middle;
			}

			.temporary-index {
				background-color: rgba(70, 70, 70, 1);
			}
			
			.actions {

				button {
					opacity: 0;
				}
			}
		}

		/* Header
		=====================*/
		header {
			display: flex;
			width: 100%;
			justify-content: space-between;

			/* Search input
			=====================*/
			.tableSearchInput {
				align-self: flex-start;
				max-width: 340px;
			}

			// /* Pagination
			// =====================*/
			// nav {
			// 	padding: 0;
			// 	align-self: flex-end;

			// 	.pagination {
			// 		display: flex;
			// 		padding: 0;

			// 		.pagination-listing-info {
			// 			display: flex;
			// 			justify-content: center;
			// 			align-items: center;
			// 			padding: 0 8px;
			// 			font-size: 13px;
			// 		}
			// 	}
			// }
		}

	} /* List of Events */
</style>