<template>
	<div class="trips-table">
		<header>
			<!-- Search -->
			<TableSearch
				:items="events.all"
				:itemType="'event'"
				v-on:newSearchData="passSearchData"
			/>

			<TablePagination
				v-on:currentPageChange="updatePage"
				:all="events.all"
				:visible="events.visible"
				:totalPages="pagination.totalPages"
				:itemsPerPage="pagination.eventsPerPage"
			/>
		</header>

		<div class="messages">
			<!-- Event deleted message -->
			<!-- <div v-if="events.messages.success.appliedOnEvent"
				class="alert alert-success"
				role="alert"
			>
				Invitation accepted successfully
			</div> -->
		</div>

		<!-- Table -->
		<table class="table table-sm">
			<!-- Head -->
			<thead class="non-selectable-text">
				<tr>
					<th
						v-for="item in table.head"
						:key="item.text"
						:class="item.classes"
						scope="col"
					>
						{{ item.text }}
					</th>
				</tr>
			</thead>

			<!-- Body -->
			<tbody>
				<tr
					v-for="(event, index) in events.visible"
					:key="event.id"
					class="event-item"
				>
					<th scope="row" class="temporary-index">{{ index + 1 }}</th>
					<td>{{ event.name }}</td>
					<td v-html="formatDate(event.dateBegins)"></td>
					<td v-html="formatDate(event.dateEnds)"></td>
					<td>{{ event.startLocation }}</td>
					<td>{{ event.endLocation }}</td>
					<td class="actions">
						<button
							@click="addTravelDetails(event)"
							class="btn btn-success mr-3"
							title="Submit travel details for this event"
						>
							Add Details
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		
		<!-- Modal -->
		<!-- < @invitationAccepted="invitationAccepted" /> -->
	</div>
</template>

<script>
// Components
import TableSearch from '@/components/TableSearch'
import TablePagination from '@/components/TablePagination'

// Services
import EventService from '@/services/EventService'
import AttendanceService from '@/services/AttendanceService'
import TripService from '@/services/TripService'
// Helpers
import { mapGetters } from 'vuex'
import { formatDateTime } from '@/helpers'

export default {
	name: 'TripsTable',
	components: { TableSearch, TablePagination }, 

	computed: {
		...mapGetters(['getUserToken']),
	},

	data() {
		return {
			events: {
				all: [],
				visible: []
			},

			attendances: [],

			// Table data
			table: {
				head: [
					{ text: '#' },
					{ text: 'Name', classes: 'name' },
					{ text: 'Date begins', classes: 'date-begins' },
					{ text: 'Date ends', classes: 'date-ends' },
					{ text: 'Start location', classes: 'start-location' },
					{ text: 'End location', classes: 'end-location' },
					{ text: 'Actions', classes: 'actions' }
				],
				options: {
				}
			},

			// Pagination
			pagination: {
				totalPages: 0,
				currentPage: 0,
				eventsPerPage: 5
			}
		}
	},

	created() {
		this.getAcceptedEvents()
	},

	methods: {
		async getAcceptedEvents() {
			try {
				const token = this.getUserToken
				const res = await AttendanceService.getAcceptedAttendancesAndEvents(token)
				const attendances = res.data.records
				const events = res.data.include.events

				this.attendances = attendances

				const tripsRes = await TripService.getAllTrips(token)
				const allUserTrips = tripsRes.data.records

				events.forEach((event, index) => {
					Object.assign(event, {
						tableData: {
							index: index
						}
					})

					this.events.all.push(event)
				})

				// Calculate and set number of total pages
				this.pagination.totalPages = Math.ceil(this.events.all.length / this.pagination.eventsPerPage)
				this.updateVisibleEvents()

			} catch (err) {
				console.error(err.response)
			}
		},

		updatePage(pageNumber) {
			this.pagination.currentPage = pageNumber
			this.updateVisibleEvents()
		},

		updateVisibleEvents() {
			this.events.visible = this.events.all.slice(this.pagination.currentPage * this.pagination.eventsPerPage, (this.pagination.currentPage * this.pagination.eventsPerPage) + this.pagination.eventsPerPage)

			// If there is 0 visible events go back 1 page
			if (this.events.visible.length === 0 && this.pagination.currentPage > 0) {
				this.updatePage(this.pagination.currentPage - 1)
			}
		},

		addTravelDetails(toEvent) {
			const attendance = this.attendances.filter(attendance => attendance.event == toEvent.id)
			const attendanceId = attendance[0].id

			// Set attendance in the store and localStorage
			const isAttendanceSet = this.$store.dispatch('setCurrentlyViewingAttendance', attendanceId)

			if (isAttendanceSet) {
				// Navigate user to a page for filling out the trip data
				this.$router.push({
					name: 'user-trips-form'
				})
			}
		},

		formatDate: (inputDate) => formatDateTime(inputDate),

		// Pass data form the TableSearch component
		passSearchData(filteredItems) {
			this.events.visible = filteredItems
		}
	} /* methods */
}
</script>

<style scoped lang="scss">

	.trips-table {
		max-width: 1200px;
		margin: 0 auto;

		thead {
			color: #fff;
			background-color: rgba(70, 70, 70, 1);

			th {
				font-weight: 600;
				font-size: 16px;
			}
		}

		.non-selectable-text {
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

		.event-item {
			color: #fff;
			transition: opacity 100ms ease-in-out;
			background-color: rgba(70, 70, 70, 0.6);
			transition: background 150ms ease-in-out;
			
			&:hover {
				background-color: rgba(70, 70, 70, 1);

				.actions button {
					opacity: 1;
				}
			}

			td,
			th {
				vertical-align: middle;
			}

			.temporary-index {
				background-color: rgba(70, 70, 70, 1);
			}
			
			.actions {

				button {
					opacity: 0;
				}
			}
		}

		/* Header
		=====================*/
		header {
			display: flex;
			width: 100%;
			justify-content: space-between;

			/* Search input
			=====================*/
			.tableSearchInput {
				align-self: flex-start;
				max-width: 340px;
			}

			// /* Pagination
			// =====================*/
			// nav {
			// 	padding: 0;
			// 	align-self: flex-end;

			// 	.pagination {
			// 		display: flex;
			// 		padding: 0;

			// 		.pagination-listing-info {
			// 			display: flex;
			// 			justify-content: center;
			// 			align-items: center;
			// 			padding: 0 8px;
			// 			font-size: 13px;
			// 		}
			// 	}
			// }
		}

	} /* List of Events */
</style>