
@font-face {
  font-family: "Nunito";
  src: url("~@/assets/fonts/Nunito/Nunito-Light.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Nunito";
  src: url("~@/assets/fonts/Nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: url("~@/assets/fonts/Nunito/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Nunito";
  src: url("~@/assets/fonts/Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Nunito";
  src: url("~@/assets/fonts/Nunito/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 900;
}