<template>
	<div class="account-page">
		<div class="content-holder">
			<!-- If user didnt finished account -->
			<div 
				v-if="!isUserProfileFinished"
				class="finish-up-account-form"
			>
				<FinishUpYourAccount />
			</div>

			<!-- If user finished creating account -->
			<div 
				v-else
				class=""
			>
				<div class="account-information-holder">
					<div class="content-holder">
						<AccountInformation />
					</div>
				</div>
				<div class="model-information-holder">
					<div class="content-holder">
						<ModelInformation />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
// Components
import FinishUpYourAccount from '@/components/user/forms/FinishUpYourAccount'
import ModelInformation from '@/components/user/forms/ModelInformation'
import AccountInformation from '@/components/user/forms/AccountInformation'

// Helpers
import { mapGetters } from 'vuex'

export default {
	components: { FinishUpYourAccount, ModelInformation, AccountInformation },

	computed: {
		...mapGetters(['getIsUserProfileFinished']),

		isUserProfileFinished() {
			return this.getIsUserProfileFinished
		}
	}
}
</script>

<style lang="scss">
	.account-page {

		.account-information-holder {
			width: 100%;
			max-width: 100%;
			background-color: #f3f3f3;		

			.content-holder {
				margin: 0 auto;
				max-width: 1000px;

				h2.heading {
					margin-bottom: 40px;
				}
			}
		}

		.model-information-holder {
			width: 100%;
			max-width: 100%;

			.content-holder {
				margin: 0 auto;
				max-width: 1000px;

				.modelInformation {
					padding: 40px 40px;

					h2.heading {
						margin-bottom: 40px;
					}
				}
			}
		}
	}


</style>