<template>
	<div class="add-trip-data-page">
		<h2>Trip details</h2>

		<div class="trip-form-wrapper">
			<div class="content-holder">
				<TripForm />
			</div>
		</div>
	</div>
</template>

<script>
import TripForm from '@/components/user/forms/ApplyForTrip'

export default {
	components: { TripForm }

}
</script>

<style lang="scss">
	.add-trip-data-page {

		.trip-form-wrapper {
			width: 100%;
			max-width: 100%;
			background-color: #f3f3f3;		

			.content-holder {
				margin: 0 auto;
				max-width: 1000px;

				h2.heading {
					margin-bottom: 40px;
				}

				.trip-information-form {
					padding: 40px 40px;

					h2.heading {
						margin-bottom: 40px;
					}
				}
			}
		}
	}
</style>