<template>
	<div>
		<div class="apply-for-event-holder">
			<!-- <ApplyForEvent /> -->
		</div>
	</div>
</template>

<script>
// Components
// import ApplyForEvent from '@/components/user/forms/ApplyForEvent'

export default {
	// name: 'attend-event-page',

	// components: { ApplyForEvent }
}
</script>

<style>

</style>