<template>
	<div class="attend-event-page">
		<h1>Event Invitations</h1>
		
		<div class="event-invitations-holder">
			<EventInvitations />
		</div>
	</div>
</template>

<script>
// Components
import EventInvitations from '@/components/user/tables/EventInvitations'

export default {
	components: { EventInvitations }
}
</script>

<style lang="scss">
	.attend-event-page {
		
		.event-invitations-holder {
			padding: 30px;
		}
	}
</style>