<template>
	<div class="trips-page">
		<h1>Travel</h1>

		<div class="trips-holder">
			<TripsTable />
		</div>
	</div>
</template>

<script>
// Components
import TripsTable from '@/components/user/tables/Trips'

export default {
	components: { TripsTable }

}
</script>

<style lang="scss">
	.trips-page {

		.trips-holder {
			padding: 30px;
		}
	}
</style>