<template>
	<nav id="admin-sidebar">
		<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<router-link to="/admin" class="sidebar-brand d-flex align-items-center justify-content-center">
				<div class="sidebar-brand-icon">
					<img class="sidebar-logo" src="@/assets/images/logo/alpha-logo.png" alt="Ignite">
				</div>
		<div class="sidebar-brand-text mx-3">
					events
				</div>
			</router-link>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Sub Heading -->
      <div class="sidebar-heading">
        Interface
      </div>

			<!-- MY ACCOUNT -->
			<li class="nav-item">
				<router-link to="/admin/my-account" class="nav-link collapsed">
					<font-awesome-icon :icon="['fas', 'user-cog']" class="icon" />
          <span class="nav-item-name">My account</span>
				</router-link>
			</li>

			<!-- APPLICANTS -->
			<li class="nav-item">
        <a @click="handleDropdownToggle('applicants')" 
					:class="[!dropdowns.applicants ? 'not-active-dropdown-link' : 'active-dropdown-link', 'nav-link', 'collapsed']"
					href="#" 
					data-toggle="collapse" 
					data-target="#applicantsDropdown" 
					aria-expanded="true" 
					aria-controls="applicantsDropdown"
				>
          <font-awesome-icon :icon="['fas', 'users']" class="icon" /> 
					<span class="nav-item-name">Applicants</span>
					<div 
						:class="[!dropdowns.applicants ? 'active-dropdown' : 'not-active-dropdown', 'dropdown-arrow-icon']"
					>
						<font-awesome-icon 
							:icon="['fas', 'angle-right']"
						/>
					</div>
        </a>
        <div id="applicantsDropdown" class="collapse" aria-labelledby="applicantsDropdown" data-parent="#applicantsDropdown">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Applicant manager</h6>
            <router-link to="/admin/applicants" class="collapse-item">
							Applicant List
						</router-link>
						<router-link to="/admin/invite-users" class="collapse-item">
							Invite users
						</router-link>         
          </div>
        </div>
      </li>

			<!-- USERS -->
      <li class="nav-item">
        <a @click="handleDropdownToggle('users')" 
					:class="[!dropdowns.users ? 'not-active-dropdown-link' : 'active-dropdown-link', 'nav-link', 'collapsed']"
					href="#" 
					data-toggle="collapse" 
					data-target="#usersDropdown" 
					aria-expanded="true" 
					aria-controls="usersDropdown"
				>
          <font-awesome-icon :icon="['fas', 'user-check']" class="icon" /> 
					<span class="nav-item-name">Users</span>
					<div 
						:class="[!dropdowns.users ? 'active-dropdown' : 'not-active-dropdown', 'dropdown-arrow-icon']"
					>
						<font-awesome-icon 
							:icon="['fas', 'angle-right']"
						/>
					</div>
        </a>
        <div id="usersDropdown" class="collapse" aria-labelledby="usersDropdown" data-parent="#usersDropdown">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">User manager</h6>
            <router-link to="/admin/users" class="collapse-item">
							User List
						</router-link>            
						<router-link to="/admin/create-user" class="collapse-item">
							Create a User
						</router-link>
          </div>
        </div>
      </li>

			<!-- EVENTS -->
			<li class="nav-item">
        <a @click="handleDropdownToggle('events')" 
					:class="[!dropdowns.events ? 'not-active-dropdown-link' : 'active-dropdown-link', 'nav-link', 'collapsed']"
					href="#" 
					data-toggle="collapse" 
					data-target="#eventsDropdown" 
					aria-expanded="true" 
					aria-controls="eventsDropdown"
				>
          <font-awesome-icon :icon="['fas', 'map-marked-alt']" class="icon" />
					<span class="nav-item-name">Events</span>
					<div 
						:class="[!dropdowns.events ? 'active-dropdown' : 'not-active-dropdown', 'dropdown-arrow-icon']"
					>
						<font-awesome-icon 
							:icon="['fas', 'angle-right']"
						/>
					</div>
        </a>
        <div id="eventsDropdown" class="collapse" aria-labelledby="eventsDropdown" data-parent="#eventsDropdown">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Event manager</h6>
						<router-link to="/admin/scheduled-events" class="collapse-item">
							Scheduled Events
						</router-link>   
						<router-link to="/admin/create-event" class="collapse-item">
							Create new Event
						</router-link>
          </div>
        </div>
      </li>

			<!-- TRAVEL -->
			<li class="nav-item">
				<router-link to="/admin/travel" class="nav-link collapsed">
					<font-awesome-icon :icon="['fas', 'plane']" class="icon" />
          <span class="nav-item-name">Travel</span>
				</router-link>
			</li>

      <!-- Divider -->
      <!-- <hr class="sidebar-divider"> -->

      <!-- Sub Heading -->
      <!-- <div class="sidebar-heading">
        Addons
      </div> -->

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
			
			<div class="mt-3">
				<LogoutButton />
			</div>

			<!-- <div class="mt-3">
				<p v-if="isLoggedIn" style="color: #a5a5a5;">
					Logged in and token is set
					<small><br><span style="color: #fff;">{{ isLoggedIn }}</span></small>
				</p>
				<p v-else-if="!isLoggedIn">
					NOT logged in and token is:
					<small><span style="color: red;">{{ isLoggedIn }}</span></small>
				</p>
			</div> -->

			<!-- <sup style="font-weight: 400; text-transform: lowercase;" class="mt-2">v.1.0.0</sup> -->

      <!-- Sidebar Toggler (Sidebar) -->
      <!-- <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div> -->

    </ul> <!-- End of Sidebar -->
	</nav>
</template>

<script>
// Font Awesome icons
import { library, dom } from '@fortawesome/fontawesome-svg-core'
import { faTachometerAlt, faUserCog, faAngleUp, faUsers, faUserCheck, faCalendarDay, faMapMarkedAlt, faAngleRight, faPlane } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
library.add(faTachometerAlt, faUserCog, faAngleUp, faUsers, faUserCheck, faCalendarDay, faMapMarkedAlt, faAngleRight, faPlane)
dom.watch()

// Components
import LogoutButton from '@/components/shared/buttons/LogoutButton'

export default {
	name: 'adminSidebar',
	components: { FontAwesomeIcon, LogoutButton },

	data() {
		return {
			dropdowns: {
				applicants: false,
				users: false,
				events: false,
				travel: false,
			},
		}
	},

	computed: {
		isLoggedIn() {
			return this.$store.getters.isLoggedIn
		}
	},

	methods: {
		handleDropdownToggle(which) {
			if (which === 'applicants') {
				this.dropdowns.applicants = !this.dropdowns.applicants

			} else if (which === 'users') {
				this.dropdowns.users = !this.dropdowns.users

			} else if (which === 'events') {
				this.dropdowns.events = !this.dropdowns.events

			} else if (which === 'travel') {
				this.dropdowns.travel = !this.dropdowns.travel
			}
		}
	}
}
</script>

<style lang="scss">
@import "@/sass/variables/admin-dashboard";

#admin-sidebar {
	position: absolute;
	left: 0;
	top: 0;
	width: $admin-sidebar-base-width;
	max-width: $admin-sidebar-base-width;
	max-height: calc(100% - 0px);
	transform: translateX(0%);

	.bg-gradient-primary {
		background-color: rgba($color: #333, $alpha: 1.0);
		background-image: none;
	}
	
	.sidebar-brand {
		.sidebar-logo {
			width: 35px;
		}
	}

	.navbar-nav {
		overflow-x: hidden;
		max-height: 100vh;
		padding-left: 0;

		.nav-item {

			.router-link-active {
				// color: red !important;
				color: rgba(255, 255, 255, 1) !important;
				text-decoration: underline;
			}

			.nav-link {
				font-size: 16px;
				color: rgba(255, 255, 255, 0.8);

				&:hover {
					color: rgba(255, 255, 255, 1);
				}

				.nav-item-name {
					font-size: 15px;
					margin-left: 8px;
				}

				.icon {
					width: 18px;
				}
			}

			.collapse-item {
				color: #3a3b45 !important;

				&:active {
					color: #4e73df !important;
					font-weight: 700 !important;
					text-decoration: none !important;
				}

				&.router-link-active {
					color: #4e73df !important;
					font-weight: 700 !important;
					text-decoration: none !important;
				}
			}

			.dropdown-arrow-icon {
				float: right;
				margin-right: 15px;
				
			}
		}
	}

	.active-dropdown {
		display: block;
		transition: all 200ms ease-in-out;
	}

	.not-active-dropdown {
		transform: rotate(90deg);
		transition: all 200ms ease-in-out;
	}

	.active-dropdown-link {
		color:#fff !important;
	}

	.not-active-dropdown-link {
		color:rgba(255, 255, 255, 0.8);
	}
}

@media screen and (max-width: 991px) {
	#admin-sidebar {
		.not-active-dropdown-link,
		.active-dropdown-link {
			padding-left: 40px;
		}
		.nav-item-name {
			display: none;
		}

		.dropdown-navbar-icon {
			margin-right: 5px;
    	margin-left: 8px;
		}
	}
}
</style>