<template>
	<div id="topBar">
		<p style="color: #000;">Test</p>
	</div>
</template>

<script>
export default {
	name: 'AdminDashboardTopBar',
	props: ['payload']
}
</script>

<style lang="scss">
	#topBar {
		height: 70px;
    margin: 0 0;
		transform: translateY(0px);
		position: absolute;
		left: 0;
		top: 0;
    right: 0px;

		background-color: grey !important;
    border-color: blue !important;
	}
</style>