<template>
  <div id="createUserForm">

    <!-- <form
			@submit="onSubmit"
			class="create-member-form"
			novalidate
		>

				<vue-form-json-schema
					v-model="form.fields"
					:schema="form.schema"
					:ui-schema="form.uiSchema"
					:options="options"
					v-on:validated="onValidated"
					v-on:state-change="onStateChange"
					class="vue-form"
					ref="form"
				>
				</vue-form-json-schema>
				
		</form> -->

		<!-- Form messages -->
		<div class="form-messages">
			<transition name="fade" mode="out-in">
				<div
					v-if="form.messages.error.emailAlreadyExists"
					class="alert alert-danger"
					key="has-errors"
				>
					User with that email already exists
				</div>
			</transition>

			<transition mode="out-in">
				<div
					v-if="form.messages.success.userCreated"
					class="alert alert-success"
					key="success"
				>
					User created successfully
				</div>
			</transition>

			<transition class="server-errors" name="fade" mode="out-in">
				<div
					v-if="form.messages.error.fileUpload"
					class="alert alert-danger"
					key="has-errors"
				>
					File upload failed
				</div>
			</transition>

			<transition name="fade" mode="out-in">
				<div
					v-if="form.messages.error.unknownError"
					class="alert alert-success"
					key="success"
				>
					An error has occurred. Please try again.
				</div>
			</transition>
		</div>




		<!-- NEW FORM -->
		<!-- FROM ROW 1 -->
		<form
			@submit="onSubmit"
			class="create-member-form"
		>
			<div class="form-row">
				<div class="col">
					<label>Email <span class="required">*</span></label>
					<input 
						id="email"
						type="text" 
						class="form-control"
						placeholder="Email" 
						v-model="form.fields.login"
					>

					<div
						v-if="form.showValidationErrors"
						class="invalid-feedback"	
					>
						<span v-if="!$v.form.fields.login.required">
							Required
						</span>
					</div>
					
				</div>
				<div class="col">
					<label>Password <span class="required">*</span></label>
					<input 
						id="password"
						type="password" 
						class="form-control"
						placeholder="" 
						v-model="form.fields.password"
					>

					<div 
						v-if="form.showValidationErrors"
						class="invalid-feedback"	
					>
						<span v-if="!$v.form.fields.password.required">
							Required
						</span>
					</div>
					
				</div>
				<div class="col">
					<label>Date of Birth <span class="required">*</span></label>
					<input 
						id="dateOfBirth"
						type="date" 
						class="form-control"
						v-model="form.fields.dateOfBirth"
					>

					<div 
						v-if="form.showValidationErrors"
						class="invalid-feedback"	
					>
						<span v-if="!$v.form.fields.dateOfBirth.required" class="feed">
							Required
						</span>
					</div>
					
					</div>
				</div>
				<!-- END FROM ROW 1 -->
				<!-- FROM ROW 2 -->
				<div class="form-row">
					<div class="col">
						<label>First name <span class="required">*</span></label>
						<input 
							id="firstName"
							type="text" 
							class="form-control"
							placeholder="First name" 
							v-model="form.fields.firstName"
						>

						<div
							v-if="form.showValidationErrors"
							class="invalid-feedback"
						>
							<span v-if="!$v.form.fields.firstName.required">
								Required
							</span>
						</div>
						
					</div>
					<div class="col">
						<label>Middle name</label>
						<input 
							id="middleName"
							type="text" 
							class="form-control"
							placeholder="Middle name" 
							v-model="form.fields.middleName"
						>
						
					</div>
					<div class="col">
						<label>Last name <span class="required">*</span></label>
						<input 
							id="lastName"
							type="text" 
							class="form-control"
							placeholder="Last name"
							v-model="form.fields.lastName"
						>
						<div
							v-if="form.showValidationErrors"
							class="invalid-feedback"
						>
							<span v-if="!$v.form.fields.lastName.required">
								Required
							</span>
						</div>

						
					</div>
				</div>
			<!-- END FORM ROW 2 -->
			<!-- FROM ROW 3 -->
				<div class="form-row">
				<div class="col">
					<label>Phone number</label>
					<input 
						id="phoneNumber"
						type="text" 
						class="form-control"
						placeholder="Phone number" 
						v-model="form.fields.phoneNumber"
					>
					
				</div>
				<div class="col">
					<label>WhatsApp</label>
					<div class="d-block">
						Yes
						<input 
							name="whatsApp"
							type="radio"
							:value="true"
							v-model="form.fields.onWhatsApp"
						>
						No
						<input 
							name="whatsApp"
							type="radio" 
							:value="false"
							v-model="form.fields.onWhatsApp"
						>
					</div>	
					
					</div>
				<div class="col">
					<label>Country</label>
					<input 
						id="country"
						type="text" 
						class="form-control"
						placeholder="Country" 
						v-model="form.fields.country"
					>

				</div>
			</div>
			<!-- END FORM ROW 3 -->
			<!-- FROM ROW 4 -->
				<div class="form-row">
				
				<div class="col">
					<label>City</label>
					<input 
						id="city"
						type="text" 
						class="form-control"
						placeholder="City" 
						v-model="form.fields.city"
					>
					
				</div>
				<div class="col">
					<label>Zip</label>
					<input 
						id="zip"
						type="number" 
						class="form-control"
						placeholder="Zip/Postal Code"
						v-model="form.fields.zip"
					>

					</div>
					<div class="col">
						<label>Street Address</label>
						<input 
							id="streetAddress"
							type="text" 
							class="form-control"
							placeholder="Street Address" 
							v-model="form.fields.streetAddress"
						>

					</div>
				</div>
			<!-- END FORM ROW 4 -->
			<!-- FROM ROW 5 -->
				<div class="form-row">
				
				<div class="col">
					<label>Suite number</label>
					<input 
						id="suiteNumber"
						type="text" 
						class="form-control"
						placeholder="Suite number" 
						v-model="form.fields.suiteNumber"
					>

				</div>
				<div class="col">
					<label>Instagram Username</label>
					<input 
						id="instagramUsername"
						type="text" 
						class="form-control"
						placeholder="Instagram username"
						v-model="form.fields.instagramUsername"
					>

					</div>
					<div class="col">
						<label>Instagram Followers Number</label>
						<input 
							id="instagramFollowersNumber"
							type="number" 
							class="form-control"
							v-model="form.fields.instagramFollowersNumber"
						>

					</div>
				</div>
			<!-- END FORM ROW 5 -->
			<!-- FROM ROW 5 -->
				<div class="form-row">
					<div class="col">
						<label>
							Comment
						</label>
						<textarea 
							class="form-control"
							id="comment" 
							cols="30" 
							rows="2"
							v-model="form.fields.comment"
						>
					</textarea>
					</div>		
				</div>
			<!-- END FORM ROW 5 -->
			<small class="form-text text-muted mb-3">Note that this user will automatically be <strong>approved</strong></small>
				
			<div class="button-holder">
				<button type="submit" class="btn btn-block submit-btn">Create</button>
			</div>
			<!-- END NEW FORM -->
		</form>
  </div>
</template>

<script>
import config from '@/config/config'
import { required, minLength, between, numeric, sameAs, email } from 'vuelidate/lib/validators'
// Helpers
import { mapGetters } from 'vuex'
// Services
import UserService from '@/services/admin/UserService'
// Components
import VueFormJsonSchema from 'vue-form-json-schema'

export default {
  name: 'CreateUserForm',
  components: {
    VueFormJsonSchema
	},
	
	computed: {
		...mapGetters(['getUserToken', 'getLoggedInUser']),
	},

  data() {
		return {
			options: {},
			isWholeFormValid: false,

			form: {
				// temporaryFiles: [],
				// state: {},
				showValidationErrors: false,
				fields: {
					fullName: '',
					login: '',
					password: '',
					dateOfBirth: '',
					firstName: '',
					middleName: '',
					lastName: '',
					phoneNumber: '',
					whatsApp: null, // bool
					country: '',
					city: '',
					zip: '',
					streetAddress: '',
					suiteNumber: '',
					instagramFollowersNumber: null, //number
					instagramUsername: '',
					comment: '',
					invitedBy: ''
				},
				valid: false,
				// schema: {},
				// model: {},
				submitted: false,
				success: false,
				
				messages: {
					error: {
						emailAlreadyExists: false,
						fileUpload: false,
						unknownError: false
					},
					success: {
						userCreated: false
					}
				},
			},
		}
	},

	validations: {
		form: {
			fields: {		
				login: { required },
				password: { required },
				dateOfBirth: { required },
				firstName: { required },
				lastName: { required }
			},	
		}
	},

  mounted() {
		// this.getUserFormSchema()
		console.log(this.$v)
		
  },

  methods: {
		onSubmit(e) {
			e.preventDefault()
			this.form.submitted = true

			// Set email field to be the same as login email

			// this.form.fields.email ? this.form.fields.login : null
			this.form.fields.email = this.form.fields.login
			// Set invitedBy property to the current logged in admin
			this.form.fields.invitedBy = this.getLoggedInUser.email
			// Set user role
			this.form.fields.roles = ['user']
			// Set users status automatically to 'approved' - this user is created by admin
			this.form.fields.status = 'approved'


			// TODO: Wrap this in its own nameHandler function
			const firstName = this.form.fields.firstName
			const lastName = this.form.fields.lastName
			const middleName = this.form.fields.middleName

			const isSetFirstName = firstName && firstName !== '' && firstName !== undefined
			const isSetLastName = lastName && lastName !== '' && lastName !== undefined
			const isSetMiddleName = middleName && middleName !== '' && middleName !== undefined

			// Set users names are set
			this.form.fields.firstName = firstName.trim()
			this.form.fields.lastName = lastName.trim()
			if (isSetMiddleName) {
				this.form.fields.middleName = middleName.trim()
				this.form.fields.fullName = `${firstName.trim()} ${middleName.trim()} ${lastName.trim()}`
			} else {
				this.form.fields.fullName = `${firstName.trim()} ${lastName.trim()}`
			}
			


			// TODO: File inputs as regular inputs instead of uiSchema?

			// Check if whole form is valid
			const isWholeFormValid = this.checkIsWholeFormValid()

			// If whole form is valid
			if (isWholeFormValid) {
				// Hide error messages
				this.options = { ...this.options, showValidationErrors: false }

				// Sanitize user input
				const userInput = this.sanitizeUserInput()
				// console.log('Sanitized user input: ', userInput)

				// Create a user
				this.createUser(userInput)

			// Whole form not valid
			} else {
				// Display error messages
				this.options = {
					...this.options,
					showValidationErrors: true
				}
			}
		},

		sanitizeUserInput() {
			// Remove empty strings and undefined values from user data
			const userModel = this.form.fields
			const userInput = {}
			
			for (let key in userModel) {
				if(userModel.hasOwnProperty(key) && userModel[key] !== undefined && userModel[key] !== null && userModel[key] !== '') {
					// console.log(`${key} : ${userModel[key]}`)
					let value
					typeof userModel[key] === 'string' ? value = userModel[key].trim() : value = userModel[key]

					// Append properties and values
					userInput[key] = value
				}
			}
			
			return userInput
		},
		
    async getUserFormSchema() {
      try {
				this.options = {
					castToSchemaType: true,
					// validateOnLoad: false,
					showValidationErrors: false
				}

				const res = await UserService.getUserFormSchema()
				const userSchema = res.data

				// Add firstName as required field
				userSchema.required.push('firstName')

				this.form.schema = userSchema
				this.form.valid = false
				
      } catch (err) {
        console.error(err)
      }
		},
		
    onStateChange(state) {
			this.form.state = state
			// console.log('errs: ', state)
    },

    onValidated(value) {
			this.form.valid = value
		},

    checkIsWholeFormValid() {
      // if (this.$v.form.fields.$invalid) return false
			// else return true 
			if(this.$v.form.fields.$invalid) {
				this.form.showValidationErrors = true		
				console.log(this.form.showValidationErrors)
				
				return false
			}
			else {
				this.form.showValidationErrors = false
				return true
			}
			
		},

		memberCreatedSuccessfuly(response) {
			// console.log('Member created successfuly: ', response)
			this.clearFormErrorMessages()
			this.form.success = true
			this.form.messages.success.userCreated = true
			// this.resetFormFields()

			// console.log('User created')

			// // TODO: Handle file upload
			// // If admin selected file/files
			// if (this.form.temporaryFiles.length && this.form.temporaryFiles.length > 0) {
			// 	// TODO: Uncomment
			// 	// Timeout so user record has time to be create
			// 	setTimeout(() => {
			// 		this.uploadUserFiles(response)
			// 	}, 800)
			// }
		},
		
		async uploadUserFiles(response) {
			try {
				const files = this.form.temporaryFiles
				const file = files[0]
				const token = await this.getUserToken
				const userId = response.data.records[0].id

				const res = await UserService.uploadUserFileById(userId, file, token)

				if (res.status === 200) {
					this.successfulFileUpload(res)
				}
			} catch (err) {
				console.error('File upload error: ', err.response)
				this.form.messages.error.fileUpload = true
			}
		},

		successfulFileUpload(response) {
			// Reset form temporaryFiles field
			// this.form.temporaryFiles = []
			// console.log('File successfully uploaded!', response)
		},

    async createUser(userInput) {
			try {
				const token = this.getUserToken
				const res = await UserService.createUser(userInput, token)

				if (res.status === 201) {
					this.memberCreatedSuccessfuly(res)
				}
			} catch (err) {
				this.handleCreateUserErrors(err)
			}
		},

		handleCreateUserErrors(err) {
			this.clearFormSuccessMessages()
			console.error('Create user error: ', err)

			if (err.response.data.message = 'User already exists') {
				this.form.messages.error.emailAlreadyExists = true
			}
		},
		
		resetFormFields() {
			// Reset form fields
			this.form.fields = {}
			this.form.state = {}
			this.options = {
				showValidationErrors: false
      }
      
			this.form.submitted = false
			this.form.valid = false
			this.form.success = false

			// Clear form errors messages
			this.clearFormErrorMessages()
			// Clear form success messages
			this.clearFormSuccessMessages()
		},
		
		clearFormErrorMessages() {
			this.form.messages.error.emailAlreadyExists = false
			this.form.messages.error.fileUpload = false
			this.form.messages.error.unknownError = false
		},

		clearFormSuccessMessages() {
			this.form.messages.success.userCreated = false
		}
  }
}
</script>

<style lang="scss">

#createUserForm {
	max-width: 1000px;	
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;

	border-radius: 10px;
	padding: 15px 15px;

	.feed {
		color: red;
	}

	.button-holder {
		text-align: center;
		width: 120px;
		margin: 0 auto;

		button.submit-btn {
			display: inline-block;
			background-color: #4e73df;
			color: #fff;
			transition: all 200ms ease-in-out;

			&:hover {
				background-color: #fff;
				color: #4e73df;
				border-color: #4e73df;
			}
		}
	}

	.form-row {
		margin-top: 20px;

		.col {
			text-align: left;

			.invalid-feedback {
				display: block;
				text-align: left;
			}

			.required {
				color: red;
			}
		}
	}

	.form-group {
		width: 49%;
   	float: left;
		margin-left: 5px;

		.input-error-field {
			margin: 5px 0 0 0;
		}

		input[type='date'] {
			&::-webkit-inner-spin-button {
				display: none;
				-webkit-appearance: none;
			}

			/* Month field */
			&::-webkit-datetime-edit-month-field {
				padding: 2px 4px;
					margin: 0 3px;


				&:focus {
					background-color: rgba(78, 115, 223, 0.7);
					color: #fff;
				}
			}

			/* Day field */
			&::-webkit-datetime-edit-day-field {
				padding: 2px 4px;
					margin: 0 3px;


				&:focus {
					background-color: rgba(78, 115, 223, 0.7);
					color: #fff;
				}
			}

			/* Year field */
			&::-webkit-datetime-edit-year-field {
				padding: 2px 4px;
				margin: 0 3px;

				&:focus {
					background-color: rgba(78, 115, 223, 0.7);
					color: #fff;
				}
			}
		}
	}

	.form-file-input-holder {
			padding-left: 15px;

			.form-file-label {
				display: block;
				text-align: left;
			}
		}

	.form-check {
		text-align: left;
    display: flex;
    width: 40px;
    flex-wrap: wrap;
	}

	.form-messages {
		margin-top: 15px;
	}
}

@media screen and (max-width: 767px) {
	#pageView {
		margin-left: -100px;
		padding: 15px;
	}

	#createUserForm {
		.form-group {
			width: 90%;
			margin-left: 5%;
		}

		.on-whatsapp {
			width: 90%;
		}
	}
}
</style>