<template>
	<div id="page-view">
		<!-- <v-fade-transition mode="out-in"> -->
			<!-- <router-view></router-view> -->
		<!-- </v-fade-transition> -->
		<transition name="fade" mode="out-in">
			<router-view></router-view>
		</transition>
	</div>
</template>

<script>
export default {
	name: 'PageView',

}
</script>

<style lang="scss">

	#page-view {
		padding: 0px 0px;
		overflow-y: scroll;
    height: auto;
    max-height: 100vh;
		min-height: 100vh;
		
		.fade-enter-active,.fade-leave-active {
			transition: opacity 200ms;
		}
		.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
			opacity: 0;
		}
	}
	
</style>