<template>
	<nav id="sidebar">
		<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<router-link to="/user" class="sidebar-brand d-flex align-items-center justify-content-center">
				<!-- <div class="sidebar-brand-icon rotate-n-15">
          <font-awesome-icon :icon="['fas', 'tachometer-alt']" />
        </div> -->
				<div class="sidebar-brand-icon">
					<img class="sidebar-logo" src="@/assets/images/logo/alpha-logo.png" alt="Ignite Application">
				</div>
        <div class="sidebar-brand-text mx-3">
					events
				</div>
			</router-link>

			<!--
				If user did not finish creating a profile
			-->
			<div v-if="!isUserProfileFinished">
				<!-- Account -->
				<li class="nav-item">
					<router-link to="/user/account" class="nav-link collapsed">
						<font-awesome-icon :icon="['fas', 'user-cog']" class="icon" />
						<span class="nav-item-name">My account</span>
					</router-link>
				</li>
				<hr class="sidebar-divider d-none d-md-block">
				<div class="mt-3">
					<LogoutButton />
				</div>
			</div>
			<!--
				If user did not finish creating a profile
			-->

			<!-- If user finished creating a profile display all navigation -->
			<div v-if="isUserProfileFinished">
				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Sub Heading -->
				<div class="sidebar-heading">
					Interface
				</div>

				<!-- Account -->
				<li class="nav-item">
					<router-link to="/user/account" class="nav-link collapsed">
						<font-awesome-icon :icon="['fas', 'user-cog']" class="icon" />
						<span class="nav-item-name">My account</span>
					</router-link>
				</li>


				<li class="nav-item">
        <a @click="handleDropdownToggle('events')" 
					:class="[!dropdowns.events ? 'not-active-dropdown-link' : 'active-dropdown-link', 'nav-link', 'collapsed']"
					href="#" 
					data-toggle="collapse" 
					data-target="#eventsDropdown" 
					aria-expanded="true" 
					aria-controls="eventsDropdown"
				>
          <font-awesome-icon :icon="['fas', 'calendar-day']" class="icon" />
					<span class="nav-item-name">Events</span>
					<div 
						:class="[!dropdowns.events ? 'active-dropdown' : 'not-active-dropdown', 'dropdown-arrow-icon']"
					>
						<font-awesome-icon 
							:icon="['fas', 'angle-right']"
						/>
					</div>
        </a>
        <div id="eventsDropdown" class="collapse" aria-labelledby="eventsDropdown" data-parent="#eventsDropdown">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Actions</h6>
            <router-link to="/user/event-invitations" class="collapse-item">
							Invitations
						</router-link>
						<!-- <router-link to="/user/events" class="collapse-item">
							Invitations
						</router-link> -->
          </div>
        </div>
      </li>

				<!-- Travel -->
				<li class="nav-item">
					<router-link to="/user/travel" class="nav-link collapsed">
						<font-awesome-icon :icon="['fas', 'map-marked-alt']" class="icon" />
						<span class="nav-item-name">Travel</span>
					</router-link>
				</li>

				<!-- Example -->
				<!-- <li class="nav-item">
					<router-link to="/user/example" class="nav-link collapsed" style="color: #fff;">
						<font-awesome-icon :icon="['fas', 'map-marked-alt']" />
						<span class="nav-item-name">Example</span>
					</router-link>
				</li> -->

				<!-- Divider -->
				<!-- <hr class="sidebar-divider"> -->

				<!-- Sub Heading -->
				<!-- <div class="sidebar-heading">
					Addons
				</div> -->

				<!-- Example Pages Collapse Menu -->
				<!-- <li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
						<i class="fas fa-fw fa-folder"></i>
						<span>Pages</span>
					</a>
					<div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">Login Screens:</h6>
							<a class="collapse-item" href="login.html">Login</a>
							<a class="collapse-item" href="register.html">Register</a>
							<a class="collapse-item" href="forgot-password.html">Forgot Password</a>
							<div class="collapse-divider"></div>
							<h6 class="collapse-header">Other Pages:</h6>
							<a class="collapse-item" href="404.html">404 Page</a>
							<a class="collapse-item" href="blank.html">Blank Page</a>
						</div>
					</div>
				</li> -->

				<!-- Divider -->
				<hr class="sidebar-divider d-none d-md-block">
				
				<div class="mt-3">
					<LogoutButton />
				</div>

				<!-- <div class="mt-3">
					<p v-if="isLoggedIn" style="color: #a5a5a5;">
						Logged in and token is set
						<small><br><span style="color: #fff;">{{ isLoggedIn }}</span></small>
					</p>
					<p v-else-if="!isLoggedIn">
						NOT logged in and token is:
						<small><span style="color: red;">{{ isLoggedIn }}</span></small>
					</p>
				</div> -->

				<!-- <sup style="font-weight: 400; text-transform: lowercase;" class="mt-2">v.1.0.0</sup> -->

				<!-- Sidebar Toggler (Sidebar) -->
				<!-- <div class="text-center d-none d-md-inline">
					<button class="rounded-circle border-0" id="sidebarToggle"></button>
				</div> -->
			</div>


    </ul>
    <!-- End of Sidebar -->
	</nav>
</template>

<script>
// Font Awesome icons
import { library, dom } from '@fortawesome/fontawesome-svg-core'
import { faTachometerAlt, faUserCog, faCalendarDay, faMapMarkedAlt } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
library.add(faTachometerAlt, faUserCog, faCalendarDay, faMapMarkedAlt)
dom.watch()

// Components
import LogoutButton from '@/components/shared/buttons/LogoutButton'

export default {
	name: 'userSidebar',
	components: { FontAwesomeIcon, LogoutButton },

	data() {
		return {
			dropdowns: {
				events: false
			},
		}
	},

	methods: {
		handleDropdownToggle(which) {
			if (which === 'events') {
				this.dropdowns.events = !this.dropdowns.events
			}
		},
	},

	computed: {
		isUserProfileFinished() {
			return this.$store.getters.getIsUserProfileFinished
		},
		isLoggedIn() {
			return this.$store.getters.isLoggedIn
		}
	}
}
</script>

<style lang="scss">
@import "@/sass/variables/user-dashboard";

#sidebar {
	position: absolute;
	left: 0;
	top: 0;
	width: $user-sidebar-base-width;
	max-width: $user-sidebar-base-width;
	max-height: calc(100% - 0px);
	transform: translateX(0%);

	.bg-gradient-primary {
		background-color: rgba($color: #333, $alpha: 1.0);
		background-image: none;
	}

	.navbar-nav {
		overflow-x: hidden;
		max-height: 100vh;
		padding-left: 0;

		.sidebar-brand {
			.sidebar-logo {
				width: 35px;
			}
		}

		.nav-item {

			.router-link-exact-active {
				// color: red !important;
				color: rgba(255, 255, 255, 1) !important;
				text-decoration: underline;
			}

			.nav-link {
				font-size: 16px;
				color: rgba(255, 255, 255, 0.8);

				&:hover {
					color: rgba(255, 255, 255, 1);
				}

				.nav-item-name {
					font-size: 15px;
					margin-left: 8px;
				}

				.icon {
					width: 18px;
				}

				.dropdown-arrow-icon {
					float: right;
					margin-right: 15px;	
				}
			}

			.collapse-item {
					color: #3a3b45 !important;

					&:active {
						color: #4e73df !important;
						font-weight: 700 !important;
						text-decoration: none !important;
					}

					&.router-link-active {
						color: #4e73df !important;
						font-weight: 700 !important;
						text-decoration: none !important;
					}
			}
		}

		.active-dropdown {
			display: block;
			transition: all 200ms ease-in-out;
		}

		.not-active-dropdown {
			transform: rotate(90deg);
			transition: all 200ms ease-in-out;
		}
		
	}
}

@media screen and (max-width: 992px) {
	#sidebar {
		#accordionSidebar {
			width: 100px !important;
		}

		.not-active-dropdown-link,
		.active-dropdown-link {
			padding-left: 40px;
		}
		.nav-item-name {
			display: none;
		}

		.dropdown-navbar-icon {
			margin-right: 5px;
    	margin-left: 8px;
		}
	}
}
</style>