<template>
	<div id="top-bar">
		Top Bar...
	</div>
</template>

<style lang="scss">
	#topBar {
		height: 80px;
    margin-top: 0px;
    transform: translateY(0px);
    left: 260px;
    right: 0px;

		background-color: yellow !important;
    border-color: blue !important;
	}
</style>