<template>
	<div class="view-trip">
		<!-- Messages -->
		<div class="messages">
			<!-- User deleted message -->
			<div v-if="messages.success.tripUpdated"
				class="alert alert-success"
				role="alert"
			>
				Trip successfully updated
			</div>
		</div>

		<ul class="list-group trip-data-list">

			<li class="list-group-item text-center" style="background-color: #f1f1f1; color: #fff; padding: 15px 20px !important;">
				<button
					@click="approveTrip"
					class="btn btn-success approve-trip-btn"
				>
					Approve
				</button>
				<button
					@click="denyTrip"
					class="btn btn-danger deny-trip-btn"
				>
					Deny
				</button>
			</li>

			<!-- TODO: Add different colors for status depending on status value -->
			<li class="list-group-item">
				<strong>Status</strong>: <span :class="[setStatusClass]">{{ trip.status }}</span>
			</li>
			<li class="list-group-item"><strong>Name: </strong>{{ trip.name }}</li>
			<li class="list-group-item"><strong>User: </strong>{{ trip.fullName }} - <span style="opacity: 0.6;">{{ user.login }}</span></li>
			<li class="list-group-item"><strong>Trip date: </strong>{{ formatDate(trip.tripDate) }}</li>
			<!-- Optional fields -->
			<li class="list-group-item"><strong>Available to depart by: </strong>{{ trip.availableToDepartDate ? formatDate(trip.availableToDepartDate) : 'N/A' }}</li>
			<li class="list-group-item"><strong>Must arrive by: </strong>{{ trip.mustArriveByDate ? formatDate(trip.mustArriveByDate) : 'N/A' }}</li>
			<li class="list-group-item"><strong>TSA precheck number: </strong>{{ trip.tsaPrecheckNumber ? trip.tsaPrecheckNumber : 'N/A' }}</li>
			<li class="list-group-item"><strong>Frequent flyer number: </strong>{{ trip.frequentFlyerNumbers ? trip.frequentFlyerNumbers[0] : 'N/A' }}</li>
			<li class="list-group-item"><strong>Frequent flyer company: </strong>{{ trip.frequentFlyerCompanies ? trip.frequentFlyerCompanies[0] : 'N/A' }}</li>

			<!-- Passport -->
			<li class="list-group-item passport-data">
				<div class="list-group-item list-group-item-action flex-column align-items-start">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">
							Passport
							<hr class="hr-spacer">
						</h5>
						<!-- <small>3 days ago</small> -->
					</div>
					<ul class="list-group">
						<li class="list-item"><strong>Number: </strong>{{ trip.passportNumber}}</li>
						<li class="list-item"><strong>Expiration date: </strong>{{ formatDate(trip.passportExpirationDate) }}</li>
						<li class="list-item"><strong>Issuing country: </strong>{{ formatDate(trip.passportExpirationDate) }}</li>
					</ul>
				</div>
			</li>

			<!-- Arriving -->
			<li class="list-group-item arriving-data">
				<div class="list-group-item list-group-item-action flex-column align-items-start">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">
							Arriving
							<hr class="hr-spacer">
						</h5>
						<!-- <small>3 days ago</small> -->
					</div>
					<ul class="list-group">
						<li class="list-item"><strong>Preffered airport: </strong>{{ trip.arrivingFlightPreferredAirport}}</li>
						<li class="list-item"><strong>Secondary airport: </strong>{{ trip.arrivingFlightSecondaryAirport}}</li>
					</ul>
				</div>
			</li>

			<!-- Departing -->
			<li class="list-group-item departing-data">
				<div class="list-group-item list-group-item-action flex-column align-items-start">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">
							Departing
							<hr class="hr-spacer">
						</h5>
						<!-- <small>3 days ago</small> -->
					</div>
					<ul class="list-group">
						<li class="list-item"><strong>Preffered airport: </strong>{{ trip.departingFlightPreferredAirport}}</li>
						<li class="list-item"><strong>Secondary airport: </strong>{{ trip.departingFlightSecondaryAirport}}</li>
					</ul>
				</div>
			</li>
			
		</ul>

		<!-- <ul>
			<li v-for="(value, key) in trip" :key="key">{{key}} - {{value}}</li>
		</ul> -->
	</div>
</template>

<script>
// Services
import TripService from '@/services/TripService'
import UserService from '@/services/admin/UserService'
// Helpers
import { mapGetters } from 'vuex'
import { formatDateTime } from '@/helpers'

export default {
	data() {
		return {
			trip: {},
			user: {},

			messages: {
				success: {
					tripUpdated: false
				}
			}
		}
	},

	computed: {
		...mapGetters(['getUserToken', 'getCurrentlyViewingTrip']),

		setStatusClass() {
			if (this.trip.status === 'approved') return 'text-success'
			else if (this.trip.status === 'denied') return 'text-danger'
			else if (this.trip.status === 'pending') return 'text-warning'
		}
	},

	created() {
		this.getTripById()
	},

	methods: {
		async getTripById() {
			try {
				var token = this.getUserToken
				const tripId = this.getCurrentlyViewingTrip
				
				const res = await TripService.getTripById(tripId, token)
				var trip = res.data.records[0]
				this.trip = trip

				// Add trip name to document title
				document.title += ' - ' + this.trip.name

				if (res.status === 200) {
					// Get user that applied for this trip
					const userId = trip.user
					this.getUserById(userId, token)
				}

				// Add trip name to document title
				document.title += ' - ' + this.trip.name

			} catch (err) {
				console.error(err)
			}
		},

		async getUserById(userId, token) {
			try {
				// const res = await UserService.getUserById(token, userId)
				const res = await UserService.getUserById(token, userId)
				const user = res.data.records[0]

				this.user = user

			} catch (err) {
				console.error(err)
			}
		},

		async approveTrip() {
			try {
				// Hide success message
				this.messages.success.tripUpdated = false

				const token = this.getUserToken
				const tripId = this.getCurrentlyViewingTrip

				const data = {
					id: tripId,
					replace: {
						passportNumber: this.trip.passportNumber,
						passportExpirationDate: this.trip.passportExpirationDate,
						passportIssuingCountry: this.trip.passportIssuingCountry,
						tripDate: this.trip.tripDate,
						status: 'approved'
					}
				}

				const res = await TripService.updateTripById(data, token)

				if (res.status === 200) {
					// Get updated data
					setTimeout(() => {
						this.getTripById()

						// Show success message
						this.messages.success.tripUpdated = true
						// Clear success message
						setTimeout(() => {
							// Hide success message
							this.messages.success.tripUpdated = false
						}, 4000)
					}, 400)
				}
				
			} catch (err) {
				console.error(err.response)
			}
		},
		
		async denyTrip() {
			try {
				// Hide success message
				this.messages.success.tripUpdated = false

				const token = this.getUserToken
				const tripId = this.getCurrentlyViewingTrip
				const data = {
					id: tripId,
					replace: {
						passportNumber: this.trip.passportNumber,
						passportExpirationDate: this.trip.passportExpirationDate,
						passportIssuingCountry: this.trip.passportIssuingCountry,
						tripDate: this.trip.tripDate,
						status: 'denied'
					}
				}

				const res = await TripService.updateTripById(data, token)

				if (res.status === 200) {
					// Get updated data
					setTimeout(() => {
						this.getTripById()

						// Show success message
						this.messages.success.tripUpdated = true
						// Clear success message
						setTimeout(() => {
							// Hide success message
							this.messages.success.tripUpdated = false
						}, 4000)
					}, 400)
				}
			
			} catch (err) {
				console.error(err)
			}			
		},


		formatDate: (inputDate) => formatDateTime(inputDate),
	}
}
</script>

<style scoped lang="scss">
.view-trip {
	
	ul.trip-data-list {

		.approve-trip-btn,
		.deny-trip-btn {
			width: 45%;
		}

		.deny-trip-btn {
			margin-left: 15px;
		}

		li {
			text-align: left;

			&.passport-data,
			&.arriving-data,
			&.departing-data {
				padding: 0 0;

				h5 {
					font-size: 22px;
					width: 100%;
					margin-bottom: 0 !important;

					.hr-spacer {
						height: 1px;
						width: 100%;
						max-width: 100%;
						display: block;
					}
				}

				ul {
					list-style: none;
				}
			}

			.list-group-item {
				background-color: #28a745;
				color: #fff;
				border-radius: 0;
				padding-top: 20px;
				padding-bottom: 20px;

				strong {
					margin-right: 5px;
				}
			}
		}
	}
}
</style>