<template>
  <div class="admin-account-information">
		<h2 class="heading" style="position: relative;">
			My account

			<EditFormButton
				@click.native="handleEditButtonToggle"
				:editingModeOn="editingModeOn"
			/>
		</h2>
		
		<form @submit="onSubmit">
			<div class="form-row">
				<div class="col">
					<label for="firstName">First name</label>
					<input 
						v-model="form.fields.firstName"
						type="text" 
						id="firstName"
						class="form-control" 
						:readonly="editingModeOn && passwordEditing == false ?  false : true"
					>

					<!-- First name validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.firstName.required">
							Required
						</span>
					</div>
				</div>
				<div class="col">
					<label for="middleName">Middle name</label>
					<input 
						v-model="form.fields.middleName"
						type="text" 
						id="middleName"
						class="form-control" 
						:readonly="editingModeOn && passwordEditing == false ?  false : true"
					>
				</div>
				<div class="col">
					<label for="lastName">Last name</label>
					<input 
						v-model="form.fields.lastName"
						type="text" 
						id="lastName"
						class="form-control" 
						:readonly="editingModeOn && passwordEditing == false ?  false : true"
					>
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.lastName.required">
							Required
						</span>
					</div>
				</div>
				
			</div>

			<div class="form-row">
				<div class="col">
					<label for="email">Email</label>
						<input 
							v-model="form.fields.login"
							type="text" 
							id="email"
							class="form-control" 
							:readonly="editingModeOn && passwordEditing == false ?  false : true"
					>
					
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.login.required">
							Required
						</span>
						<span v-if="!$v.form.fields.login.email">
							Email not valid
						</span>
					</div>
				</div>
				<div class="col">
					<label for="phoneNumber">Phone number</label>
					<input 
						v-model="form.fields.phoneNumber"
						type="text" 
						id="phoneNumber"
						class="form-control" 
						:readonly="editingModeOn && passwordEditing == false ?  false : true"
					>
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.phoneNumber.required">
							Required
						</span>
					</div>
				</div>
				<div class="col">
					<label for="dateOfBirth">Date of birth</label>
					<input 
						v-model="form.fields.dateOfBirth"
						type="date" 
						id="dateOfBirth"
						class="form-control" 
						:readonly="editingModeOn && passwordEditing == false ?  false : true"
					>
				</div>
				
			</div>	

			<div class="form-row">
				<div class="col">
					<label for="streetAddress">Street address</label>
					<input 
						v-model="form.fields.streetAddress"
						type="text" 
						id="streetAddress"
						class="form-control" 
						:readonly="editingModeOn && passwordEditing == false ?  false : true"
					>
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.streetAddress.required">
							Required
						</span>
					</div>
				</div>
				<div class="col">
					<label for="suiteNumber">Suite number</label>
					<input 
						v-model="form.fields.suiteNumber"
						type="text" 
						id="suiteNumber"
						class="form-control" 
						:readonly="editingModeOn && passwordEditing == false ?  false : true"
					>
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.suiteNumber.required">
							Required
						</span>
					</div>
				</div>
				<div class="col">
					<label for="zip">Zip</label>
					<input 
						v-model="form.fields.zip"
						type="text" 
						id="zip"
						class="form-control" 
						:readonly="editingModeOn && passwordEditing == false ?  false : true"
					>
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.zip.required">
							Required
						</span>
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="col">
					<label for="city">City</label>
					<input 
						v-model="form.fields.city"
						type="text" 
						id="city"
						class="form-control" 
						:readonly="editingModeOn && passwordEditing == false ?  false : true"
					>
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.city.required">
							Required
						</span>
					</div>
				</div>
				<div class="col">
					<label for="country">Country</label>
					<input 
						v-model="form.fields.country"
						type="text" 
						id="country"
						class="form-control" 
						:readonly="editingModeOn && passwordEditing == false ?  false : true"
					>
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.country.required">
							Required
						</span>
					</div>
				</div>
			</div>

			<!-- Change password button/toggler -->
			<div
				v-if="editingModeOn"
				:class="['change-password-button-wrapper', passwordEditing ? 'mb-0' : 'mb-4']"
			>
				<button
					@click="togglePasswordEditMode()"
					type="button"
					class="change-pass-button edit-button-link"
				>
					{{ this.editingModeOn && !this.passwordEditing ? 'Change password' : 'Discard password changes' }}
				</button>
			</div>

			<!-- Change password form -->
			<transition
				name="fade"
				mode="in-out"
			>
				<div v-if="this.passwordEditing">
					<form
						@submit="changePassword"
						class="form-row"
					>
						<div class="col">
							<label for="newPassword">New Password</label>
							<input 
								id="newPassword"
								type="password" 
								class="form-control" 
								:readonly="editingModeOn ?  false : true"
								v-model="form.password.newPassword"
							>
							<div v-if="!isValidPassword"
								class="invalid-feedback"
							>
								<span v-if="form.password.showValidationErrors && !$v.form.password.newPassword.required">
									Required
								</span>
							</div>
						</div>
						<div class="col">
							<label for="confirmPassword">Confirm Password</label>
							<input 
								id="confirmPassword"
								type="password" 
								class="form-control" 
								:readonly="editingModeOn ?  false : true"
								v-model="form.password.confirmPassword"
							>
							<!-- confirmPassword validation messages -->
								<div
									class="invalid-feedback"
								>
									<span v-if="!$v.form.password.confirmPassword.sameAs">
										Passwords do not match
									</span>					
								</div>
							</div>	
						
						<div class="col">
							<button 
								type="submit" 
								class="btn btn-block change-pass submit-btn"
							>
								Change
							</button>
						</div>
					</form>
				</div>
			</transition>
			
			<div class="form-row">
				<div class="col">
					<div class="form-group user-photos">
						<label for="onePhoto">Profile picture</label>
						<img 
							v-if="!files.onePhoto.isLoading && files.onePhoto.id || !files.onePhoto.isLoading && form.temporaryFiles.onePhoto" 
							:class="['user-photo']"
							:src="files.onePhoto.src"
							alt="Profile picture"
						>
						<!-- Fallback image -->
						<img 
							v-if="!files.onePhoto.isLoading && !files.onePhoto.id && !form.temporaryFiles.onePhoto" 
							:class="['placeholder']"
							src="@/assets/images/profile-img-fallback.png"
							alt="No profile picture"
						>
						
						<CircularLoader v-if="files.onePhoto.isLoading" class="one-photo-loader" />

						<input 
							@change="handleFileInputChange('onePhoto')"
							v-if="editingModeOn"
							type="file" 
							class="form-control-file user-photo-input" 
							id="onePhoto"
						>

						<div
							v-if="form.showValidationErrors"
							class="invalid-feedback"
						>
							<span v-if="!files.onePhoto.valid">
								Required
							</span>					
						</div>
						<div v-if="form.messages.success.onePhotoUpdated" class="alert alert-success" role="alert">
							Profile picture updated successfully
						</div>
					</div>
				</div>

				<!-- <div class="col">
					<div class="form-group user-photos">
						<label for="instagramHomescreenPhoto">Instagram homescreen photo</label>
						<img 
							v-if="!files.instagramHomescreenPhoto.isLoading"
							:class="['user-photo', files.instagramHomescreenPhoto.id ? '' : 'placeholder']"
							:src="files.instagramHomescreenPhoto.src" 
							alt="Instagram photo"
						>
						<CircularLoader v-if="files.instagramHomescreenPhoto.isLoading" class="instagram-photo-loader" />
						<input 
							@change="handleFileInputChange('instagramHomescreenPhoto')"
							v-if="editingModeOn"
							type="file" 
							class="form-control-file user-photo-input" 
							id="instagramHomescreenPhoto">

							<div
								v-if="form.showValidationErrors"
								class="invalid-feedback"
							>
							<span v-if="!files.instagramHomescreenPhoto.valid">
								Required
							</span>					
						</div>
						<div v-if="form.messages.success.instagramHomescreenPhotoUpdated" class="alert alert-success" role="alert">
							Instagram homescreen photo updated successfully
						</div>
					</div>
				</div> -->
			</div>
			
	
			<div v-if="form.messages.success.accountUpdated" class="alert alert-success" role="alert">
  			Account updated successfully
			</div>
			<div v-if="form.messages.success.passwordUpdated" class="alert alert-success" role="alert">
  			Password updated successfully
			</div>
			
			<div 
				v-if="editingModeOn"
				class="button-holder button-holder-password"
			>
				<button
					v-if="!passwordEditing"
					type="submit"
					class="btn btn-block save-bt submit-btn"
				>
					Save
				</button>

			</div>
		</form>
		
  </div>
</template>

<script>

// Helpers
import { mapGetters } from 'vuex'
import { sanitizeInput } from '@/helpers'

import { required, minLength, between, numeric, sameAs, email } from 'vuelidate/lib/validators'
// Services
import config from '@/config/config'
import UserService from '@/services/admin/UserService'
import FileService from '@/services/FileService'

// Components
import CircularLoader from '@/components/shared/loaders/CircularLoader'
import EditFormButton from '@/components/shared/buttons/EditFormButton'

export default {
	components: { CircularLoader , EditFormButton },
	name: 'AdminMyAccount',
	
	computed: {
		...mapGetters(['getUserToken', 'getLoggedInUser']),
	},

  data() {
		return {
			editingModeOn: false,
			passwordEditing: false,
			userRecord: {},
			isValidPassword: false,

			form: {
				showValidationErrors: false,
				isValid: false,
				success: false,

				fields: {
					login: '',
					fullName: '',
					firstName: 'John',
					middleName: 'Mid',
					lastName: 'Doe',
					dateOfBirth: '',
					// email: '',
					phoneNumber: '+1 123 123 12',
					// onWhatsApp: null,
					// invitedBy: '',
					streetAddress: 'Some st. 1',
					suiteNumber: '#123',
					city: 'LA',
					zip: 20, // number
					country: 'USA'
					// instagramFollowersNumber: null, //number
					// instagramUsername: ''
				},

				password: {
					showValidationErrors: false,
					newPassword: '',
					confirmPassword: ''
				},

				// Form messages
				messages: {
					error: {
						accountUpdateFailed: false,
						passwordUpdateFailed: false
					},
					success: {
						accountUpdated: false,
						passwordUpdated: false,
						onePhotoUpdated: false,
						instagramHomescreenPhotoUpdated: false,
					}
				},

				temporaryFiles: {
					// instagramHomescreenPhoto: null,
					onePhoto: null
				}
			},

			files: {
				// instagramHomescreenPhoto: {
				// 	customFileName: 'instagram_homescreen_photo',
				// 	id: '', 
				// 	name: null,
				// 	src: '',
				// 	valid: true,
				// 	isLoading: true
				// },
				onePhoto: {
					customFileName: 'one_photo',
					id: '', 
					name: null,
					src: '',
					valid: true,
					isLoading: true
				}
			}
		}	
	},

	validations: {
		form: {
			fields: {		
				firstName: { required },
				lastName: { required },
				login: { required, email },
				firstName: { required },
				dateOfBirth: { required },
				phoneNumber: { required },
				suiteNumber: { required },
				streetAddress: { required },
				city: { required },
				zip: { required },
				country: { required }
			},

			password: {
				newPassword: { required },
				confirmPassword: { 
					required,
					sameAs: sameAs('newPassword')
				}
			},
		},

		files: {
			instagramHomescreenPhoto: {
				id: { required }, 
			},
			onePhoto: {
				id: { required }, 
			}
		}
	},

  created() {
		this.getUserById()
  },

  methods: {
		handleEditButtonToggle() {
			this.editingModeOn = !this.editingModeOn

			if(this.editingModeOn) {
				this.discardForm()
				
			} else {
				this.form.showValidationErrors = false
			}

			this.passwordEditing = false
			this.getFilesById()
			// Clear all form messages
			this.clearFormSuccessMessages()
			this.clearFormErrorMessages()
		},
		
		async getFilesById() {
			for (let key in this.files) {
				// One photo
				if (this.files.onePhoto.name === this.files.onePhoto.customFileName) {
					fetch(`${config.BASE_API_URL}/user/attachment/${this.files.onePhoto.id}` , { 
						headers: {
							'Authorization': `Bearer ${this.getUserToken}`
						} 
					})
						.then(response => response.blob())
						.then(myBlob => {
							var objectURL = URL.createObjectURL(myBlob)
							this.files.onePhoto.src = objectURL
							this.files.onePhoto.isLoading = false
						})
						.catch(err => {
							this.files.onePhoto.isLoading = false
							console.error(err)
						})

				// Profile photo doesn't exist
				} else {
					this.files.onePhoto.isLoading = false
				}
				// if (this.files[key].name === this.files.instagramHomescreenPhoto.customFileName) {
				// 	fetch(`${config.BASE_API_URL}/user/attachment/${this.files.instagramHomescreenPhoto.id}` , { 
				// 			headers: {
				// 				'Authorization': `Bearer ${this.getUserToken}`
				// 			} 
				// 		}).then(function(response) {

				// 			return response.blob()
				// 		}).then(function(myBlob) {
				// 			var objectURL = URL.createObjectURL(myBlob)
				// 			this.files.instagramHomescreenPhoto.src = objectURL
				// 			this.files.instagramHomescreenPhoto.isLoading = false
				// 		}.bind(this))
				// }
			}	
		},

		handleFileInputChange(whichFile) {
			event.preventDefault()

			if (whichFile === 'onePhoto' && event.target.files[0]) {
				this.form.temporaryFiles.onePhoto = event.target.files[0]
				// Image preview
				var reader = new FileReader()
				reader.onload = e => {
					// get loaded data and render thumbnail.
					this.files.onePhoto.src = e.target.result
				}
				// read the image file as a data URL.
				reader.readAsDataURL(event.target.files[0])
			}

			// else if (whichFile === 'instagramHomescreenPhoto' && event.target.files[0]) {
			// 	this.form.temporaryFiles.instagramHomescreenPhoto = event.target.files[0]
			// 	// Image preview
			// 	var reader = new FileReader()
			// 	reader.onload = e => {
			// 		// get loaded data and render thumbnail.
			// 		this.files.instagramHomescreenPhoto.src = e.target.result
			// 	}
			// 	// read the image file as a data URL.
			// 	reader.readAsDataURL(event.target.files[0])

			// }
		},

		discardForm() {
			this.populateFormData(this.userRecord)
			this.clearPasswordFields()
			this.passwordEditing = false
		},

		clearPasswordFields() {
			// Clear password fields
			this.form.password.newPassword = ''
			this.form.password.confirmPassword = ''
		},

		togglePasswordEditMode() {
			this.passwordEditing = !this.passwordEditing
			this.form.password.showValidationErrors = false

			if(!this.passwordEditing) {
				// Clear password fields
				this.clearPasswordFields()
			}		
		},

		changePassword() {
			event.preventDefault()

			this.checkIsPasswordValid()
			if(this.isValidPassword) {
				const sanitizedPasswordInput = sanitizeInput(this.form.password)
				this.updatePassword(sanitizedPasswordInput) 

			} else {
				this.form.password.showValidationErrors = true
			}
		},

		inDevelopment() {
			event.stopPropagation()
			return alert('In development')
		},

		checkIsPasswordValid() {
			if (this.$v.form.password.$invalid)	this.isValidPassword = false
			else this.isValidPassword = true
		},

		async onSubmit() {
			event.preventDefault() 
			this.checkIsFormValid() 

			if (this.form.isValid) {
				// Hide error messages
				this.form.showValidationErrors = false

				// this.form.fields.email = this.form.fields.login
				var sanitizedUserInput = sanitizeInput(this.form.fields)

				// Set fullName
				if (sanitizedUserInput.middleName) {
					sanitizedUserInput.fullName = `${sanitizedUserInput.firstName} ${sanitizedUserInput.middleName} ${sanitizedUserInput.lastName}`
				} else {
					sanitizedUserInput.fullName = `${sanitizedUserInput.firstName} ${sanitizedUserInput.lastName}`
				}

				// Send patch request to update the user data
				this.updateUser(sanitizedUserInput)

				if (this.form.temporaryFiles.onePhoto !== null) {
					const photo2 = await this.uploadOnePhoto()
				}

				// if (this.form.temporaryFiles.instagramHomescreenPhoto !== null) {
				// 	const photo1 = await this.uploadInstagramPhoto()
				// }

			} else {
				// Display error messages
				this.form.showValidationErrors = true
			}	
		},

		// async uploadInstagramPhoto() {
		// 	try {
		// 		// Show photo 1 loader
		// 		this.files.instagramHomescreenPhoto.isLoading = true
		// 		var token = this.getUserToken

		// 		// New photo data
		// 		var instagramPhotoName = this.files.instagramHomescreenPhoto.customFileName
		// 		var photo = this.form.temporaryFiles.instagramHomescreenPhoto
				
		// 		var previousInstagramPhotoId = this.files.instagramHomescreenPhoto.id
		// 		// If there was a previous image delete it
		// 		if (previousInstagramPhotoId) {
		// 			var deletedPhotoRes = await UserService.deleteAttachmentById(previousInstagramPhotoId, token)

		// 			if (deletedPhotoRes.status === 200) {
		// 				var updatedPhotoRes = await UserService.uploadFileForLoggedInUser(photo, instagramPhotoName, token)
		// 				this.files.instagramHomescreenPhoto.id = updatedPhotoRes.data.payload.records[0].id
		// 			}

		// 		// If there was no previous photo, just upload the new one
		// 		} else {
		// 			var updatedPhotoRes = await UserService.uploadFileForLoggedInUser(photo, instagramPhotoName, token)
		// 			this.files.instagramHomescreenPhoto.id = updatedPhotoRes.data.payload.records[0].id
		// 		}

		// 		this.form.messages.success.instagramHomescreenPhotoUpdated = true

		// 		// Reset temp file
		// 		this.form.temporaryFiles.instagramHomescreenPhoto = null
		// 		// Hide photo 1 loader
		// 		this.files.instagramHomescreenPhoto.isLoading = false

		// 	} catch (err) {
		// 		console.error(err)
		// 	}
		// },

		async uploadOnePhoto() {
			try {
				// Show photo 2 loader
				this.files.onePhoto.isLoading = true
				var token = this.getUserToken

				// New photo data
				var onePhotoName = this.files.onePhoto.customFileName
				var photo = this.form.temporaryFiles.onePhoto

				var previousOnePhotoId = this.files.onePhoto.id
				// If there was a previous image delete it
				
				if (previousOnePhotoId) {
					var deletedPhoto2Res = await UserService.deleteAttachmentById(previousOnePhotoId, token)

					if (deletedPhoto2Res.status === 200) {
						var uploadOnePhoto = await UserService.uploadFileForLoggedInUser(photo, onePhotoName, token)
						this.files.onePhoto.id = uploadOnePhoto.data.payload.records[0].id
					}

				// If there was no previous photo, just upload the new one
				} else {
					var uploadOnePhoto = await UserService.uploadFileForLoggedInUser(photo, onePhotoName, token)
					this.files.onePhoto.id = uploadOnePhoto.data.payload.records[0].id
				}

				if (uploadOnePhoto.status === 200) {
					this.form.messages.success.onePhotoUpdated = true

					// Reset temp file
					this.form.temporaryFiles.onePhoto = null
					// Hide photo 2 loader
					this.files.onePhoto.isLoading = false	
				}

			} catch (err) {
				console.error(object)
			}
		},

		clearFormErrorMessages() {
			this.form.messages.error.passwordUpdateFailed = false
			this.form.messages.error.accountUpdateFailed = false
		},

		clearFormSuccessMessages() {
			this.form.messages.success.accountUpdated = false
			this.form.messages.success.passwordUpdated = false
			this.form.messages.success.onePhotoUpdated = false
			// this.form.messages.success.instagramHomescreenPhotoUpdated = false
		},		

		async updateUser(sanitizedUserInput) {
			const token = this.getUserToken	
			const data = {
				id: this.getLoggedInUser.id,
				replace: sanitizedUserInput
			}

			try {
				const res = await UserService.updateUser(data, token)
				if (res.status === 200) {
					this.handleUpdateAccountSuccess(res)
				}
			}	catch (err) {
				console.error(err)
			}
			
		},

		handleUpdateAccountSuccess(userUpdatedResponse) {
			const user = userUpdatedResponse.data.records[0]
			// Update user data
			this.userRecord = user
			this.editingModeOn = false
			// Handle success messages
			this.clearFormErrorMessages()
			this.clearFormSuccessMessages()
			this.form.messages.success.accountUpdated = true	

		},

		handleUpdatePasswordSuccess() {
			// Handle success messages
			this.clearFormErrorMessages()
			this.clearFormSuccessMessages()
			this.form.messages.success.passwordUpdated = true	
			this.editingModeOn = false
			this.passwordEditing = false
			// Clear password fields
			this.clearPasswordFields()
		},

		async updatePassword(sanitizedUserInput) {
			const password = sanitizedUserInput.confirmPassword
			const data = {
				id: this.getLoggedInUser.id,
				replace: {
					password: password
				}
			}
			const token = this.getUserToken			
			try {
				const res = await UserService.updateUser(data, token)
				if(res.status == 200) {
				this.handleUpdatePasswordSuccess()
				}	
			} catch (err) {
				console.error(err)
			}
	
		},

		checkIsFormValid() {
			// Check if user added files
			if (this.$v.form.fields.$invalid) this.form.isValid = false
			else this.form.isValid = true	
		},

		populateFormData(userRecord) {
			for (let key in userRecord) {
				for(let dataKey in this.form.fields) {
					if(userRecord.hasOwnProperty(key)) {
						if(key === dataKey) {

							// Format dateOfBirth while populating the form
							if (key === 'dateOfBirth') {
								// Format user dateOfBirth from datetime to date
								userRecord[key] = userRecord[key].split('T')[0]
							}

							this.form.fields[dataKey] = userRecord[key]
						}
					}
				}
			}	
		},

		async getUserById() {
			try {
				const userId = this.getLoggedInUser.id
				const token = this.getUserToken

				const res = await UserService.getUserByIdAndFileMeta(userId, token)
				
				const userRecord = res.data.records[0]
				this.userRecord = userRecord

				this.populateFormData(userRecord)
								
				if(res.data.include) {
					res.data.include.file.forEach(file => {
						// If there is instagram photo
						// if(file.name === this.files.instagramHomescreenPhoto.customFileName) {
						// 	this.files.instagramHomescreenPhoto.id = file.id
						// 	this.files.instagramHomescreenPhoto.name = file.name
						// } 
						// If there is one photo
						if (file.name === this.files.onePhoto.customFileName) {
							this.files.onePhoto.id = file.id
							this.files.onePhoto.name = file.name
						} 
					})
				}

				this.getFilesById()

			} catch (err) {
				console.error(err)

				this.files.onePhoto.isLoading = false
				// this.files.instagramHomescreenPhoto.isLoading = false
			}	
		}
	}
}
</script>

<style lang="scss">
.admin-account-information {
	padding: 0 40px 30px 40px;

	form {
		margin-top: 40px;
	}

	.invalid-feedback {
		display: block;
		text-align: left;
	}

	.valid-feedback {
		display: block;
		text-align: left;
	}

	.edit-button-holder {
		display: inline-block;
		position: relative;
	}

	.edit-button-link {
		position: absolute;
		bottom: 5px;
		left: 110%;
		display: inline-block;
		font-size: 16px;
		border: none;
		background: transparent;
		color: #4e73df;
	}

	.edit-button-link:hover {
		text-decoration: underline;
	}

	.edit-button-link:focus {
		outline: none;
	}

	.user-photo {
		width: auto;
		height: 150px;
		margin-top: 20px;
		border: 1px solid #f3f3f3;
	}

	.instagram-photo-loader,
	.one-photo-loader {
		margin-left: 20%;
		margin-top: 30px;
		height: 50px;
		width: 50px;
		border: 8px solid #f3f3f3; /* Light grey */
		border-top: 8px solid #3498db; /* Blue */
	}

	.user-photos {
		position: relative;
		text-align: left;

		// Placeholder for an image if there isn't one
		.placeholder {
			width: 200px;
			height: 200px;
			padding: 8px 8px;
			border-radius: 5px;
			background: #f3f3f3;
		}

		label {
			margin: 15px 0 0 0;
			font-size: 18px;
			text-align: left;
			font-weight: 600;
		}
	}

	.radio-whatsapp {
		text-align: left;

		input {
			vertical-align: middle;
			margin: auto 10px;
		}
	}


	label {
		color: #000;
		display: block;
		width: 100%;
		text-align: left;
	}

	.user-photo-input {
		padding-top: 30px;
		width: 100%;
		display: inline-block;
		margin: 0 auto;
		font-size: 14px;
	}

	.show {
		display: block !important;
	}

	.change-password-button-wrapper {
		margin: 40px 0;
		text-align: left;

		.change-pass-button {
			margin-top: 20px;
			margin-bottom: 20px;
			position: relative;
			left: 0;
			margin: 0 auto;
		}
	}

	// .edit-butt {
	// 	display: inline-block;
  //   background-color: #4e73df;
  //   color: #fff;
  //   -webkit-transition: all 200ms ease-in-out;
  //   transition: all 200ms ease-in-out;
	// 	max-width: 200px;
	// 	margin-bottom: 20px;
	// }

	.button-holder {
		text-align: center;
		width: 120px;
		margin: 0 auto;
		display: inline-block;
	}

	.button-holder-password {
		display: block;
	}

	button.submit-btn {
		display: inline-block;
		background-color: #4e73df;
		color: #fff;
		transition: all 200ms ease-in-out;

		&:hover {
			background-color: #fff;
			color: #4e73df;
			border-color: #4e73df;
		}
	}

	button.save-bt {
		margin-top: 55px;
	}

	.change-pass {
		margin-top: 30px;
		text-align: center;
		width: 200px;
	}
	

	h2 {
		display: inline-block;
	}

	.form-row {
		.col {
			margin: 10px auto;

			.check {
				width: 100%;
				float: left;
			}

			input[type=checkbox] {
				float: left;
				width: 20px;
				height: 20px;
			}
		}
	}

	/* Transitions */
	.fade-enter-active, .fade-leave-active {
		transition: opacity 400ms !important;
	}
	.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
		opacity: 0;
	}
}

</style>