<template>
  <div id="createEvent">

    <form
			@submit="onSubmit"
			class="create-event-form"
			novalidate
		>
			<!-- First row -->
			<div class="form-group form-row">
				<!-- name -->
				<div class="col">
					<label for="eventName" title="Name of the event you want to create" class="form-label name-label">
						Event name <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.name"
						type="text"
						id="eventName"
						class="form-control"
					>
					<!-- name validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.name.required">
							Required
						</span>
					</div>
				</div>

				<!-- dateBegins -->
				<div class="col">
					<label for="dateBegins" class="form-label date-begins-label">
						Date and time when Event begins <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.dateBegins"
						type="datetime-local"
						id="dateBegins"
						class="form-control"
					>
					<!-- dateBegins validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.dateBegins.required">
							Required
						</span>
					</div>
				</div>

				<!-- dateEnds -->
				<div class="col">
					<label for="dateEnds" class="form-label date-ends-label">
						Date and time when Event ends <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.dateEnds"
						type="datetime-local"
						id="dateEnds"
						class="form-control"
					>
					<!-- dateEnds validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.dateEnds.required">
							Required
						</span>
					</div>
				</div>
			</div> <!-- First row END -->

			<!-- Second row -->
			<div class="form-group form-row">

				<!-- startLocation -->
				<div class="col">
					<label for="startLocation" class="form-label start-location-label">
						Start location <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.startLocation"
						type="text"
						id="startLocation"
						class="form-control"
					>
					<!-- startLocation validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.startLocation.required">
							Required
						</span>
					</div>
				</div>

				<!-- endLocation -->
				<div class="col">
					<label for="endLocation" class="form-label end-location-label">
						End location <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.endLocation"
						type="text"
						id="endLocation"
						class="form-control"
					>
					<!-- endLocation validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.endLocation.required">
							Required
						</span>
					</div>
				</div>
			</div> <!-- Second row END -->

			<!-- Third row -->
			<div class="form-group form-row">
				<!-- description -->
				<div class="col">
					<label for="description" class="form-label description-label">
						Description <span class="optional">(optional)</span>
					</label>
					<textarea
						v-model="form.fields.description"
						id="description"
						class="form-control description"
					></textarea>
					<!-- description validation messages -->
					<!-- <div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="typeof $v.form.fields.description.$model !== 'string'">
							Should be a string
						</span>
					</div> -->
				</div>
			</div> <!-- Third row END -->

			<div class="button-holder">
				<button type="submit" class="btn btn-block submit-btn">Create</button>
			</div>
		</form>

		<!-- Form messages -->
		<div class="form-messages">
			<transition mode="out-in">
				<div
					v-if="form.messages.success.eventCreated"
					class="alert alert-success"
					key="success"
				>
					Event created successfully.
				</div>
			</transition>

			<!-- Event already exists -->
			<!-- <transition mode="out-in">
				<div
					v-if="form.messages.error.eventAlreadyExists"
					class="alert alert-danger"
					key="success"
				>
					This model already exists.
				</div>
			</transition> -->

			<!-- Unknown error -->
			<transition name="fade" mode="out-in">
				<div
					v-if="form.messages.error.unknownError"
					class="alert alert-success"
					key="success"
				>
					An error has occurred. Please try again.
				</div>
			</transition>
		</div>
  </div>
</template>

<script>
import config from '@/config/config'
// Helpers
import { mapGetters } from 'vuex'
import { sanitizeInput } from '@/helpers'
import { required, minLength, between, numeric } from 'vuelidate/lib/validators'
// Services
import EventService from '@/services/EventService'
// Components

export default {
  name: 'CreateEvent',
  components: {},
	
	computed: {
		...mapGetters(['getUserToken', 'getLoggedInUser']),
	},

  data() {
		return {
			form: {
				showValidationErrors: false,
				isValid: false,

				fields: {
					name: '',           // string
					dateBegins: '',     // string - date-time
					dateEnds: '',       // string - date-time
					startLocation: '',  // string
					endLocation: '',    // string
					description: '',    // string
				},
				
				messages: {
					error: {
						eventAlreadyExists: false,
						// fileUpload: false,
						unknownError: false
					},
					success: {
						eventCreated: false,
						modelUpdated: false
					}
				},
			}
		}
	},

	// Form validation
	validations: {
		form: {
			fields: {
				name: { required },
				dateBegins: { required },
				dateEnds: { required },
				startLocation: { required },
				endLocation: { required },
				description: { }
			}
		}
  },

  mounted() {
		this.getEventFormSchema()
  },

  methods: {

		formatDate(inputDate) {
			const date = new Date(inputDate)
			const jsonDate = JSON.stringify(date)

			return JSON.parse(jsonDate)
		},

		async getEventFormSchema() {
      try {
				const res = await EventService.getEventFormSchema()
				const eventSchema = res.data

      } catch (err) {
        console.error(err)
      }
		},

		onSubmit(e) {
			e.preventDefault()
			
			// Check if whole form is valid
			this.checkIsFormValid()

			// If whole form is valid
			if (this.form.isValid) {
				// Hide error messages
				this.form.showValidationErrors = false

				// Sanitize user input
				const sanitizedUserInput = sanitizeInput(this.form.fields)

				// Format dates before sending the request
				sanitizedUserInput.dateBegins = this.formatDate(this.form.fields.dateBegins)
				sanitizedUserInput.dateEnds = this.formatDate(this.form.fields.dateEnds)

				// Send request to create an Event
				this.createEvent(sanitizedUserInput)

			// Whole form not valid
			} else {
				// Display error messages
				this.form.showValidationErrors = true
			}
		},

    async createEvent(userInput) {
			try {
				const userId = this.getLoggedInUser.id
				const token = this.getUserToken

				// Send request to create an Event
				const res = await EventService.createEvent(userInput, token)

				if (res.status === 201) {
					this.eventCreatedSuccessfully(res)
				}
			} catch (err) {
				this.handleCreateEventErrors(err)
			}
		},

		eventCreatedSuccessfully(eventCreatedResponse) {
			// Clear all form messages
			this.clearFormErrorMessages()
			this.clearFormSuccessMessages()
			// TODO: Redirect admin on the 'view event' page...?
			// Reset form fields
			this.resetFormFields()
			// Show success message
			this.form.messages.success.eventCreated = true

		},

		handleCreateEventErrors(err) {
			this.clearFormErrorMessages()
			this.clearFormSuccessMessages()
			console.log('ERR: ', err)

			// Set unknown error message
			this.form.messages.error.unknownError = true

			// // TODO: Handle errors if event names should be unique
			// if (err.response.data.message.includes('Event already exists.')) {
			// 	this.form.messages.error.eventAlreadyExists = true
			// }

			console.error(err)
		},

    checkIsFormValid() {
      if (this.$v.$invalid) this.form.isValid = false
      else this.form.isValid = true
		},
		
		clearFormErrorMessages() {
			// this.form.messages.error.eventAlreadyExists = false
			// this.form.messages.error.fileUpload = false
			this.form.messages.error.unknownError = false
		},

		clearFormSuccessMessages() {
			this.form.messages.success.eventCreated = false
		},

		resetFormFields() {
			this.form.fields.name = ''
			this.form.fields.dateBegins = ''
			this.form.fields.dateEnds = ''
			this.form.fields.startLocation = ''
			this.form.fields.endLocation = ''
			this.form.fields.description = ''
		}
  }
}
</script>

<style lang="scss">

#createEvent {
	border-radius: 10px;
	padding: 15px 15px;

	.alert {
		margin-top: 8px;
		margin-bottom: 0;
	}

	form.create-event-form {
		margin-top: 30px;
	}

	.button-holder {
		text-align: center;
		width: 120px;
		margin: 0 auto;

		button.submit-btn {
			display: inline-block;
			background-color: #4e73df;
			color: #fff;
			transition: all 200ms ease-in-out;

			&:hover {
				background-color: #fff;
				color: #4e73df;
				border-color: #4e73df;
			}
		}
	}

	.form-group {
		margin-top: 8px;

		.invalid-feedback {
			display: block;
			text-align: left;
		}

		.valid-feedback {
			display: block;
			text-align: left;
		}

		.input-error-field {
			margin: 5px 0 0 0;
		}

		textarea.description {
			height: 80px;
			min-height: 80px;
			max-height: 200px;
		}

		input[type='date'] {

			&::-webkit-inner-spin-button {
				display: none;
				-webkit-appearance: none;
			}

			/* Month field */
			&::-webkit-datetime-edit-month-field {
				padding: 2px 4px;
					margin: 0 3px;


				&:focus {
					background-color: rgba(78, 115, 223, 0.7);
					color: #fff;
				}
			}

			/* Day field */
			&::-webkit-datetime-edit-day-field {
				padding: 2px 4px;
					margin: 0 3px;


				&:focus {
					background-color: rgba(78, 115, 223, 0.7);
					color: #fff;
				}
			}

			/* Year field */
			&::-webkit-datetime-edit-year-field {
				padding: 2px 4px;
				margin: 0 3px;

				&:focus {
					background-color: rgba(78, 115, 223, 0.7);
					color: #fff;
				}
			}
		}
	}

	/* Labels */
	label.form-label {
    color: #313131;
		text-align: left;
		display: block;
		font-weight: 600;
		font-size: 16px;

		.required {
			color: #a90000;
		}

		.optional {
			color: rgb(184, 184, 184);
		}
  }

	/* File inputs */
	.form-file-input-holder {
			// padding-left: 15px;

			.form-file-label {
				display: block;
				text-align: left;
			}

			.form-control-file {
				width: auto;
			}

			.invalid-feedback {
				display: block;
				text-align: left;
			}
		}

	.form-check {
		text-align: left;

		&.measurement-units {
			padding-left: 0;
		}
	}


	.form-messages {
		margin-top: 15px;
	}
}
</style>