<template>
	<div class="invite-user-form-wrapper">
		<form
			@submit="onSubmit"
			class="invite-user"
		>
			<div class="form-group row">
				<label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-10">
					<input type="email" v-model="form.fields.email" class="form-control" id="inputEmail" placeholder="email@example.com">

					<div v-if="form.showValidationErrors" class="invalid-feedback">
						<span v-if="!$v.form.fields.email.required">
							Required
						</span>
						<span v-if="!$v.form.fields.email.email">
							Not a valid email
						</span>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="inputSubject" class="col-sm-2 col-form-label">Subject</label>
				<div class="col-sm-10">
					<input type="text" v-model="form.fields.subject" class="form-control" id="inputSubject">

					<div v-if="form.showValidationErrors" class="invalid-feedback">
						<span v-if="!$v.form.fields.subject.required">
							Required
						</span>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="inputMessage" class="col-sm-2 col-form-label">Message</label>
				<div class="col-sm-10">
					<textarea v-model="form.fields.body" id="inputMessage" class="form-control email-message"></textarea>

					<div v-if="form.showValidationErrors" class="invalid-feedback">
						<span v-if="!$v.form.fields.body.required">
							Required
						</span>
					</div>
				</div>
			</div>

			<div class="form-group row button-holder">
				<label for="inputMessage" class="col-sm-2 col-form-label"></label>
				<div class="col-sm-10">
					<button type="submit" class="btn btn-success btn-send">Send</button>
				</div>
			</div>
		</form>		
	</div>
</template>

<script>
// Services
import EmailService from '@/services/EmailService'
// Helpers
import { mapGetters } from 'vuex'
import { sanitizeInput } from '@/helpers'
import { required, email } from 'vuelidate/lib/validators'

export default {
	name: 'InviteUser',

	computed: {
		...mapGetters(['getUserToken'])
	},

	data() {
		return {
			form: {
				isValid: false,
				showValidationErrors: false,

				fields: {
					email: '',
					subject: '',
					body: ''
				}
			}
		}
	},

	validations: {
		form: {
			fields: {
				email: { required, email },
				subject: { required },
				body: { required },
			}
		}
	},

	methods: {
		checkIsFormValid() {
			// Check if user added files
			if (this.$v.form.$invalid) this.form.isValid = false
			else this.form.isValid = true	
		},

		onSubmit() {
			event.preventDefault()

			// Check if the form is valid
			this.checkIsFormValid()

			// If whole form is valid
			if (this.form.isValid) {
				this.inviteUser()
			
			} else {
				// Display error messages
				this.form.showValidationErrors = true
			}

		},

		async inviteUser() {
			try {
				const token = this.getUserToken
				const data = this.form.fields

				const res = await EmailService.inviteUser(data, token)
				// console.log('email res: ', res)
				// TODO: Show email sent message
				// TODO: Reset the form
			
			} catch (err) {
				console.error(err.response)
			}
		}
	}
}
</script>

<style scoped lang="scss">
.invite-user-form-wrapper {
	margin-top: 50px;

	.email-message {
		min-height: 100px;
		max-height: 400px;
		height: 150px;
	}

	.form-group {

	}

	.invalid-feedback {
		display: block;
		text-align: left;
	}

	.button-holder {
		text-align: left;

		.btn-send {
			width: 120px;
		}
	}
}
</style>