<template>
	<div class="login-form-holder">
		<CircularLoader v-if="form.isLoading" />

		<div
			v-else
			id="loginForm"
		>
			<h2 class="form-heading">{{ payload.name }}</h2>
			<form 
			v-if="!form.isLoading"
			@submit="onSubmit" 
			@keyup.enter="onSubmit" 
			class="login-form" 
			novalidate
			>
				<vue-form-json-schema
					v-model="form.model"
					class="vue-form"
					:schema="form.schema"
					:ui-schema="form.uiSchema"
					:options="options"
					v-on:state-change="onChangeState"
					v-on:validated="onValidated"
					ref="form"
				>
				</vue-form-json-schema>

				<div class="transition-errors">
					<transition name="fade" mode="out-in">
						<div
							v-if="
								form.submitted &&
								!form.model.login &&
								!form.model.password &&
								form.state.vfjsErrors.length === 0
							"
							class="alert alert-danger input-error-field"
							key="has-errors"
						>
							All fields are required.
						</div>
					</transition>
					<transition name="fade" mode="out-in">
						<div
							v-if="
								form.messages.error.invalidUser 
							"
							class="alert alert-danger input-error-field"
							key="has-errors"
						>
							Invalid user or password
						</div>
					</transition>
					<transition name="fade" mode="out-in">
						<div
							v-if="
								form.messages.error.unknownError
							"
							class="alert alert-danger input-error-field"
							key="has-errors"
						>
							Oops! Something went wrong. Please try again.
						</div>
					</transition>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-block submit-btn">Login</button>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
// Services
import AuthenticationService from '@/services/AuthenticationService'
// Helpers
import { mapGetters } from 'vuex'
// Components
import VueFormJsonSchema from 'vue-form-json-schema'
import CircularLoader from '@/components/shared/loaders/CircularLoader'

export default {
	name: 'LoginForm',
	components: { VueFormJsonSchema, CircularLoader },
	props: ['payload'],

	computed: {
		...mapGetters(['isLoggedIn']),
		// isLoggedIn() {
		// 	return this.$store.getters.isLoggedIn
		// }
	},

	// beforeCreate() {
	// 	const isLoggedIn = this.$store
  //   if (this.isLoggedIn) this.$router.go(-1)
  // },


	// Admin
	// login: admin,
	// password: admin24get#alpha

	// User
	// login: test@test.com,
	// password: test@123
	
	data() {
		return {
			options: {
				castToSchemaType: true,
				showValidationErrors: false
			},

			form: {
				isLoading: true,
				loadFailed: false,
				model: {
					// login: '',
					// password: ''
				},
				schema: {},
				state: {},
				submitted: false,
				success: false,
				valid: false,
				// options: {
				// 	castToSchemaType: true
				// },
				messages: {
					error: {
						invalidUser: false,
						unknownError: false
					},
					success: {
						
					}
				},
				uiSchema: [
					// Input for "login" (email/username)
					{
						component: "div",
						fieldOptions: {
							class: ["form-group"]
							
						},
						children: [
							{
								component: "input",
								model: "login",
								errorOptions: {
									class: ["is-invalid"]
								},
								fieldOptions: {
									attrs: {
										id: "login",
										autocomplete: "off",
										placeholder: "Email"
									},
									class: ["form-control"],
									on: ["input"]
								}
							},
							// Validation messages for "login" (email/username)
							{
								component: "transition",
								fieldOptions: {
									props: {
										name: "fade"
									}
								},
								children: [
									{
										component: "div",
										model: "login",
										errorHandler: true,
										displayOptions: {
											model: "login",
											not: {
												type: "string"
											}
										},
										fieldOptions: {
											class: ["alert alert-danger input-error-field"]
										},
										children: [
											{
												component: "div",
												fieldOptions: {
													domProps: {
														innerHTML: "This field is required"
													}
												}
											}
										]
									}
								]
							}
						]
					},

					// Input for password
					{
						component: "div",
						fieldOptions: {
							class: ["form-group"]
						},
						children: [
							{
								component: "input",
								model: "password",
								errorOptions: {
									class: ["is-invalid"]
								},
								fieldOptions: {
									attrs: {
										id: "password",
										type: "password", // TODO: Check if api has correct type
										autocomplete: "off",
										placeholder: "Password"
									},
									class: ["form-control"],
									on: ["input"]
								}
							},
							// Validation messages for password
							{
								component: "transition",
								fieldOptions: {
									props: {
										name: "fade"
									}
								},
								children: [
									{
										component: "div",
										model: "password",
										errorHandler: true,
										displayOptions: {
											model: "password",
											schema: {
												minLength: 1
												// not: {
												// 	type: "string"
												// }
											}
										},
										fieldOptions: {
											class: ["alert alert-danger input-error-field"]
										},
										children: [
											{
												component: "div",
												fieldOptions: {
													domProps: {
														innerHTML: "This field is required"
													}
												}
											}
										]
									}
								]
							}
						]
					}
				]
			}
		}
	},

	mounted() {
		this.getLoginFormSchema()
		
	},

	methods: {
		onSubmit(e) {
			e.preventDefault()
			this.form.submitted = true

			if (this.form.valid) {
				// Hide error messages
				this.options = { ...this.options, showValidationErrors: false }

				this.postLogin()

			// Form not valid
			} else {
				// Display error messages
				this.options = {
					...this.options,
					showValidationErrors: true
				}
			}
		},

		onChangeState(value) {
			this.form.state = value
    },

    onValidated(value) {
      this.form.valid = value
		},
		
		handleErrors(err) {
			const errMessage = err.response.data.message

			if (errMessage === "Invalid user" || errMessage === "Invalid password") {
				this.form.messages.error.invalidUser = true
				
			} else {
				console.log('Error: ', err.response)
				this.form.messages.error.unknownError = true
			}
		},

		async getLoginFormSchema() {
			try {
				const res = await AuthenticationService.getLoginForm()

				this.form.schema = res.data
				this.form.valid = false
				// Hide loader and display the form when it's loaded
				this.form.isLoading = false

			} catch (err) {
				console.error(err)
				// Hide loader, display the form and unknown error
				this.form.isLoading = false
				this.form.messages.error.unknownError = true
			}
		},

		async successfulLogin(response) {
			try {
				// Hide form errors
				this.form.messages.error.invalidUser = false
				
				const token = response.data.records[0].token
				const user = response.data.include.user[0]
				const userRoles = user.roles

				const isAdmin = userRoles.includes('admin')
				const isUser = userRoles.includes('user')

				var isUserSet = null
				var isTokenSet = null
				var isUserApproved = false

				if (isAdmin) {
					// Set Admin and token state in the store
					isUserSet = await this.$store.dispatch('setUser', user)
					isTokenSet = await this.$store.dispatch('setToken', token)

				} else if (isUser) {
					// Check if user is approved
					if (user.status === 'approved') {
						// Set User and token state in the store
						isUserSet = await this.$store.dispatch('setUser', user)
						isTokenSet = await this.$store.dispatch('setToken', token)
						isUserApproved = true

						// TODO: Refactor a bit with - this.checkAndSetUserFinishedProfile(user)

						// Check if users profile is finished and set in store
						const userNotFinishedProfile = !user.country || !user.zip || !user.streetAddress

						if (userNotFinishedProfile) {
							// User NOT finished profile
							await this.$store.dispatch('setIsUserProfileFinished', false)
						} else {
							// User finished profile
							await this.$store.dispatch('setIsUserProfileFinished', true)
						}
					}
					// TODO: User is not approved (Should display not approved message?)
					else return
				}

				// If its neither User or Admin
				else return
				
				// Navigate user/admin to specific page
				if (isAdmin && isTokenSet && isUserSet) {
					// Delay a bit to wait for the login record to be created
					setTimeout(() => {
						this.$router.push({ name: 'admin-applicants-page', params: { justLoggedIn: true } }).catch(err => {})
					}, 800)

				} else if (isUser && isUserApproved && isTokenSet && isUserSet) {
					// Delay a bit to wait for the login record to be created
					setTimeout(() => {
						this.$router.push({ name: 'user-account-page', params: { justLoggedIn: true }}).catch(err => {})
					}, 800)
				}
			} catch(err) {
				console.error(err)
			}
		},

		async postLogin() {
			try {			
				AuthenticationService.postLogin(this.form.model)
					.then(res => this.successfulLogin(res))
					.catch(err => this.handleErrors(err))
			} catch (err) {
				console.error(err)
			}
		},
	}
}
</script>

<style lang="scss">

.login-form-holder {
	max-width: 320px;	
	margin: 0 auto;
	margin-top: 20vh;

	.loader {
		margin-top: 35px;
	}

	#loginForm {
		padding: 20px 25px;
		border-bottom: 2px solid #0081ff;
		border-top: 2px solid #f4f4f4;
		border-left: 2px solid #f4f4f4;
		border-right: 2px solid #f4f4f4;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;

		.form-heading {
			margin: 0 0;
			padding-bottom: 20px;
			font-size: 26px;
			color: #0081ff;
		}

		button.submit-btn {
			border-radius: 20px;
			padding: 6px 30px;
			background-color: transparent;
			border: 2px solid #0081ff;
			background-color: #0081ff;
			color: #fff;
			transition: all 200ms ease-in-out;

			&:hover {
				border-color: #0081ff;
				background-color: #fff;
				color: #0081ff;
			}
		}

		input,
		textarea {
			font-size: 14px;
			border-radius: 15px;
		}





		.input-error-field {
			padding: 0.35rem 1rem;
			font-size: 14px;
			border-radius: 5px;
			margin-top: 1rem;
		}

		.transition-errors {

			.fade-enter-active, .fade-leave-active {
				transition: opacity .5s;
			}
			.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
				opacity: 0;
			}
		}
	}

}

</style>