<template>
  <div class="not-found-page">
    <div class="container">
      <img class="logo-img" src="@/assets/images/logo/alpha-logo.png" alt="Ignite Application">
			
      <div class="text-wrapper">
        <h4 class="not-found-title">
          Resource you are looking for is not found.
          <br>
          <router-link class="go-back-link" to="/">Go back?</router-link>
       </h4>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'notFound',
}
</script>

<style lang="scss">

.not-found-page {
	background-image: url('~@/assets/images/alpha-background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
	background-position: center center;
	min-height: 100vh;

  .container {
    height: 100%;
    width: 100%;
  }

  .logo-img {
    max-width: 200px;
    margin-top: 40px;
    // max-height: 145px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // margin-top: -70px; /* Half the height */
    // margin-left: -100px; /* Half the width */
  }

  .text-wrapper {
    margin: 0 0;
    background-color: rgba(40, 40, 40, 0.9);
    border-radius: 10px;
    margin-top: 50px;
    padding: 40px 10px;
  }

  .not-found-title {
    color: #fff;
    font-size: 20px;
    line-height: 2.5rem;

    .go-back-link {
      color: #f6a800;
      text-decoration: underline;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (max-height: 640px) {
}
</style>