<template>
  <div class="admin-login-page">
    <div class="container page-container">
      <div class="form-wrapper">
				<!-- TODO: If admin is already logged in than 
				redirect back (or stay on current route) (route guards) -->

				<div class="admin-login-form-wrapper">
					<LoginForm :payload="loginFormData" />
				</div>
      </div>
    </div>
  </div>
</template>

<script>
// Components
import LoginForm from '@/components/shared/forms/LoginForm'
// Helpers
import { mapGetters } from 'vuex'

export default {
	name: 'admin-login',
	components: {
		LoginForm
	},

	data() {
		return {
			loginFormData: {
				name: 'Admin Login'
			}
		}
	},

	computed: {
		...mapGetters(['isLoggedIn'])
	},

	beforeRouteEnter (to, from, next) {
		next(vm => {
			// if (vm.isLoggedIn) return vm.$router.go(-1)
			if (vm.isLoggedIn) return false
			else return true
		})
	}
}
</script>

<style lang="scss">

</style>