<template>
  <div class="thank-you-page">
		<header>
			<div class="container header-content">
				<h2 class="heading">Thank you for applying!</h2>
				<!-- <h5> You will get an email with the <b>PIN Code</b>.</h5>
				<p>To continue with your account creation please enter the PIN Code provided in the email.</p> -->
			</div>
		</header>

		<section class="form-section">
			<div class="container form-section-content">
				<!-- <ThankYouForm /> -->
				<!-- <p>Form...</p> -->
			</div>
		</section>
  </div>
</template>

<script>
// @ is an alias to /src
// import ThankYouForm from '@/components/ThankYouForm.vue'

export default {
  name: 'application-success-page',
  components: {
    // ThankYouForm
	},
	
	mounted() {
		// TODO: Display success message only when this param is passed
		// (when successful submission redirected here)
		console.log('Application Success: ', this.$route.params.applicationSuccess)
	}
}
</script>

<style lang="scss">
.thank-you-page {
	background-image: url('~@/assets/images/background-v2-min.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
	background-position: center center;
	min-height: 100%;

	header {

		.header-content {
			padding: 20px 15px;
			background-color: rgba(255, 255, 255, 0.6);

			.heading {
				color: #000;
			}
		}
	}

	.form-section {

		.form-form-section-content {

		}
	}
}

</style>