<template>
  <div class="home">
    <div class="container page-container">
      <div class="content-wrapper">
				<img class="logo-img" src="@/assets/images/logo/alpha-logo.png" alt="Alpha Events Application">

				<router-link to="/apply" class="btn btn-block register-btn">
					Register
				</router-link>
				<router-link to="/access" class="btn btn-block login-btn">
					Login
				</router-link>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'index'
}
</script>

<style lang="scss">

.home {
	background-image: url('~@/assets/images/alpha-background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	min-height: 100vh;
	overflow-x: hidden !important;

  .content-wrapper {
    max-width: 450px;
    margin: 40px auto 0 auto;
    padding: 40px 20px;
		background-color: rgba(0, 18, 42, 0.8);

		.logo-img {
			max-width: 200px;
		}

		.register-btn {
			margin-top: 100px;
			background-color: rgba(250, 57, 57, 1);
			border: 2px solid rgba(250, 57, 57, 1);
			border-radius: 0;
			color: #fff;

			&:hover {
				border: 2px solid rgba(250, 57, 57, 0.9);
				background-color: rgba(255, 255, 255, 0.9);
				color: rgba(250, 57, 57, 1);
			}
		}

		.login-btn {
			margin-top: 30px;
			background-color: rgba(0, 110, 246, 1);
			border: 2px solid rgba(0, 110, 246, 1);
			border-radius: 0;
			color: #fff;

			&:hover {
				border: 2px solid rgba(0, 110, 246, 1);
				background-color: rgba(255, 255, 255, 0.9);
				color: rgba(0, 110, 246, 1);
			}
		}
  }
}

@media screen and (max-width: 600px) {
	.home {

		.content-wrapper {
			max-width: 100%;
			width: 100%;
			min-height: 100vh;
			margin: 0px auto 0 auto;
		}
	}
}

@media screen and (max-height: 550px) {
  .home {

		.container {
			padding-left: 0;
			padding-right: 0;
		}
  }
}

</style>