<template>
	<h2>You are now logged out</h2>
	<!-- <h2>You are now logged out: {{ this.$route.params.who ? this.$route.params.who : 'null' }}</h2> -->
</template>

<script>
export default {
	name: 'logged-out-page',

	mounted() {
		// console.log('Logged out: ', this.$route.params.who)
	}
}
</script>

<style>

</style>