<template>
  <div class="user-login-page">
    <div class="container page-container">
      <div class="form-wrapper">
				<!-- TODO: If user is already logged in than 
				redirect back (or stay on current route) (route guards) -->

				<div class="user-login-form-wrapper">
					<LoginForm :payload="loginFormData" />
				</div>
      </div>
    </div>
  </div>
</template>

<script>
// Components
import LoginForm from '@/components/shared/forms/LoginForm'

export default {
	components: {
		LoginForm
	},

	data() {
		return {
			loginFormData: {
				name: 'User Login'
			}
		}
	}
}
</script>

<style lang="scss">

</style>