<template>
  <div class="user-apply-page">
    <div class="container page-container">
      <div class="form-wrapper">
        <UserApplication />
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import UserApplication from '@/components/shared/forms/UserApplication.vue'

export default {
  name: 'index',
  components: {
    UserApplication
  }
}
</script>

<style lang="scss">

.user-apply-page {
	background-image: url('~@/assets/images/alpha-background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	min-height: 100vh;
	overflow-x: hidden !important;

  .form-wrapper {
    max-width: 450px;
    margin: 0 auto;
    padding: 40px 0;
  }
}

@media (max-height: 550px) {
  .user-apply-page {

		.container {
			padding-left: 0;
			padding-right: 0;
		}

    .form-wrapper {
      padding: 0 0;
    }
  }
}

</style>