<template>
	<modal
		name="event-invite-user"
		:adaptive="true"
		width="500"
		height="auto"
		@before-open="modalBeforeOpen"
		@opened="modalOpened"
		@before-close="modalBeforeClose"
		class="invite-user-on-event"
	>
		<div class="modal-content">
			<header>
				<div class="header-inner text-center">
					<h4 class="event-name">
						<strong>{{ event.name }}</strong>
					</h4>
					<h6 class="send-to">
						<small>Send to:</small><strong> {{ user.email }}</strong>
					</h6>
				</div>
			</header>

			<main>
				<form
					@submit="onSubmit"
					class="event-invite-user-form"
				>
					<div class="form-group form-row">
						<!-- description -->
						<div class="col max-guests">
							<label class="form-label">
								Max Guests
							</label>
							<!-- <input
								v-model="form.fields.maxGuests"
								type="number"
								class="form-control"
								ref="maxGuests"
							> -->
							<select
								v-model="form.fields.maxGuests"
								class="form-control"
								ref="maxGuests"
							>
								<option :value="0" selected>No guests</option>
								<option value="1">1</option>
								<option :value="2">2</option>
								<option :value="3">3</option>
							</select>
							<!-- maxGuests validation messages -->
							<div v-if="form.showValidationErrors"
								class="invalid-feedback"
							>
								<span v-if="!$v.form.fields.maxGuests.numeric">
									Must be a number
								</span>
							</div>
						</div>
					</div> <!-- First row END -->

					<div class="form-group form-row">
						<div class="col form-check">

							<div class="form-check">
								<input type="checkbox"
									v-model="form.fields.international"
									class="form-check-input"
								>
								<label class="form-label form-check-label">
									Guest is outside US
								</label>
							</div>

							<!-- international validation messages -->
							<div v-if="form.showValidationErrors"
								class="invalid-feedback"
							>
								<span v-if="!$v.form.fields.name.required">
									Required
								</span>
							</div>
						</div>
					</div> <!-- Second row END -->

					<div class="form-group form-row">
						<div class="col form-check">
							<div class="form-check">
								<input type="checkbox"
									v-model="form.fields.includesTrip"
									class="form-check-input"
								>
								<label class="form-label form-check-label">
									Guest is eligible for a trip
								</label>
							</div>

							<!-- name validation messages -->
							<!-- <div v-if="form.showValidationErrors"
								class="invalid-feedback"
							>
								<span v-if="!$v.form.fields.name.required">
									Required
								</span>
							</div> -->
						</div>
					</div> <!-- Second row END -->

					<div class="button-holder">
						<button type="submit" class="btn btn-block btn-success">
							Invite
						</button>
					</div>
				</form>
			</main>
		</div>
	</modal>
</template>

<script>
// Services
import EventService from '@/services/EventService'
import AttendanceService from '@/services/AttendanceService'
// Helpers
import { mapGetters } from 'vuex'
import { sanitizeInput } from '@/helpers'
import { required, numeric } from 'vuelidate/lib/validators'

export default {
	name: 'EventInviteUser',

	computed: {
		...mapGetters(['getUserToken'])
	},

	data() {
		return {
			user: {},
			event: {},

			form: {
				isValid: false,
				showValidationErrors: false,

				fields: {
					event: null,
					user: null,
					maxGuests: 0,
					international: false,
					includesTrip: false
				}
			}
		}
	},

	// Form validation
	validations: {
		form: {
			fields: {
				// event: { required },
				// user: { required },
				maxGuests: { required, numeric },
				international: { required },
				includesTrip: { required }
			}
		}
  },

	methods: {
		modalBeforeOpen(event) {
			this.getEvent(event.params.eventId)
			
			// Set user object
			this.user = event.params.user
		},

		async getEvent(eventId) {
			try {
				const token = this.getUserToken
				const res = await EventService.getEventById(eventId, token)
				const event = res.data.records[0]

				this.event = event

				// this.event = event
				return event
			} catch (err) {
				console.error(err)
			}
		},

		modalOpened() {
			// Focus on maxGuests input when modal opens
			this.$refs.maxGuests.focus()
		},

		modalBeforeClose() {
			this.resetFormData()
		},

		resetFormData() {
			this.user = {}
			this.event = {}
			
			// Form
			this.form = {
				isValid: false,
				showValidationErrors: false,

				fields: {
					event: null,
					user: null,
					maxGuests: 0,
					international: false,
					includesTrip: false
				}
			}
		},

		 checkIsFormValid() {
      if (this.$v.$invalid) this.form.isValid = false
      else this.form.isValid = true
		},

		onSubmit() {
			event.preventDefault()

			// Check if whole form is valid
			this.checkIsFormValid()

			// If whole form is valid
			if (this.form.isValid) {
				// Hide error messages
				this.form.showValidationErrors = false

				// Set form event and user field
				this.form.fields.event = this.event.id
				this.form.fields.user = this.user.id

				// Sanitize user input
				const sanitizedUserInput = sanitizeInput(this.form.fields)

				// Send request to create an Event
				this.createUserAttendance(sanitizedUserInput)

			// Whole form not valid
			} else {
				// Display error messages
				this.form.showValidationErrors = true
			}
		},

		async createUserAttendance(sanitizedUserInput) {
			try {
				const token = this.getUserToken
				const res = await AttendanceService.createUserAttendance(sanitizedUserInput, token)
				console.log('attendance: ', res)

				const invitedUserId = res.data.records[0].user

				// Emit event that user is incited successfully
				this.$emit('userInvited', invitedUserId)

			} catch (err) {
				console.error(err)
			}
		}
	} /* methods */
}
</script>

<style lang="scss">

	.invite-user-on-event {

		.v--modal-box {
			// overflow-y: scroll;
    	// max-height: 100vh;
		}


		.modal-content {
			border: none;
			// overflow-y: scroll;
    	max-height: 92vh;

			header {
				background-color: #f3f3f3;

				.header-inner {
					padding: 20px 25px;

					.event-name {
						text-align: left;
					}

					.send-to {
						text-align: left;
					}
				}
			}

			main {
				all: unset;
				overflow-y: auto;
				padding: 15px 30px;
			}
		}

		.alert {
			margin-top: 8px;
			margin-bottom: 0;
		}

		form.event-invite-user-form {
			margin-top: 30px;
			// max-width: 300px;
			// margin: 0 auto;

			.button-holder {
				text-align: center;
				width: 120px;
				margin: 30px auto 0 auto;
			}

			.form-group {
				margin-top: 8px;

				.max-guests {
					
					input {
						max-width: 300px;
					}
				}

				.invalid-feedback {
					display: block;
					text-align: left;
				}

				.valid-feedback {
					display: block;
					text-align: left;
				}

				.input-error-field {
					margin: 5px 0 0 0;
				}
			}

			/* Labels */
			label.form-label {
				color: #313131;
				text-align: left;
				display: block;
				font-weight: 600;
				font-size: 16px;

				.required {
					color: #a90000;
				}

				.optional {
					color: rgb(184, 184, 184);
				}
			}

			.form-check {
				text-align: left;
			}

			.form-messages {
				margin-top: 15px;
			}
		}
	}
</style>