<template>
	<div class="applicant-list-page">
		<h2>Applicants</h2>

		<div class="table-holder">
			<TableOfApplicants />
		</div>
	</div>
</template>

<script>
// Components
import TableOfApplicants from '@/components/admin/tables/TableOfApplicants'

export default {
	name: 'applicants-page',
	components: { TableOfApplicants },

}
</script>

<style lang="scss">
	.applicant-list-page {
		
		.table-holder {
			margin-top: 40px;
		}
	}
</style>