<template>
	<div>
		<h1>Create new Event</h1>

		<CreateEventForm />
	</div>
</template>

<script>
// Components
import CreateEventForm from '@/components/admin/forms/CreateEvent'

export default {
	components: { CreateEventForm }
	
}
</script>