<template>
	<div>
		<h1>Create a user</h1>

		<CreateUserForm />
	</div>
</template>

<script>
// Components
import CreateUserForm from '@/components/admin/forms/CreateUser'

export default {
	name: 'create-user',
	components: { CreateUserForm }
}
</script>