<template>
	<div class="admin-invite-users-page">
		<h2 class="page-heading">Invite users</h2>
		<div class="invite-user-wrapper">
			<InviteUserForm />
		</div>
	</div>
</template>

<script>
// Components
import InviteUserForm from '@/components/admin/forms/InviteUser'

export default {
	components: { InviteUserForm }

}
</script>

<style lang="scss">
.admin-invite-users-page {
	
}
</style>