<template>
	<div class="admin-account-page">
		<div class="my-account-wrapper">
			<AdminMyAccount />
		</div>
	</div>
</template>

<script>
import AdminMyAccount from '@/components/admin/forms/AdminMyAccount'

export default {
	components: { AdminMyAccount }

}
</script>

<style>

</style>