<template>
	<div class="scheduled-events-page">
		<h1>Scheduled Events</h1>

		<div class="table-holder">
			<TableOfEvents />
		</div>
	</div>
</template>

<script>
// Components
import TableOfEvents from '@/components/admin/tables/TableOfEvents'

export default {
	components: { TableOfEvents }
}
</script>

<style lang="scss">
	.scheduled-events-page {
		
		.table-holder {
			margin-top: 40px;
		}
	}
</style>