<template>
	<div class="admin-travel-page">
		<h1>Travel</h1>

		<div class="travel-table-wrapper">
			<TravelTable />
		</div>
	</div>
</template>

<script>
import TravelTable from '@/components/admin/tables/TravelTable'

export default {
	components: { TravelTable }
}
</script>

<style lang="scss">
.admin-travel-page {
		
	.travel-table-wrapper {
		margin-top: 40px;
	}
}
</style>