<template>
	<div class="user-list-page">
		<h1>Users</h1>
		
		<div class="table-wrapper">
			<TableOfUsers />
		</div>
	</div>
</template>

<script>
// Components
import TableOfUsers from '@/components/admin/tables/TableOfUsers'

export default {
	components: { TableOfUsers }
}
</script>

<style lang="scss">
.user-list-page {
		
	.table-wrapper {
		margin-top: 40px;
	}
}
</style>