<template>
	<div class="view-trip">
		<h2 class="page-heading">
			Trip: <strong>{{ trip.name }}</strong>
		</h2>

		<div class="view-trip-wrapper">
			<ViewTrip />
		</div>
	</div>
</template>

<script>
// Components
import ViewTrip from '@/components/admin/ViewTrip'
// Services
import TripService from '@/services/TripService'
// Helpers
import { mapGetters } from 'vuex'

export default {
	components: { ViewTrip },

	computed: {
		...mapGetters(['getUserToken', 'getCurrentlyViewingTrip'])
	},

	data() {
		return {
			trip: {}
		}
	},

	created() {
		this.getTripById()
	},

	methods: {
		async getTripById() {
			try {
				const token = this.getUserToken
				const tripId = this.getCurrentlyViewingTrip

				const res = await TripService.getTripById(tripId, token)
				this.trip = res.data.records[0]

			} catch (err) {
				console.error(err)
			}
		}
	}

}
</script>

<style scoped lang="scss">
	.view-trip {

		.page-heading {
			margin-bottom: 20px;
		}
	}
</style>