<template>
	<div class="event-trips-manage">
		<h2>Trips for <strong>{{ event.name }}</strong></h2>

		<div class="trips-table-wrapper">
			<TripsTable />
		</div>
	</div>
</template>

<script>
// Components
import TripsTable from '@/components/admin/tables/TripsTable'
// Services
import EventService from '@/services/EventService'
// Helpers
import { mapGetters } from 'vuex'

export default {
	components: { TripsTable },

	computed: {
		...mapGetters(['getUserToken', 'getCurrentlyViewingEvent'])
	},

	data() {
		return {
			event: {}
		}
	},

	created() {
		this.getEventById()
	},

	methods: {
		async getEventById() {
			try {
				const token = this.getUserToken
				const eventId = this.getCurrentlyViewingEvent

				const res = await EventService.getEventById(eventId, token)
				const event = res.data.records[0]
				this.event = event

			} catch (err) {
				console.error(err)
			}
		}
	}

}
</script>

<style>

</style>