<template>
	<div class="view-event-page">
		<div class="event-details-holder">
			<ViewEvent />
		</div>

		<div class="invite-users-holder">
			<h1>Invite Users</h1>
			
			<InviteUsersOnEventTable />
		</div>
	</div>
</template>

<script>
// Components
import ViewEvent from '@/components/admin/forms/ViewEvent'
import InviteUsersOnEventTable from '@/components/admin/tables/InviteUsersOnEventTable'

export default {
	components: { ViewEvent, InviteUsersOnEventTable },

	// beforeRouteLeave(to, from, next) {
	// 	// Remove CurrentlyViewingEvent when users navigates away from this page
	// 	this.$store.dispatch('removeCurrentlyViewingEvent')
	// 	next()
	// }

}
</script>

<style lang="scss">
	
	.invite-users-holder {
		margin-top: 80px;
	}

</style>