<template>
	<div class="tableSearchInput input-group">
		<div class="input-group-prepend">
			<span class="input-group-text non-selectable-text" id="searchInput">Search</span>
		</div>
		<input
			@keyup="handleSearch"
			v-model="searchValue"
			type="text"
			class="form-control"
			aria-label="Default"
			aria-describedby="searchInput"
		>
	</div>
</template>

<script>
// Helpers
import { formatDateTime } from '@/helpers'

export default {
	name: 'TableSearch',

	props: {
		items: {
			type: Array,
			default: () => []
		},
		itemType: {
			type: String,
			default: ''
		}
	},

	data: () => ({
		searchValue: '',
		filteredItems: []
	}),

	// TODO: Handle when search input is empty (all records all shown at once)
	methods: {
		handleSearch() {
			const searchValue = this.searchValue.toLowerCase()
			var filteredItems = this.filteredItems

			// If searching for Users
			if (this.itemType === 'user') {
				filteredItems = this.searchUsers(searchValue)

			// If searching for Events
			} else if (this.itemType === 'event') {
				filteredItems = this.searchEvents(searchValue)

			} else if (this.itemType === 'trip') {
				filteredItems = this.searchTrips(searchValue)
			}

			// Emit search data changes
			this.$emit('newSearchData', filteredItems)
		},

		searchUsers(searchValue) {
			return this.items.filter(user => {
				// User search pattern
				let q = {}
				
				if (user.login) q.login = user.login.toLowerCase().includes(searchValue)
				if (user.fullName) q.fullName = user.fullName.toLowerCase().includes(searchValue)
				if (user.instagramUsername) q.instagramUsername = user.instagramUsername.toLowerCase().includes(searchValue)
				if (user.invitedBy) q.invitedBy = user.invitedBy.toLowerCase().includes(searchValue)

				if (q.login || q.fullName || q.instagramUsername || q.invitedBy) {
					return user
				}
			})
		},

		searchEvents(searchValue) {
			return this.items.filter(event => {
				// Event search pattern
				let p = {}
				
				if (event.name) p.name = event.name.toLowerCase().includes(searchValue)
				if (event.dateBegins) {
					// Format dateBegins
					const outputDate = formatDateTime(event.dateBegins)
					p.dateBegins = outputDate.toLowerCase().includes(searchValue)
				}
				if (event.dateEnds) {
					// Format dateEnds
					const outputDate = formatDateTime(event.dateEnds)
					p.dateEnds = outputDate.toLowerCase().includes(searchValue)
				}
				if (event.startLocation) p.startLocation = event.startLocation.toLowerCase().includes(searchValue)
				if (event.endLocation) p.endLocation = event.endLocation.toLowerCase().includes(searchValue)
				
				if (p.name || p.dateBegins || p.dateEnds || p.startLocation || p.endLocation) {
					return event
				}
			})
		},

		searchTrips(searchValue) {
			return this.items.filter(trip => {
				// Trip search pattern
				let p = {}
				
				// Trip name
				if (trip.name) p.name = trip.name.toLowerCase().includes(searchValue)
				// Full name of the user that applied on this trip
				if (trip.fullName) p.fullName = trip.fullName.toLowerCase().includes(searchValue)
				if (trip.tripDate) {
					// Format tripDate
					const outputDate = formatDateTime(trip.tripDate)
					p.tripDate = outputDate.toLowerCase().includes(searchValue)
				}
				if (trip.status) p.status = trip.status.toLowerCase().includes(searchValue)
				
				if (p.name || p.fullName || p.tripDate || p.status) {
					return trip
				}
			})
		}
	}
}
</script>

<style scoped lang="scss">
	.tableSearchInput {
		
		.input-group-text {
			// background: rgba(70, 70, 70, 1);
			// color: #fff;
		}

		.non-selectable-text {
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}
	}
</style>