<template>
	<!-- Pagination -->
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<li
				:class="['page-item', currentPage > 0 ? '' : 'disabled']"
			>
				<button  @click="handlePaginationPreviousAndNext(-1)" class="page-link">
					<font-awesome-icon
						:icon="['fas', 'angle-left']"
					/>
				</button>
			</li>

			<div class="pagination-listing-info non-selectable-text">
				Showing {{ showingUsersFrom }} - {{ showingUsersTo }}
				from {{ this.all.length }}
			</div>

			<li
				:class="['page-item', currentPage < totalPages-1 ? '' : 'disabled']"
			>
				<button @click="handlePaginationPreviousAndNext(1)" class="page-link"><font-awesome-icon :icon="['fas', 'angle-right']" /></button>
			</li>
		</ul>
	</nav>
</template>

<script>
// Font Awesome icons
import { library, dom } from '@fortawesome/fontawesome-svg-core'
import { faAngleLeft, faAngleRight, faAngleDoubleLeft, faAngleDoubleRight } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
library.add(faAngleLeft, faAngleRight, faAngleDoubleLeft, faAngleDoubleRight)
dom.watch()

export default {
	name: 'TablePagination',
	components: { FontAwesomeIcon },

	props: {
		all: {
			type: Array,
			default: () => []
		},
		visible: {
			type: Array,
			default: () => []
		},
		totalPages: {
			type: Number,
			default: 0
		},
		itemsPerPage: {
			type: Number,
			default: 0
		}
	},

	data: () => ({
		currentPage: 0
	}),

	computed: {
		showingUsersFrom() {
			if (this.visible.length >= 1) return this.visible[0].tableData.index + 1
			else return 0
		},

		showingUsersTo() {
			if (this.visible.length >= 1) return this.visible.slice(-1)[0].tableData.index + 1
			else return null
		}
	},

	methods: {
		handlePaginationPreviousAndNext(where) {
			if (where === 1 && this.currentPage < this.totalPages) {
				this.currentPage +=  1
				this.$emit('currentPageChange', this.currentPage)

			} else if (where === -1 && this.currentPage > 0) {
				this.currentPage -=  1
				this.$emit('currentPageChange', this.currentPage)
			}
		}
	}
}
</script>

<style lang="scss">
	/* Pagination
	=====================*/
	nav {
		padding: 0;
		align-self: flex-end;

		.pagination {
			display: flex;
			padding: 0;

			.pagination-listing-info {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 8px;
				font-size: 13px;
			}
		}

		.non-selectable-text {
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}

		.disabled {
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;

			button {

				svg {
					color: #c5c5c5;
				}
			}
		}
	}
</style>