<template>
  <div>
    <form id="image-upload-form" @submit="onSubmit" novalidate>
      <vue-form-json-schema
          class="vue-image-upload-form"
          v-model="model"
          :schema="schema"
          :ui-schema="uiSchema"
          :options="options"
          v-on:state-change="onChangeState"
          v-on:validated="onValidated"
          ref="form"
        >
        </vue-form-json-schema>

        <div class="form-group">
          <button type="submit" class="btn btn-block btn-primary submit-btn">Submit</button>
        </div>
    </form>
  </div>
</template>

<script>
// Import VueFormJsonSchema
import VueFormJsonSchema from 'vue-form-json-schema'

export default {
  name: 'thankYou',
  components: {
    VueFormJsonSchema
  },
  data() {
    return {
      someParams: this.$route.params,
      model: {},
      state: {},
      valid: false,
      options: {
        castToSchemaType: true
      },
      schema: {},
      submitted: false,
      success: false,
      uiSchema: []
    }
  },

  created() {
    // console.log('PARAMS: ', this.someParams)
  },

  methods: {
    onSubmit(e) {
      e.preventDefault()
      // console.log('Submitted')
    },

    onChangeState(value) {
      this.state = value
    },

    onValidated(value) {
      this.valid = value
    }
  }
}
</script>

<style lang="scss">

</style>