<template>
	<div>
		<CoreSidebar />

		<main>
			<!-- <TopBar /> -->
			<PageView />
		</main>
	</div>
</template>

<script>
export default {
	name: 'UserDashboard',

	components: {
		CoreSidebar: () => import('./core/Sidebar'),
		TopBar: () => import('./core/TopBar'),
		PageView: () => import('./core/PageView')
	}
}
</script>

<style lang="scss">
	@import "@/sass/user-sidebar/user-dashboard";

	body, html {
		overflow-y: hidden;
	}

	main {
		position: absolute;
    top: 0;
    left: $admin-sidebar-base-width;
		width: calc(100% - #{$admin-sidebar-base-width});
		max-width: calc(100% - #{$admin-sidebar-base-width});
	}
</style>