<template>
	<modal
		name="user-event-application"
		:adaptive="true"
		width="500"
		height="auto"
		@before-open="modalBeforeOpen"
		@opened="modalOpened"
		@before-close="modalBeforeClose"
		class="event-application"
	>
		<div class="modal-content" style="max-height: 92vh;">
			<header>
				<div class="header-inner text-center">
					<h4 class="event-name">
						<strong>{{ event.name }}</strong>
					</h4>
				</div>
			</header>

			<main>
				<form
					@submit="onSubmit"
					class="event-invite-user-form"
				>
					<!-- invitedBy -->
					<div class="form-group form-row">
						<div class="col who-invited-you">
							<label class="form-label">
								Who invited you on the event? <span class="optional">(optional)</span>
							</label>
							<input
								v-model="form.fields.invitedBy"
								type="text"
								class="form-control"
							>
							<!-- invitedBy validation messages -->
						</div>
					</div> <!-- invitedBy END -->

					<!-- termsAgree -->
					<div class="form-group form-row">
						<div class="col terms-wrapper">
							<label>
								Terms and conditions
								<span class="light-text">(Scroll down to accept)</span>
							</label>
							<div class="terms-scroll-box">
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis reiciendis quibusdam iusto neque vero exercitationem, voluptatem, at aliquid deleniti laudantium error odio eos natus libero quisquam nulla repellat eveniet soluta pariatur culpa, fuga recusanae. Odio modi sint aliquam tenetur minus explicabo maxime aliquid a ullam, porro dolor quos ipsam sed!
								<hr>
								<input
									v-model="form.fields.termsAgree"
									type="checkbox"
									id="terms-agree"
								>
								<label class="i-agree-label non-selectable-text" for="terms-agree"> I Agree</label>
							</div>
							<!-- termsAgree validation messages -->
							<div v-if="form.showValidationErrors"
								class="invalid-feedback"
							>
								<span v-if="!form.fields.termsAgree">
									You must accept our Terms and Conditions
								</span>
							</div>
						</div>
					</div> <!-- termsAgree END -->

					<!-- nda -->
					<div class="form-group form-row">
						<div class="col terms-wrapper">
							<label>
								Sign Non-Disclosure Agreement
								<span class="light-text">(Scroll down to accept)</span>
							</label>
							<div class="terms-scroll-box">
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis reiciendis quibusdam iusto neque vero exercitationem, voluptatem, at aliquid deleniti laudantium error odio eos natus libero quisquam nulla repellat eveniet soluta pariatur culpa, fuga recusanae. Odio modi sint aliquam tenetur minus explicabo maxime aliquid a ullam, porro dolor quos ipsam sed!
								<hr>
								<input
									v-model="form.fields.nda"
									type="checkbox"
									id="accept-nda"
								>
								<label class="i-agree-label non-selectable-text" for="accept-nda"> I Accept</label>
							</div>
							<!-- nda validation messages -->
							<div v-if="form.showValidationErrors"
								class="invalid-feedback"
							>
								<span v-if="!form.fields.nda">
									You must accept our Non-Disclosure Agreement (NDA)
								</span>
							</div>
						</div>
					</div> <!-- nda END -->

					<!-- guests -->
					<div
						v-if="invitation.maxGuests > 0"
						class="form-group form-row"
					>
						<div class="col add-guests-wrapper">
							<label class="form-label add-guests-label">
								Invite up to {{ invitation.maxGuests }} guests
							</label>
							<button
								@click="addGuestInput()"
								class="btn-success btn-circle add-guest-button non-selectable-text"
							>
								+
							</button>

							<!-- Guest inputs -->
								<div
									v-for="(input, index) in form.guests.inputs"
									:key="index"
									class="col single-guest-wrapper"
								>
									<!-- Guest name -->
									<div class="form-group">
										<label class="form-label">
											Guest name
										</label>
										<input
											v-model="input.guestName"
											type="text"
											class="form-control"
										>
										<button
											@click="discardGuest(input.id)"
											type="button"
											class="close remove-guest-btn"
											aria-label="Close"
											title="Remove this guest"
										>
											<span aria-hidden="true">&times;</span>
										</button>
										<!-- guestName validation messages -->
										<div v-if="form.showValidationErrors"
											class="invalid-feedback"
										>
											<span v-if="input.guestName === ''">
												Guest name is required
											</span>
										</div>
									</div>

									<!-- Guest image -->
									<div class="form-group">
										<label class="form-label">
											Guest image
										</label>
										<input
											@change="handleGuestImage(input.id)"
											type="file"
											class="guest-image"
										>
										<!-- guest file validation messages -->
										<div v-if="form.showValidationErrors"
											class="invalid-feedback"
										>
											<span v-if="!input.file">
												You must choose an image
											</span>
										</div>
									</div>
								</div>

							<!-- guests validation messages -->
							<div v-if="form.guests.messages.maxNumberOfGuests && form.guests.addedGuestsCount >= invitation.maxGuests"
								class="invalid-feedback"
							>
								<span>
									You already have the maximum number of guests
								</span>
							</div>
						</div>
					</div> <!-- guests row END -->

					<div class="button-holder">
						<button
							type="submit"
							class="btn btn-block btn-success"
						>
							Submit
						</button>
					</div>
				</form>
			</main>
		</div>
	</modal>
</template>

<script>
// Services
import AttendanceService from '@/services/AttendanceService'
// Helpers
import { mapGetters } from 'vuex'
import { sanitizeInput } from '@/helpers'
import { required, sameAs } from 'vuelidate/lib/validators'

export default {
	name: 'EventApplicationModal',

	computed: {
		...mapGetters(['getUserToken'])
	},

	data() {
		return {
			event: {},
			invitation: {},

			form: {
				isValid: false,
				showValidationErrors: false,

				guests: {
					addedGuestsCount: 0,
					inputs: [],
					messages: {
						maxNumberOfGuests: false
					}
				},

				// Attendance fields for the form
				files: [],
				fields: {
					termsAgree: false, // TODO: needs to be false
					nda: false, // TODO: needs to be false
					invitedBy: '',
					status: 'approved'
				}
			}
		}
	}, /* data */

	validations: {
		form: {
			// Fields
			fields: {
				termsAgree: { sameAs: sameAs( () => true ) },
				nda: { sameAs: sameAs( () => true ) },
				status: { required, sameAs: sameAs( () => 'approved' ) } // User accepted event invitation
			}
		}
	},

	methods: {
		modalBeforeOpen(event) {
			// Get event on which user applied from params
			this.event = event.params.appliedOnEvent
			this.invitation = event.params.eventInvitation
		},

		modalBeforeClose() {
			// Reset all data when modal is closed
			this.resetFormData()
		},

		modalOpened() {
			// console.log('modal opened..')
		},

		addGuestInput() {
			event.preventDefault()

			// Check how many guests can be invited
			if (this.form.guests.addedGuestsCount < this.invitation.maxGuests ) {
				// Add guest to the Guests counter
				const count = this.form.guests.addedGuestsCount++

				// Add input field to the form
				const input = { id: count, guestName: '', file: null }
				this.form.guests.inputs.push(input)

			} else {
				this.form.guests.messages.maxNumberOfGuests = true
			}
		},

		discardGuest(guestId) {
			event.preventDefault()
			// Delete discarded guests input field
			const filteredGuests = this.form.guests.inputs.filter(guest => guest.id !== guestId)
			this.form.guests.inputs = filteredGuests
			// Tell counter that one guest is discarded
			this.form.guests.addedGuestsCount--
		},

		checkAreGuestsValid() {
			var allGuestsValid = false

			this.form.guests.inputs.forEach((guest) => {
				// Check if form fields are valid

				// Check if there is at least 1 guest added
				if (this.form.guests.inputs.length > 0) {}

				// Check if added guests have valid data
				if (!guest.guestName || guest.guestName === '' || !guest.file) {
					allGuestsValid = false
				} else {
					allGuestsValid = true
				}
			})

			return allGuestsValid
		},

		checkIsFormValid() {
			// If there is at least 1 guest added, check if guest fields are valid
			if (this.form.guests.inputs.length > 0) {
				var allGuestsValid = this.checkAreGuestsValid()
			}

      if (this.$v.$invalid || allGuestsValid === false) {
				this.form.isValid = false
			}
      else this.form.isValid = true
		},

		resetFormData() {
			this.event = {}
			this.invitation = {}

			// Form
			this.form = {
				isValid: false,
				showValidationErrors: false,

				guests: {
					addedGuestsCount: 0,
					inputs: [],
					messages: {
						maxNumberOfGuests: false
					}
				},

				// Attendance fields for the form
				files: [],
				fields: {
					termsAgree: false,
					nda: false,
					invitedBy: '',
					status: 'approved'
				}
			}
		},

		handleGuestImage(guestId) {
			// Attach selected file to guest by guest id (input id)
			this.form.guests.inputs[guestId].file = event.target.files[0]
		},

		async onSubmit() {
			// TODO: Remove lines
			event.preventDefault()

			// Check if form is valid
			this.checkIsFormValid()

			if (this.form.isValid) {
				this.form.showValidationErrors = false

				const sanitizedAttendanceData = sanitizeInput(this.form.fields)
				// Send req to accept the attendance
				const attendanceRes = await this.acceptInvite(sanitizedAttendanceData)

				// Check if there is at least 1 guest added
				if (this.form.guests.inputs.length > 0) {
					// const sanitizedGuestsData = sanitizeInput(this.form.guests.inputs)
					const sanitizedGuestsData = this.santizeGuestsData(this.form.guests.inputs)

					// Send req to add guests
					var guestResponses = await this.addAllGuests(sanitizedGuestsData)
				}

				// Check if attendance is accepted successfully
				if (attendanceRes.status === 200) {
					// Emit that user successfully accepted an Invitation
					this.$emit('invitationAccepted', attendanceRes)
				}

			} else {
				this.form.showValidationErrors = true
			}
		},

		santizeGuestsData(inputData) {
			// Sanitize guests data with helper function
			var sanitized = sanitizeInput(inputData)

			return sanitized
		},

		async acceptInvite(sanitizedAttendanceData) {
			const sanData = sanitizedAttendanceData
			const data = {
				id: this.invitation.id,
				replace: {
					nda: sanData.nda,
					termsAgree: sanData.termsAgree,
					invitedBy: sanData.invitedBy, // its null if not specified by the user
					status: sanData.status
				}
			}

			try {
				const token = this.getUserToken
				const res = await AttendanceService.updateAttendance(data, token)

				return res

			} catch (err) {
				console.error(err.response)
			}
		},

		async addAllGuests() {
			try {
				const guests = this.form.guests.inputs

				let promises = guests.map(async (guest) => {
					const token = this.getUserToken
					const data = {
						attendanceId: this.invitation.id,
						guestName: guest.guestName,
						file: guest.file
					}
					const res = await AttendanceService.addGuest(data, token)
					// const guest = res.data.records[0]

					return res
				})

				const allGuestResponses = await Promise.all(promises)

				return allGuestResponses

			} catch (err) {
				console.error(err)
			}
		}
	}
}
</script>

<style lang="scss">

	.event-application {

		.v--modal-box {
			// overflow-y: scroll;
    	// max-height: 100vh;
		}

		.non-selectable-text {
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}


		.modal-content {
			border: none;
			// overflow-y: scroll;
    	max-height: 92vh;

			header {
				background-color: #f3f3f3;

				.header-inner {
					padding: 20px 25px;

					.event-name {
						text-align: left;
						margin: 0 0;
					}

					.send-to {
						text-align: left;
					}
				}
			}

			main {
				all: unset;
				overflow-y: auto;
				padding: 15px 30px;
			}
		}

		.alert {
			margin-top: 8px;
			margin-bottom: 0;
		}

		form.event-invite-user-form {

			.button-holder {
				text-align: center;
				width: 120px;
				margin: 0 auto;
				padding-top: 40px;
			}

			.form-group {

				.who-invited-you {
					// width: 100%;
					// max-width: 80%;
					// margin: 0 auto;
					
					input {
						max-width: 100%;
					}
				}

				.add-guests-wrapper {

					.add-guest-button {
						display: inline-block;
						border: 1px solid green;
						border: none;
						width: 30px;
						height: 30px;
						margin-left: 20px;

						&:hover {
							box-shadow: 0 0 2pt 1pt #28a745;
						}

						&:focus {
							outline: none;
						}
					}

					.add-guests-label {
						display: inline-block;
					}

					.single-guest-wrapper:nth-child(odd) {
						border-radius: 5px;
						background-color: #f4f4f4;
					}

					/* Single guest field */
					.single-guest-wrapper {
						position: relative;
						padding: 20px 10px;

						input[type=text] {
							display: inline-block;
							max-width: 80%;
							margin-right: 5%;
						}

						input.guest-image {

							&:hover {
								cursor: pointer;
							}
						}
						
						.remove-guest-btn {
							position: absolute;
							top: 5px;
							right: 5px;
							width: 30px;
    					height: 30px;
							color: red;

							&:focus {
								outline: none;
							}
						}
					}
				}

				/* Terms and Conditions */
				.terms-wrapper {
					.light-text {
						color: #a3a3a3;
						font-size: 14px;
					}

					.terms-scroll-box {
						overflow-y: scroll;
						height: 100px;
						width: 100%;
						border: 1px solid #DDD;
						padding: 10px;
						background-color: #fff;
						color: #333;
						font-size: 14px;

						label {
							color: #333;
						}

						.i-agree-label {
							margin-left: 8px;
						}
					}
				}

				.invalid-feedback {
					display: block;
					text-align: left;
				}

				.valid-feedback {
					display: block;
					text-align: left;
				}

				.input-error-field {
					margin: 5px 0 0 0;
				}
			}

			/* Labels */
			label.form-label {
				color: #313131;
				text-align: left;
				display: block;
				font-weight: 600;
				font-size: 16px;

				.required {
					color: #a90000;
				}

				.optional {
					font-size: 15px;
					color: rgb(184, 184, 184);
				}
			}

			.form-check {
				text-align: left;
			}

			.form-messages {
				margin-top: 15px;
			}

			/*
			Second page
			========================================= */
			.second-page {

			}
		}

		/* Transitions */
		.fade-enter-active, .fade-leave-active {
			transition: opacity 1s;
		}
		.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
			opacity: 0;
		}
	}
</style>