<template>
	<div class="finish-account-page">
		<div class="container">
			<h1>Finish up your account</h1>

			<div class="form-wrapper">
				<!-- <FinishUpYourAccount
					v-if="isUserProfileFinished === false"
				/> -->
				<FinishUpYourAccount />
			</div>
		</div>
	</div>
</template>

<script>
// Components
import FinishUpYourAccount from '@/components/user/forms/FinishUpYourAccount'
// Helpers
import { mapGetters } from 'vuex'
// import store from '@/store'

export default {
	name: 'finish-account-page',
	components: { FinishUpYourAccount },

	computed: {
		...mapGetters(['getIsUserProfileFinished']),

		isUserProfileFinished() {
			return this.getIsUserProfileFinished
		}
	},

	// beforeRouteEnter (to, from, next) {
	// 	// return store.fetchSpecial(to.params.slug).then(next)
	// 	// If user finished account go one page back
	// 	let isUserProfileFinished = store.getters.getIsUserProfileFinished
	// 	if (isUserProfileFinished) {
	// 		// next(false)
	// 		// return this.$router.go(-1)
	// 		console.log('isUserProfileFinished 1: ', isUserProfileFinished)

	// 	} else {
	// 		console.log('isUserProfileFinished 2:', isUserProfileFinished)
	// 		// next()
	// 		// return this.$router.go(-1)
	// 	}
	// 	console.log('to: ', to)
	// 	console.log('from: ', from)
	// 	console.log('next: ', next)
	// 	next()
	// }
}
</script>

<style lang="scss">

.finish-account-page {

	.form-wrapper {
		max-width: 400px;	
		margin: 2rem auto 0 auto;
	}
}

</style>