<template>
	<button 
		type="submit" 
		class="edit-button-link"
	>
		{{ editingModeOn ? 'Discard' : 'Edit' }}
	</button>
</template>

<script>
export default {
	props: {
		editingModeOn: {
			type: Boolean,
			default: false
		}
	}
	
}

</script>

<style lang="scss">
	.edit-button-link {
		bottom: 5px;
		left: 110%;
		display: inline-block;
		font-size: 16px;
		border: none;
		background: transparent;
		color: #4e73df;
	}

	.edit-button-link:hover {
		text-decoration: underline;
	}

	.edit-button-link:focus {
		outline: none;
	}
</style>