<template>
	<div>
		<button type="button" class="btn btn-danger" @click="handleLogout">Logout</button>
	</div>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'

export default {
	name: 'LogoutButton',
	props: ['payload'],

	computed: {
		isLoggedIn() {
			return this.$store.getters.isLoggedIn
		},

		getLoggedInUser() {
			return this.$store.getters.getLoggedInUser
		}
	},

	mounted() {
		// console.log('isLoggedIn: ', this.isLoggedIn)
	},

	methods: {
		async handleLogout() {
			// If user is logged in, then logout
			const isLoggedIn = this.isLoggedIn
			if (isLoggedIn) {
				// TODO: Remove users token from the server, DELETE /login/:id
				// TODO: Should storage the login record/id so it can be removed on logout

				const isAdmin = this.getLoggedInUser.roles.includes('admin')
				const isUser = this.getLoggedInUser.roles.includes('user')
				// Destroy token
				const isTokenDestroyed = await this.$store.dispatch('destroyToken')
				// Remove user and ALL user related data (from Store and localStorage)
				const isUserRemoved = await this.$store.dispatch('logoutUser')

				if (isAdmin && isTokenDestroyed && isUserRemoved) {
					// Redirect to Admin login page
					return this.$router.push({ name: 'admin-login' }).catch(err => {})
				} else if (isUser && isTokenDestroyed && isUserRemoved) {
					// Redirect to User login page
					return this.$router.push({ name: 'user-login' }).catch(err => {})
				}

			// Just redirect if user is not logged in
			} else {
				this.$router.push({ name: 'user-login' })
			}
		},

		async postLogout() {
			// console.log('should post logout')

			// try {
			// 	AuthenticationService.postLogout()
			// 		.then(res => this.successfulLogout(res))
			// 		.catch(err => this.handleErrors(err))
			// } catch (err) {
			// 	console.log(err)
			// }
		},

		successfulLogout(res) {
		},

		handleErrors(err) {
			console.error(err)
		}
	}
}
</script>

<style scoped>

</style>