<template>
	<div class="trip-info">
		<form
			@submit="onSubmit"
			class="trip-information-form"
			novalidate
		>
			<div class="form-group form-row">
				<!-- name (trip name) -->
				<div class="col">
					<label for="name" title="Name of the trip you are attending" class="form-label event-name-label">
						Trip name <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.name"
						type="text"
						id="name"
						class="form-control"
						autocomplete="off"
					>
					<!-- name validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.name.required">
							Required field
						</span>
						<span v-if="!$v.form.fields.name.onlyAlphaChars">
							Only alphabetic characters
						</span>
					</div>
				</div>

				<!-- tripDate -->
				<div class="col">
					<label for="tripDate" title="Estimated trip date" class="form-label trip-date-label">
						Estimated trip date <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.tripDate"
						type="date"
						id="tripDate"
						class="form-control"
					>
					<!-- tripDate validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.tripDate.required">
							Required field
						</span>
					</div>
				</div>

				<div class="col">
					<label for="fullName" title="Your name from the passport" class="form-label full-name-label">
						Full name <span class="required">*</span>
					</label>
					<input
						v-model="$v.form.fields.fullName.$model"
						type="text"
						id="fullName"
						class="form-control"
					>
					<!-- fullName validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.fullName.required">
							Required field
						</span>
						<span v-if="!$v.form.fields.fullName.onlyAlphaChars">
							Only alphabetic characters
						</span>
					</div>
				</div>
			</div> <!-- First row END -->

			<div class="form-group form-row">

				<div class="col">
					<label for="passportNumber" title="Passport number" class="form-label passport-number-label">
						Passport number <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.passportNumber"
						type="text"
						id="passportNumber"
						class="form-control"
					>
					<!-- passportNumber validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.passportNumber.required">
							Required field
						</span>
					</div>
				</div>

				<div class="col">
					<label for="passportExpirationDate" title="Expiration date of your passport" class="form-label passport-expiration-date-label">
						Passport expiration date <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.passportExpirationDate"
						type="date"
						id="passportExpirationDate"
						class="form-control"
					>
					<!-- passportExpirationDate validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.passportExpirationDate.required">
							Required field
						</span>
					</div>
				</div>

				<div class="col">
					<label for="passportIssuingCountry" title="Name of the country which issued your passport" class="form-label passport-issuing-country-label">
						Passport issuing country <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.passportIssuingCountry"
						type="text"
						id="passportIssuingCountry"
						class="form-control"
					>
					<!-- passportIssuingCountry validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.passportIssuingCountry.required">
							Required field
						</span>
						<span v-if="!$v.form.fields.passportIssuingCountry.onlyAlphaChars">
							Only alphabetic characters
						</span>
					</div>
				</div>
			</div> <!-- Second row END -->

			<div class="form-group form-row">
				<div class="col">
					<label for="arrivingFlightPreferredAirport" title="Name of the preffered airport for arrival" class="form-label arriving-flight-preferred-airport-label">
						Preferred arrival airport <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.arrivingFlightPreferredAirport"
						type="text"
						id="arrivingFlightPreferredAirport"
						class="form-control"
					>
					<!-- arrivingFlightPreferredAirport validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.arrivingFlightPreferredAirport.required">
							Required field
						</span>
					</div>
				</div>

				<div class="col">
					<label for="arrivingFlightSecondaryAirport" title="Name of the secondary airport for arrival" class="form-label arriving-flight-secondary-airport-label">
						Secondary arrival airport <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.arrivingFlightSecondaryAirport"
						type="text"
						id="arrivingFlightSecondaryAirport"
						class="form-control"
					>
					<!-- arrivingFlightSecondaryAirport validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.arrivingFlightSecondaryAirport.required">
							Required field
						</span>
					</div>
				</div>

				<div class="col">
					<label for="departingFlightPreferredAirport" title="Name of the preffered airport for departing" class="form-label preffered-dep-airport-label">
						Preffered departing airport <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.departingFlightPreferredAirport"
						type="text"
						id="departingFlightPreferredAirport"
						class="form-control"
					>
					<!-- departingFlightPreferredAirport validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.departingFlightPreferredAirport.required">
							Required field
						</span>
					</div>
				</div>
			</div> <!-- Third row END -->

			<div class="form-group form-row">
				<div class="col">
					<label for="departingFlightSecondaryAirport" title="Name of the secondary airport for departing" class="form-label secondary-dep-airport-label">
						Secondary departing airport <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.departingFlightSecondaryAirport"
						type="text"
						id="departingFlightSecondaryAirport"
						class="form-control"
					>
					<!-- departingFlightSecondaryAirport validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.departingFlightSecondaryAirport.required">
							Required field
						</span>
					</div>
				</div>

				<div class="col">
					<label for="availableToDepartDate" title="Date and time when available to depart" class="form-label available-depart-label">
						Available to depart <span class="optional">(optional)</span>
					</label>
					<input
						v-model="form.fields.availableToDepartDate"
						type="datetime-local"
						id="availableToDepartDate"
						class="form-control"
					>
					<!-- availableToDepartDate validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<!-- <span v-if="!$v.form.fields.availableToDepartDate.required">
							Required field
						</span> -->
					</div>
				</div>

				<div class="col">
					<label for="mustArriveByDate" title="Date and time when you prefer to arrive" class="form-label must-arrive-label">
						Must arrive by <span class="optional">(optional)</span>
					</label>
					<input
						v-model="form.fields.mustArriveByDate"
						type="datetime-local"
						id="mustArriveByDate"
						class="form-control"
					>
					<!-- mustArriveByDate validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<!-- <span v-if="!$v.form.fields.mustArriveByDate.required">
							Required field
						</span> -->
					</div>
				</div>
			</div> <!-- Fourth row END -->

			<div class="form-group form-row">
				<div class="col">
					<label for="tsaPrecheckNumber" title="Transportation Security Administration precheck number" class="form-label tsa-precheck-label">
						TSA precheck number <span class="optional">(optional)</span>
					</label>
					<input
						v-model="form.fields.tsaPrecheckNumber"
						type="text"
						id="tsaPrecheckNumber"
						class="form-control"
					>
					<!-- tsaPrecheckNumber validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<!-- <span v-if="!$v.form.fields.tsaPrecheckNumber.required">
							Required field
						</span> -->
					</div>
				</div>

				<div class="col">
					<label for="frequentFlyerNumbers" title="Frequent flyer numbers" class="form-label freq-flyer-numbers-label">
						Frequent flyer numbers <span class="optional">(optional)</span>
					</label>
					<input
						v-model="form.frequentFlyerNum"
						type="text"
						id="frequentFlyerNumbers"
						class="form-control"
					>
					<!-- frequentFlyerNumbers validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<!-- <span v-if="!$v.form.fields.frequentFlyerNumbers.required">
							Required field
						</span> -->
					</div>
				</div>

				<div class="col">
					<label for="frequentFlyerCompanies" title="Frequent flyer numbers" class="form-label freq-flyer-comp-label">
						Frequent flyer companies <span class="optional">(optional)</span>
					</label>
					<input
						v-model="form.frequentFlyerComp"
						type="text"
						id="frequentFlyerCompanies"
						class="form-control"
					>
					<!-- frequentFlyerCompanies validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<!-- <span v-if="!$v.form.fields.frequentFlyerCompanies.required">
							Required field
						</span> -->
					</div>
				</div>
			</div> <!-- Fifth row END -->

			<div class="form-group form-row">
				<div class="form-group terms-wrapper">
					<label class="terms-label">
						Terms and Conditions
						<span class="light-text">(Scroll down to accept)</span>
					</label>
					<div class="terms-scroll-box">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis reiciendis quibusdam iusto neque vero exercitationem, voluptatem, at aliquid deleniti laudantium error odio eos natus libero quisquam nulla repellat eveniet soluta pariatur culpa, fuga recusandae. Odio modi sint aliquam tenetur minus explicabo maxime aliquid a ullam, porro dolor quos ipsam sed! 						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis reiciendis quibusdam iusto neque vero exercitationem, voluptatem, at aliquid deleniti laudantium error odio eos natus libero quisquam nulla repellat eveniet soluta pariatur culpa, fuga recusandae. Odio modi sint aliquam tenetur minus explicabo maxime aliquid a ullam, porro dolor quos ipsam sed!
						<hr>
						<input type="checkbox" id="terms-agree" v-model="form.travelTerms">
						<label class="i-agree-label" for="terms-agree"> Agree</label>
					</div>
				</div>
				<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.travelTerms.sameAs">
							You must agree with our Terms and Conditions
						</span>
					</div>
			</div>

			<div class="button-holder">
				<button type="submit" class="btn btn-block submit-btn">Submit</button>
			</div>
		</form>
	</div>
</template>

<script>
// Services
import AttendanceService from '@/services/AttendanceService'
import TripService from '@/services/TripService'
// Helpers
import { mapGetters } from 'vuex'
import { required, minLength, sameAs } from 'vuelidate/lib/validators'
import { onlyAlphaChars } from '@/helpers/lib/customValidators'
import { sanitizeInput } from '@/helpers'

export default {
	name: 'TripForm',

	computed: {
		...mapGetters(['getCurrentlyViewingAttendance', 'getUserToken', 'getLoggedInUser'])
	},

	mounted() {
		// TODO: Set attendance form fields
		const attendanceId = this.getCurrentlyViewingAttendance
		this.form.fields.attendance = attendanceId
	},

	data() {
		return {
			form: {
				isValid: false,
				showValidationErrors: false,
				travelTerms: false,

				frequentFlyerNum: '',
				frequentFlyerComp: '',

				fields: {
					attendance: null,
					readyForReview: true, // Trip record is filled out and ready to be reviewed

					name: '',
					tripDate: '',
					fullName: '',
					passportNumber: '',
					passportExpirationDate: '',
					passportIssuingCountry: '',
					arrivingFlightPreferredAirport: '',
					arrivingFlightSecondaryAirport: '',
					departingFlightPreferredAirport: '',
					departingFlightSecondaryAirport: '',
					availableToDepartDate: '',
					mustArriveByDate: '',
					tsaPrecheckNumber: '',
					frequentFlyerNumbers: [],
					frequentFlyerCompanies: []
				}
			}
		}
	},

	// Form validation
	validations: {
		form: {
			travelTerms: { sameAs: sameAs( () => true ) },

			frequentFlyerNum: { },
			frequentFlyerComp: { },

			fields: {
				name: { required, onlyAlphaChars },
				fullName: { required, onlyAlphaChars },
				tripDate: { required },
				passportNumber: { required },
				passportExpirationDate: { required },
				passportIssuingCountry: { required, onlyAlphaChars },
				arrivingFlightPreferredAirport: { required },
				arrivingFlightSecondaryAirport: { required },
				departingFlightPreferredAirport: { required },
				departingFlightSecondaryAirport: { required },
				availableToDepartDate: { },
				mustArriveByDate: { },
				tsaPrecheckNumber: { required }
			}
		}
	},

	created() {
		this.getAttendanceById()
		this.getTripFormSchema()
	},

	methods: {
		async getAttendanceById() {
			try {
				// Get currently viewing attendance id form the store
				const attendanceId = this.getCurrentlyViewingAttendance
				const token = this.getUserToken

				const res = await AttendanceService.getAttendanceById(attendanceId, token)
				this.attendance = res.data.records[0]

			} catch (err) {
				console.error(err)
			}
		},

		async getTripFormSchema() {
			try {
				// const res = await TripService.getTripFormSchema()

			} catch (err) {
				console.error(err)
			}
		},

		checkIsFormValid() {
			if (this.$v.$invalid) return
      else this.form.isValid = true
		},

		async createTrip(sanitizedInput) {
			try {
				const token = this.getUserToken
				const tripCreatedRes = await TripService.createTrip(sanitizedInput, token)

				// Redirect user to the Travel page
				setTimeout(() => {
					this.$router.push({
						name: 'user-travel-page'
					})
				}, 800)

			} catch (err) {
				console.error(err)
				console.error('err.response: ', err.response)
			}
		},

		onSubmit() {
			event.preventDefault()

			var isFreqFlyerNumAdded = this.form.frequentFlyerNum !== ''
			var isFreqFlyerCompAdded = this.form.frequentFlyerComp !== ''

			var flyerNum = this.form.fields.frequentFlyerNumbers
			var flyerComp = this.form.fields.frequentFlyerCompanies

			isFreqFlyerNumAdded ? this.form.fields.frequentFlyerNumbers.push(this.form.frequentFlyerNum) : this.form.fields.frequentFlyerNumbers = []
			isFreqFlyerCompAdded ? this.form.fields.frequentFlyerCompanies.push(this.form.frequentFlyerComp) : this.form.fields.frequentFlyerCompanies = []

			// Check if whole form is valid
			this.checkIsFormValid()

			if (this.form.isValid) {
				const sanitizedInput = sanitizeInput(this.form.fields)
				this.createTrip(sanitizedInput)

			} else {
				this.form.showValidationErrors = true
			}
		}
	} /* methods */

}
</script>

<style lang="scss">

.trip-info {

	form.trip-information-form {

		.alert {
			margin-top: 8px;
			margin-bottom: 0;
		}

		.button-holder {
			text-align: center;
			width: 120px;
			margin: 0 auto;
			margin-top: 55px;

			button.submit-btn {
				display: inline-block;
				background-color: #4e73df;
				color: #fff;
				transition: all 200ms ease-in-out;

				&:hover {
					background-color: #fff;
					color: #4e73df;
					border-color: #4e73df;
				}
			}
		}

		.form-group {
			margin-top: 8px;

			.invalid-feedback {
				display: block;
				text-align: left;

				span {
					display: block;
				}
			}

			.valid-feedback {
				display: block;
				text-align: left;
			}

			.input-error-field {
				margin: 5px 0 0 0;
			}
		}

		/* Labels */
		label.form-label {
			color: #313131;
			text-align: left;
			display: block;
			font-weight: 600;
			font-size: 16px;

			.required {
				color: #a90000;
			}

			.optional {
				color: rgb(184, 184, 184);
			}
		}

		/* Travel disclaimer */
		.terms-wrapper {
			.light-text {
				color: #a3a3a3;
			}

			.terms-label {
				display: block;
				width: 100%;
				text-align: left;
			}

			.terms-scroll-box {
				overflow-y: scroll;
				height: 130px;
				width: 100%;
				border: 1px solid #DDD;
				padding: 10px;
				text-align: left;
				background-color: #fff;
				color: #333;
				font-size: 14px;

				label {
					color: #333;
				}

				.i-agree-label {
					margin-left: 8px;
				}
			}
		}

		.form-check {
			text-align: left;

			&.measurement-units {
				padding-left: 0;
			}
		}
	}

	.form-messages {
		margin-top: 15px;
	}
}
</style>