<template>
  <div>
		<h1>Apply for: <strong>{{ event.name }}</strong></h1>

    <form
			@submit="onSubmit"
			class="apply-for-event-form"
			novalidate
		>
			<!-- First row -->
			<div class="form-group form-row">
				<!-- name -->
				<div class="col">
					<label for="eventName" title="Name of the event you want to create" class="form-label name-label">
						Event name <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.name"
						type="text"
						id="eventName"
						class="form-control"
						autocomplete="off"
					>
					<!-- name validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.name.required">
							Required
						</span>
					</div>
				</div>

				<!-- dateBegins -->
				<div class="col">
					<label for="dateBegins" class="form-label date-begins-label">
						Date and time when Event begins <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.dateBegins"
						@change="logDate"
						type="datetime-local"
						id="dateBegins"
						class="form-control"
					>
					<!-- dateBegins validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.dateBegins.required">
							Required
						</span>
					</div>
				</div>

				<!-- dateEnds -->
				<div class="col">
					<label for="dateEnds" class="form-label date-ends-label">
						Date and time when Event ends <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.dateEnds"
						type="datetime-local"
						id="dateEnds"
						class="form-control"
					>
					<!-- dateEnds validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.dateEnds.required">
							Required
						</span>
					</div>
				</div>
			</div> <!-- First row END -->

			<!-- Second row -->
			<div class="form-group form-row">

				<!-- startLocation -->
				<div class="col">
					<label for="startLocation" class="form-label start-location-label">
						Start location <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.startLocation"
						type="text"
						id="startLocation"
						class="form-control"
						autocomplete="off"
					>
					<!-- startLocation validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.startLocation.required">
							Required
						</span>
					</div>
				</div>

				<!-- endLocation -->
				<div class="col">
					<label for="endLocation" class="form-label end-location-label">
						End location <span class="required">*</span>
					</label>
					<input
						v-model="form.fields.endLocation"
						type="text"
						id="endLocation"
						class="form-control"
						autocomplete="off"
					>
					<!-- endLocation validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.endLocation.required">
							Required
						</span>
					</div>
				</div>
			</div> <!-- Second row END -->

			<!-- Third row -->
			<div class="form-group form-row">
				<!-- description -->
				<div class="col">
					<label for="description" class="form-label description-label">
						Description <span class="optional">(optional)</span>
					</label>
					<textarea
						v-model="form.fields.description"
						id="description"
						class="form-control description"
					></textarea>
				</div>
			</div> <!-- Third row END -->

			<div class="button-holder">
				<button type="submit" class="btn btn-block submit-btn">Apply</button>
			</div>
		</form>

		<!-- Form messages -->
		<!-- <div class="form-messages">
			<transition mode="out-in">
				<div
					v-if="form.messages.success.eventUpdated"
					class="alert alert-success"
					key="success"
				>
					Event updated successfully
				</div>
			</transition>

			<transition name="fade" mode="out-in">
				<div
					v-if="form.messages.error.unknownError"
					class="alert alert-success"
					key="success"
				>
					An error has occurred. Please try again.
				</div>
			</transition>
		</div> -->
  </div>
</template>

<script>
// Services
import EventService from '@/services/EventService'
// Helpers
import { mapGetters } from 'vuex'

export default {
	name: 'attend-event-page',
	components: {},

	computed: {
		...mapGetters(['getUserToken', 'getLoggedInUser', 'getCurrentlyViewingEvent']),
	},

	data() {
		return {
			// Event data
			event: {},

			form: {
				showValidationErrors: false,
				isValid: false,

				fields: {
					name: '',           // string
					dateBegins: '',     // string - date-time
					dateEnds: '',       // string - date-time
					startLocation: '',  // string
					endLocation: '',    // string
					description: '',    // string
				},
				
				messages: {
					error: {
						eventAlreadyExists: false,
						// fileUpload: false,
						unknownError: false
					},
					success: {
						eventUpdated: false
					}
				},
			}
		}
	},

	mounted() {
		this.getEventById()
	},

	methods: {
		async getEventById() {
			try {
				const eventId = this.getCurrentlyViewingEvent
				const token = this.getUserToken
				const res = await EventService.getEventById(eventId, token)
				const event = res.data.records[0]

				console.log('event: ', event)

				this.event = event
				return event
			} catch (err) {
				console.error(err)
			}
		},

		onSubmit() {
			event.preventDefault()
			console.log('submitted')
		}

	} /* methods */
}
</script>

<style>

</style>