<template>
  <div id="finishUserAccount">
		<h2>Finish up your account</h2>

    <form
			@submit="onSubmit"
			class="finish-up-your-account-form"
		>
			<!-- <vue-form-json-schema
				v-model="form.model"
				:schema="form.schema"
				:ui-schema="form.uiSchema"
				:options="options"
				v-on:validated="onValidated"
				v-on:state-change="onStateChange"
				class="vue-form"
				ref="form"
			>
			</vue-form-json-schema> -->
			<!-- FIRST ROW -->

				<div class="form-row">
					<div class="col">
						<label for="middleName">Invited by</label>
						<input 
							id="invitedBy"
							type="text" 
							class="form-control" 
							v-model="form.fields.invitedBy"
						>
						<div v-if="form.showValidationErrors"
							class="invalid-feedback"
						>
							<span v-if="!$v.form.fields.invitedBy.required">
								Required
							</span>
						</div>
					</div>
					<div class="col">
						<label for="middleName">Phone</label>
						<input 
							id="phoneNumber"
							type="text" 
							class="form-control" 
							v-model="form.fields.phoneNumber"
						>
						<div v-if="form.showValidationErrors"
							class="invalid-feedback"
						>
							<span v-if="!$v.form.fields.phoneNumber.required">
								Required
							</span>
						</div>
					</div>
				</div>

			<!-- FIRST ROW END -->

			<!-- SECOND ROW -->

				<div class="form-row">
					<div class="col">
						<label for="middleName">Country</label>
						<input 
							id="country"
							type="text" 
							class="form-control" 
							v-model="form.fields.country"
						>
						<div v-if="form.showValidationErrors"
							class="invalid-feedback"
						>
							<span v-if="!$v.form.fields.country.required">
								Required
							</span>
						</div>
					</div>
					<div class="col">
						<label for="middleName">City</label>
						<input 
							id="city"
							type="text" 
							class="form-control" 
							v-model="form.fields.city"
						>
						<div v-if="form.showValidationErrors"
							class="invalid-feedback"
						>
							<span v-if="!$v.form.fields.city.required">
								Required
							</span>
						</div>
					</div>
				</div>

			<!-- SECOND ROW END -->

			<!-- THIRD ROW -->

				<div class="form-row">
					<div class="col">
						<label for="middleName">Zip</label>
						<input 
							id="zip"
							type="text" 
							class="form-control" 
							v-model="form.fields.zip"
						>
						<div v-if="form.showValidationErrors"
							class="invalid-feedback"
						>
							<span v-if="!$v.form.fields.zip.required">
								Required
							</span>
						</div>
					</div>
					<div class="col">
						<label for="middleName">Address</label>
						<input 
							id="streetAddress"
							type="text" 
							class="form-control" 
							v-model="form.fields.streetAddress"
						>
						<div v-if="form.showValidationErrors"
							class="invalid-feedback"
						>
							<span v-if="!$v.form.fields.streetAddress.required">
								Required
							</span>
						</div>
					</div>
				</div>

			<!-- THIRD ROW END -->

			<!-- 4TH ROW -->

				<div class="form-row">
					<div class="col">
						<label for="middleName">Suite number</label>
						<input 
							id="suiteNumber"
							type="text" 
							class="form-control" 
							v-model="form.fields.suiteNumber"
						>
						<div v-if="form.showValidationErrors"
							class="invalid-feedback"
						>
							<span v-if="!$v.form.fields.suiteNumber.required">
								Required
							</span>
						</div>
					</div>

					<div class="col">
						<label>On whatsapp</label> 
						<div class="radio-whatsapp">
							Yes
							<input
								v-model="form.fields.onWhatsApp"
								type="radio"
								:value="true"
								name="whatsapp-radio"
								:checked="form.fields.onWhatsApp ? true : false"		
							>
							No
							<input
								v-model="form.fields.onWhatsApp"
								type="radio"
								:value="false"
								name="whatsapp-radio"
								:checked="!form.fields.onWhatsApp ? true : false"
							>
						</div>				
					</div>
				</div>

			<!-- 4TH ROW END -->

			<!-- 5TH ROW -->

				<div class="form-row">
					<div class="col">
						<label for="middleName">Instagram username</label>
						<input 
							id="instagramUsername"
							type="text" 
							class="form-control" 
							v-model="form.fields.instagramUsername"
						>
						<div v-if="form.showValidationErrors"
							class="invalid-feedback"
						>
							<span v-if="!$v.form.fields.instagramUsername.required">
								Required
							</span>
						</div>
					</div>

					<div class="col">
						<label>Instagram followers number</label> 
						<input 
							id="instagramFollowersNumber"
							type="number"
							min="0" 
							step="1"
							class="form-control" 
							v-model="form.fields.instagramFollowersNumber"
						>
						<div v-if="form.showValidationErrors"
							class="invalid-feedback"
						>
							<span v-if="!$v.form.fields.instagramFollowersNumber.required"> 
								Required
							</span>
						</div>		
					</div>
				</div>

			<!-- 5TH ROW END -->

			<!-- FILES ROW -->
			<div class="form-row">
				<div class="col">
					<img 
						v-if="form.temporaryFiles.homescreen.file !== null"
						id="homescreen"
						class="preview"
						:src="form.temporaryFiles.homescreen.src" 
						alt="One photo"
					>
					<div class="form-group form-file-input-holder">
						<label class="form-file-label">Instagram Homescreen Photo</label>
							<input @change="handleFileInputChange('homescreen')" type="file" class="form-control-file">
							<!-- Homescreen Photo file input message -->
							<div v-if="form.temporaryFiles.homescreen.file" class="valid-feedback">
								Looks good!
							</div>
							<!-- <div v-if="!form.temporaryFiles.homescreen" class="invalid-feedback">
								Please choose a file.
						</div> -->
					</div>
				</div>
				<!-- Instagram Homescreen Photo file input -->
			
			<div class="col">

			</div>
			<!-- Instagram One Photo -->
				<div class="col">
					<img 
						v-if="form.temporaryFiles.onePhoto.file !== null"
						id="homescreen"
						class="preview"
						:src="form.temporaryFiles.onePhoto.src" 
						alt="One photo"
					>
					<div class="form-group form-file-input-holder">
						<label class="form-file-label">Instagram One Photo</label>
						<input @change="handleFileInputChange('onePhoto')" type="file" class="form-control-file">
						<!-- One Photo file input message -->
						<div v-if="form.temporaryFiles.onePhoto.file" class="valid-feedback">
							Looks good!
						</div>
						<!-- <div v-if="!form.temporaryFiles.onePhoto" class="invalid-feedback">
							Please choose a file.
						</div> -->
					</div>
				</div>
			</div>
			<!-- FILES ROW END -->
				
			<div class="button-holder">
				<button type="submit" class="btn btn-block submit-btn">Submit</button>
			</div>
		</form>

		<!-- Form messages -->
		<div class="form-messages">
			<transition mode="out-in">
				<div
					v-if="form.messages.success.userUpdated"
					class="alert alert-success"
					key="success"
				>
					Account updated successfully
				</div>
			</transition>

			<!-- File upload failed -->
			<transition class="server-errors" name="fade" mode="out-in">
				<div
					v-if="form.messages.error.fileUpload"
					class="alert alert-danger"
					key="has-errors"
				>
					File upload failed
				</div>
			</transition>

			<!-- Unknown error -->
			<transition name="fade" mode="out-in">
				<div
					v-if="form.messages.error.unknownError"
					class="alert alert-success"
					key="success"
				>
					An error has occurred. Please try again.
				</div>
			</transition>
		</div>
  </div>
</template>

<script>
import config from '@/config/config'
import { required, minLength, between, numeric, sameAs, email } from 'vuelidate/lib/validators'
// Helpers
import { mapGetters } from 'vuex'
// Services
import UserService from '@/services/admin/UserService'
// Components
import VueFormJsonSchema from 'vue-form-json-schema'

export default {
  name: 'FinishUpYourAccount',
  components: {
    VueFormJsonSchema
	},
	
	computed: {
		...mapGetters(['getUserToken', 'getLoggedInUser']),
	},

	validations: {
		form: {
			fields: {		
				phoneNumber: { required },
				suiteNumber: { required },
				onWhatsApp: { required },
				invitedBy: { required },
				streetAddress: { required },
				city: { required },
				zip: { required },
				country: { required },
				instagramFollowersNumber: { required, numeric },
				instagramUsername: { required },
			}
		}
	},

  data() {
		return {
			options: {},
			isWholeFormValid: false,

			form: {
				showValidationErrors: false,
				model: {
					// invitedBy: 'John Doe',
					// phoneNumber: '+1 123 123 123',
					// country: 'USA',
					// city: 'Los Angeles',
					// zip: 10000,
					// streetAddress: 'Some st. 123',
					// suiteNumber: '#33',
					// onWhatsApp: true,
					// instagramUsername: 'instagram01',
					// instagramFollowersNumber: 100000
				},
				fields: {
					invitedBy: '',
					phoneNumber: '',
					city: '',
					country: '',
					zip: '', // number
					streetAddress: '',
					suiteNumber: '',
					onWhatsApp: null, // bool,
					instagramFollowersNumber: '',
					instagramUsername: '',
				},
				state: {},
				valid: false,
				schema: {},
				submitted: false,
				success: false,
				temporaryFiles: {
					homescreen: {
						file: null,
						src: ''
					},
					onePhoto: {
						file: null,
						src: ''
					},
				},

				messages: {
					error: {
						fileUpload: false,
						unknownError: false
					},
					success: {
						userUpdated: false
					}
				},
			}
		}
	},

  mounted() {
		// this.getUserFormSchema()
		this.populateFormData(this.getLoggedInUser)
		
  },

  methods: {
		populateFormData(userRecord) {
				for (let key in userRecord) {
					for(let dataKey in this.form.fields) {
						if(userRecord.hasOwnProperty(key)) {
							if(key === dataKey) {
								this.form.fields[dataKey] = userRecord[key]
							}
						}
					}
				}	
			},
		async getUserById() {
			try {
				const userId = await this.getLoggedInUser.id
				const token = await this.getUserToken
				const res = await UserService.getUserById(token, userId)
				
				// this.form.model.invitedBy = res.data.records[0].invitedBy
			} catch (err) {
				console.error(err)
			}
		},

		async getUserFormSchema() {
      try {
				// Reset properties
				// this.form.schema = {}
				// this.form.model = {}
				
				this.options = {
					castToSchemaType: true,
					// validateOnLoad: false,
					showValidationErrors: false
				}
				
				const res = await UserService.getUserFormSchema()
				const userSchema = res.data
				// Alter user schema's required fields
				userSchema.required = [
					'invitedBy', 'phoneNumber', 'country', 'city', 'zip',
					'streetAddress', 'suiteNumber', 'onWhatsApp',
					'instagramUsername', 'instagramFollowersNumber'
				]
				// Set form schema
				this.form.schema = userSchema
				this.form.valid = false
      } catch (err) {
        console.error(err)
      }
		},

		onSubmit(e) {
			e.preventDefault()
			this.form.submitted = true

			// If user types float, parse into number
			if (this.form.model.instagramFollowersNumber) {
				this.form.model.instagramFollowersNumber = parseInt(this.form.model.instagramFollowersNumber)
			}

			// Check if whole form is valid
			const isWholeFormValid = this.checkIsWholeFormValid()

			// If whole form is valid
			if (isWholeFormValid) {
				// Hide error messages
				this.options = { ...this.options, showValidationErrors: false }
				this.form.showValidationErrors = false

				// Sanitize user input
				const userInput = this.sanitizeUserInput()
				// Update user
				this.updateUser(userInput)

			// Whole form not valid
			} else {
				// Display error messages
				this.form.showValidationErrors = true
				this.options = {
					...this.options,
					showValidationErrors: true
				}
			}

		},

		sanitizeUserInput() {
			// Remove empty strings and undefined values from user input
			const userModel = this.form.fields
			const userInput = {}

			for (let key in userModel) {
				if(userModel.hasOwnProperty(key) && userModel[key] !== undefined && userModel[key] !== '') {

					let value
					typeof userModel[key] === 'string' ? value = userModel[key].trim() : value = userModel[key]

					// Append properties and values
					userInput[key] = value
				}
			}

			return userInput
		},

    async updateUser(userInput) {
			try {
				const userId = this.getLoggedInUser.id
				const token = this.getUserToken
				const query = {
					id: userId,
					replace: userInput
				}

				// Send request to update a user
				const res = await UserService.updateUser(query, token)

				if (res.status === 200) {
					this.userUpdatedSuccessfuly(res)
				}
			} catch (err) {
				this.handleUpdateUserErrors(err)
			}
		},

		userUpdatedSuccessfuly(userUpdatedResponse) {
			this.clearFormErrorMessages()
			this.form.success = true
			this.form.messages.success.userUpdated = true

			setTimeout(() => {
				// Update store data (user has finished creating his account)
				this.$store.dispatch('setIsUserProfileFinished', true)
			}, 2000)

			// Upload user files
			this.uploadUserFiles(userUpdatedResponse)
		},

		async uploadUserFiles(userUpdatedResponse) {
			try {
				const token = await this.getUserToken
				const userId = userUpdatedResponse.data.records[0].id

				// File 1
				const file1 = this.form.temporaryFiles.homescreen.file
				const file1Meta = 'instagram_homescreen_photo'

				// File 2
				const file2 = this.form.temporaryFiles.onePhoto.file
				const file2Meta = 'one_photo'

				// Send request to upload files
				const file1Response = await UserService.uploadFileForLoggedInUser(file1, file1Meta, token)
				const file2Response = await UserService.uploadFileForLoggedInUser(file2, file2Meta, token)

				if (file1Response.status === 200 && file1Response.status === 200) {
					this.filesSuccessfulyUploaded(file1Response, file2Response)
				}
			} catch (err) {
				// TODO: Handle file size too big error
				console.error('File upload error: ', err)
				this.form.messages.error.fileUpload = true
			}
		},

		filesSuccessfulyUploaded(file1Response, file2Response) {

			// Reset all tempFiles fields back to null
			// for (let key in this.form.temporaryFiles) {
			// 	if(this.form.temporaryFiles.hasOwnProperty(key)) {
			// 		this.form.temporaryFiles[key] = null
			// 	}
			// }
		},

		handleUpdateUserErrors(err) {
			this.clearFormErrorMessages()
			this.clearFormSuccessMessages()

			console.error(err.response.data)
		},

		handleFileInputChange(whichFile) {
			event.preventDefault()

			if (whichFile === 'onePhoto') {
				this.form.temporaryFiles.onePhoto.file = event.target.files[0]
				var reader = new FileReader()
				reader.onload = e => {
					// get loaded data and render thumbnail.
					this.form.temporaryFiles.onePhoto.src = e.target.result
					
				}
				// read the image file as a data URL.
				reader.readAsDataURL(event.target.files[0])
			} else if (whichFile === 'homescreen') {

				this.form.temporaryFiles.homescreen.file = event.target.files[0]
				var reader = new FileReader()
				reader.onload = e => {
					// get loaded data and render thumbnail.
					this.form.temporaryFiles.homescreen.src = e.target.result
					
				}
				// read the image file as a data URL.
				reader.readAsDataURL(event.target.files[0])
				
				
			}
		},

		// onModelUpdate(model) {
		// 	// this.form.model = model
		// },

    onStateChange(state) {
			this.form.state = state
    },

    onValidated(value) {
			this.form.valid = value
		},

    checkIsWholeFormValid() {
			// Check if user added files
			// const userAddedFiles = this.form.temporaryFiles.homescreen && this.form.temporaryFiles.onePhoto			
			
			const formFieldsValid = !this.$v.form.fields.$invalid

      if (formFieldsValid) return true
      else return false
		},
		
		// resetFormFields() {
		// 	// Reset form fields
		// 	this.form.model = {}
		// 	this.form.state = {}
		// 	this.form.options = {
		// 		showValidationErrors: false
    //   }
      
		// 	this.form.submitted = false
		// 	this.form.valid = false
		// 	this.form.success = false

		// 	// Form errors
		// 	// this.form.messages.error.unknownError = false
		// 	this.clearFormErrorMessages()
		// },
		
		clearFormErrorMessages() {
			this.form.messages.error.fileUpload = false
			this.form.messages.error.unknownError = false
		},

		clearFormSuccessMessages() {
			this.form.messages.success.userUpdated = false
		}
  }
}
</script>

<style lang="scss">

#finishUserAccount {
	max-width: 900px;	
	margin: 0 auto;
	// margin-top: 1rem;

	border-radius: 10px;
	padding: 15px 15px;

	.button-holder {
		text-align: center;
		width: 120px;
		margin: 0 auto;

		button.submit-btn {
			display: inline-block;
			background-color: #4e73df;
			color: #fff;
			transition: all 200ms ease-in-out;

			&:hover {
				background-color: #fff;
				color: #4e73df;
				border-color: #4e73df;
			}
		}
	}

	.form-row {
		margin-top: 20px;

		.invalid-feedback {
			display: block;
			text-align: left;
		}

		label {
			float: left;
		}

		.col {
			.radio-whatsapp {
				width: 100%;
				float: left;
				text-align: left;
			}

			.preview {
				height: 150px;
				widows: auto;
			}
		}
	}

	.form-group {

		.input-error-field {
			margin: 5px 0 0 0;
		}

		input[type='date'] {

			&::-webkit-inner-spin-button {
				display: none;
				-webkit-appearance: none;
			}

			/* Month field */
			&::-webkit-datetime-edit-month-field {
				padding: 2px 4px;
					margin: 0 3px;


				&:focus {
					background-color: rgba(78, 115, 223, 0.7);
					color: #fff;
				}
			}

			/* Day field */
			&::-webkit-datetime-edit-day-field {
				padding: 2px 4px;
					margin: 0 3px;


				&:focus {
					background-color: rgba(78, 115, 223, 0.7);
					color: #fff;
				}
			}

			/* Year field */
			&::-webkit-datetime-edit-year-field {
				padding: 2px 4px;
				margin: 0 3px;

				&:focus {
					background-color: rgba(78, 115, 223, 0.7);
					color: #fff;
				}
			}
		}
	}

	.form-file-input-holder {
			// padding-left: 15px;

			.form-file-label {
				display: block;
				text-align: left;
			}

			.invalid-feedback {
				display: block;
				text-align: left;
			}
		}

	.form-check {
		text-align: left;

		&.on-whatsapp {
			padding-left: 0;
		}
	}


	.form-messages {
		margin-top: 15px;
	}
}
</style>