<template>
  <div class="modelInformation">
		<h2 class="heading" style="position: relative;">Model information
			<EditFormButton
				@click.native="handleEditButtonToggle"
				:editingModeOn="editingModeOn"
			/>
		</h2>

    <form
			@submit="onSubmit"
			class="model-information-form"
			novalidate
		>
			<!-- unitOfMeasurement -->
			<div class="form-group form-row">
				<div class="form-group col measurement-units">
					<label class="form-label measurement-units-label">
						Which measurement units do you prefer? <span class="required">*</span>
					</label>
					<div class="form-check-fields">
						<div class="form-check">
							<input
								v-model="form.fields.unitOfMeasurement"
								type="radio"
								id="unitOfMeasurement-imperial"
								class="form-check-input"
								value="imperial"
								:disabled="editingModeOn ? false : true"
							>
							<label for="unitOfMeasurement-imperial" class="form-check-field">Imperial</label>
						</div>
						<div class="form-check">
							<input
								v-model="form.fields.unitOfMeasurement"
								type="radio"
								id="unitOfMeasurement-metric"
								class="form-check-input"
								value="metric"
								:disabled="editingModeOn ? false : true"
							>
							<label for="unitOfMeasurement-metric" class="form-check-field">Metric</label>
						</div>
					</div>
					<!-- unitOfMeasurement validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.unitOfMeasurement.required">
							Required
						</span>
					</div>
				</div>

				<!-- agencyManager -->
				<div class="col">
					<label for="agencyManager" title="What is the name of your agency manager? (optional)" class="form-label agencyManager-label">
						Agency manager <span class="optional">(optional)</span>
					</label>
					<input
						v-model="form.fields.agencyManager"
						type="text"
						id="agencyManager"
						class="form-control"
						:readonly="editingModeOn ? false : true"
					>
					<!-- agencyManager validation messages -->
					<div v-if="form.showValidationErrors"
						class="invalid-feedback"
					>
						<span v-if="!$v.form.fields.agencyManager.onlyAlphaChars">
							Only alphabetic characters
						</span>
				</div>
			</div>

			<!-- canWorkInUSA -->
			<div class="form-group col can-work-in-USA">
				<label class="form-label can-work-in-USA-label">Legally allowed to work in the USA? <span class="required">*</span></label>
				<div class="form-check-fields">
					<div class="form-check">
						<input v-model="$v.form.fields.canWorkInUSA.$model"
							required="required"
							type="radio"
							id="can-work-in-USA-yes"
							class="form-check-input"
							:value="true"
							:disabled="editingModeOn ? false : true"
						>
						<label for="can-work-in-USA-yes" class="form-check-field">Yes</label>
					</div>
					<div class="form-check">
						<input
							v-model="$v.form.fields.canWorkInUSA.$model"
							required="required"
							type="radio"
							id="can-work-in-USA-no"
							class="form-check-input"
							:value="false"
							:disabled="editingModeOn ? false : true"
						>
						<label for="can-work-in-USA-no" class="form-check-field">No</label>
					</div>
				</div>
				<!-- canWorkInUSA validation messages -->
				<div v-if="form.showValidationErrors"
					class="invalid-feedback"
				>
					<span v-if="!$v.form.fields.canWorkInUSA.required">
						Required
					</span>
				</div>
			</div>
		</div>

		<!-- hairColor -->
		<div class="form-group form-row">
			<div class="col">
				<label for="hairColor" class="form-label hair-color-label">
					Hair color <span class="required">*</span>
				</label>
				<select
					v-model="$v.form.fields.hairColor.$model"
					:disabled="editingModeOn ? false : true"
					id="hairColor"
					class="form-control
					form-control-sm"
				>
					<option value="" disabled hidden>Select a color</option>
					<option value="black">Black</option>
					<option value="brown">Brown</option>
					<option value="blonde">Blonde</option>
					<option value="other">Other</option>
				</select>
				<!-- hairColor validation messages -->
				<div v-if="form.showValidationErrors"
					class="invalid-feedback"
				>
					<span v-if="!$v.form.fields.hairColor.required">
						Required
					</span>
				</div>
			</div>

			<!-- eyeColor -->
			<div class="col">
				<label for="eyeColor" class="form-label eyeColor-label">
					Eye color <span class="required">*</span>
				</label>
				<select v-model="$v.form.fields.eyeColor.$model"
					:disabled="editingModeOn ? false : true"
					id="eyeColor"
					class="form-control form-control-sm"
				>
					<option value="" disabled hidden>Select a color</option>
					<option value="black">Black</option>
					<option value="brown">Brown</option>
					<option value="green">Green</option>
					<option value="blue">Blue</option>
					<option value="other">Other</option>
				</select>
				<!-- eyeColor validation messages -->
				<div v-if="form.showValidationErrors"
					class="invalid-feedback"
				>
					<span v-if="!$v.form.fields.eyeColor.required">
						Required
					</span>
				</div>
			</div>
		</div>

		
		<div class="form-group form-row">
			<!-- height -->
			<div class="col">
				<label for="height" class="form-label height-label">
					Height <span class="required">*</span>
				</label>
				<input v-model="$v.form.fields.height.$model"
					:readonly="editingModeOn ? false : true"
					type="number"
					id="height"
					class="form-control"
				>
				<!-- height validation messages -->
				<div v-if="form.showValidationErrors"
					class="invalid-feedback"
				>
					<span v-if="!$v.form.fields.height.required">
						Required
					</span>
				</div>
			</div>

			<!-- waist -->
			<div class="col">
				<label for="waist" class="form-label waist-label">
					Waist <span class="required">*</span>
				</label>
				<input v-model="$v.form.fields.waist.$model"
					:readonly="editingModeOn ? false : true"
					type="number"
					id="waist"
					class="form-control"
				>
				<!-- waist validation messages -->
				<div v-if="form.showValidationErrors"
					class="invalid-feedback"
				>
					<span v-if="!$v.form.fields.waist.required">
						Required
					</span>
				</div>
			</div>
		</div>


		<div class="form-group form-row">
			<!-- bust -->
			<div class="col">
				<label for="bust" class="form-label bust-label">
					Bust <span class="required">*</span>
				</label>
				<input v-model="$v.form.fields.bust.$model"
					:readonly="editingModeOn ? false : true"
					type="number"
					id="bust"
					class="form-control"
				>
				<!-- bust validation messages -->
				<div v-if="form.showValidationErrors"
					class="invalid-feedback"
				>
					<span v-if="!$v.form.fields.bust.required">
						Required
					</span>
				</div>
			</div>

			<!-- hips -->
			<div class="col">
				<label for="hips" class="form-label hips-label">
					Hips <span class="required">*</span>
				</label>
				<input 
					:readonly="editingModeOn ? false : true"
					v-model="$v.form.fields.hips.$model"
					required="required" 
					type="number" 
					id="hips" 
					class="form-control"
				 >
				<!-- bust validation messages -->
				<div v-if="form.showValidationErrors"
					class="invalid-feedback"
				>
					<span v-if="!$v.form.fields.hips.required">
						Required
					</span>
				</div>
			</div>
		</div>


		<div class="form-group form-row">
			<!-- shoeSize -->
			<div class="col">
				<label for="shoeSize" class="form-label shoe-size-label">
					Shoe size <span class="required">*</span>
				</label>
				<input v-model="$v.form.fields.shoeSize.$model"
					:readonly="editingModeOn ? false : true"
					type="number"
					id="shoeSize"
					class="form-control"
				>
				<!-- shoeSize validation messages -->
				<div v-if="form.showValidationErrors"
					class="invalid-feedback"
				>
					<span v-if="!$v.form.fields.shoeSize.required">
						Required
					</span>
				</div>
			</div>

			<div class="col">
				<!-- testShootDate -->
				<label for="testShootDate" title="Your preferred date for a test photo shoot" class="form-label test-shoot-date-label">
					Test photo shoot date <span class="required">*</span>
				</label>
				<input v-model="$v.form.fields.testShootDate.$model"
					:readonly="editingModeOn ? false : true"
					type="date"
					id="testShootDate"
					class="form-control"
				>
				<!-- testShootDate validation messages -->
				<div v-if="form.showValidationErrors"
					class="invalid-feedback"
				>
					<span v-if="!$v.form.fields.testShootDate.required">
						Required
					</span>
				</div>
			</div>
		</div>

			<!-- File 1 and File 2 inputs -->
			<div class="form-row">
				<!-- closeUpFace file input -->
				<div class="col form-group form-file-input-holder">
					<img 
						v-if="!files.closeUpFace.isLoading && files.closeUpFace.id || !files.closeUpFace.isLoading && form.temporaryFiles.closeUpFace.file" 
						:class="['user-photo']"
						:src="files.closeUpFace.src"
						alt="Close up face photo"
					>
					<!-- Fallback image -->
					<img 
						v-if="showCloseUpFaceFallback"
						:class="['placeholder']"
						src="@/assets/images/profile-img-fallback.png"
						alt="Close up face photo"
					>
					<label class="form-label form-file1-label">
						Close up face photo
						<!-- <span class='required'>*</span> -->
						<span v-if="showCloseUpFaceFallback" class="optional">(optional)</span>
					</label>
					<CircularLoader v-if="files.closeUpFace.isLoading" class="circular-loader" />

					<input
						v-if="editingModeOn"
						@change="handleFileInputChange('closeUpFace')"
						type="file" 
						class="form-control-file" 
						>
					<div v-if="form.temporaryFiles.closeUpFace.file" class="valid-feedback">
						Looks good!
					</div>
					<!-- <div v-if="!form.temporaryFiles.closeUpFace" class="invalid-feedback">
						Please choose a file.
					</div> -->
				</div>
			
				<!-- bikiniFullBody file input -->
				<div class="col form-group form-file-input-holder">
					<img 
						v-if="!files.bikiniFullBody.isLoading && files.bikiniFullBody.id || !files.bikiniFullBody.isLoading && form.temporaryFiles.bikiniFullBody.file" 
						:class="['user-photo']"
						:src="files.bikiniFullBody.src"
						alt="Bikini body photo"
					>
					<!-- Fallback image -->
					<img 
						v-if="showBikiniFallback"
						:class="['placeholder']"
						src="@/assets/images/profile-img-fallback.png"
						alt="Bikini body photo"
					>
					<label class="form-label form-file2-label">
						Bikini full body photo
						<!-- <span class="required">*</span> -->
						<span v-if="showBikiniFallback" class="optional">(optional)</span>
					</label>
					<CircularLoader v-if="files.bikiniFullBody.isLoading" class="circular-loader" />
					<input
						v-if="editingModeOn"
						@change="handleFileInputChange('bikiniFullBody')"
						type="file" 
						class="form-control-file"
					>
					<div v-if="form.temporaryFiles.bikiniFullBody.file" class="valid-feedback">
						Looks good!
					</div>
					<!-- <div v-if="!form.temporaryFiles.bikiniFullBody" class="invalid-feedback">
						Please choose a file.
					</div> -->
				</div>
			</div>

			<!-- File 3 and File 4 inputs -->
			<div class="form-row">
				<!-- profilePic file input -->
				<div class="col form-group form-file-input-holder">
					<img 
						v-if="!files.profilePic.isLoading && files.profilePic.id || !files.profilePic.isLoading && form.temporaryFiles.profilePic.file" 
						:class="['user-photo']"
						:src="files.profilePic.src"
						alt="Profile picture"
					>
					<!-- Fallback image -->
					<img 
						v-if="showProfilePicFallback" 
						:class="['placeholder']"
						src="@/assets/images/profile-img-fallback.png"
						alt="Profile picture"
					>
					<label class="form-label form-file1-label">
						Profile picture
						<!-- <span class="required">*</span> -->
						<span v-if="showProfilePicFallback"  class="optional">(optional)</span>
					</label>
					<CircularLoader v-if="files.profilePic.isLoading" class="circular-loader" />
					<input
						v-if="editingModeOn"
						@change="handleFileInputChange('profilePic')"
						type="file" 
						class="form-control-file" 
						required
					>
					<div v-if="form.temporaryFiles.profilePic.file" class="valid-feedback">
						Looks good!
					</div>
					<!-- <div v-if="!form.temporaryFiles.profilePic" class="invalid-feedback">
						Please choose a file.
					</div> -->
				</div>
		
				<!-- compCard file input -->
				<div class="col form-group form-file-input-holder">
					<img 
						v-if="!files.compCard.isLoading && files.compCard.id || !files.compCard.isLoading && form.temporaryFiles.compCard.file" 
						:class="['user-photo']"
						:src="files.compCard.src"
						alt="Profile picture"
					>
					<!-- Fallback image -->
					<img 
						v-if="showCompCardFallback" 
						:class="['placeholder']"
						src="@/assets/images/profile-img-fallback.png"
						alt="Profile picture"
					>
					<label class="form-label form-file2-label">
						Comp card
						<!-- <span class="required">*</span> -->
						<span v-if="showCompCardFallback" class="optional">(optional)</span>
					</label>
					<CircularLoader v-if="files.compCard.isLoading" class="circular-loader" />
					<input 
						v-if="editingModeOn"
						@change="handleFileInputChange('compCard')" 
						type="file" 
						class="form-control-file"
					>
					<div v-if="form.temporaryFiles.compCard.file" class="valid-feedback">
						Looks good!
					</div>
					<!-- <div v-if="!form.temporaryFiles.compCard" class="invalid-feedback">
						Please choose a file.
					</div> -->
				</div>
			</div>
			
			<div class="button-holder">
				<button v-if="this.editingModeOn" type="submit" class="btn btn-block submit-btn">Save</button>
			</div>
		</form>

		<!-- Form messages -->
		<div class="form-messages">
			<transition mode="out-in">
				<div
					v-if="form.messages.success.modelCreated"
					class="alert alert-success"
					key="success"
				>
					Submission successful.
				</div>
			</transition>

			<transition mode="out-in">
				<div
					v-if="form.messages.success.modelUpdated"
					class="alert alert-success"
					key="success"
				>
					Model information updated successfully
				</div>
			</transition>

			<!-- File upload failed -->
			<transition class="server-errors" name="fade" mode="out-in">
				<div
					v-if="form.messages.error.fileUpload"
					class="alert alert-danger"
					key="has-errors"
				>
					File upload failed.
				</div>
			</transition>

			<!-- Model already exists -->
			<!-- <transition mode="out-in">
				<div
					v-if="form.messages.error.modelAlreadyExists"
					class="alert alert-danger"
					key="success"
				>
					This model already exists.
				</div>
			</transition> -->

			<!-- Unknown error -->
			<transition name="fade" mode="out-in">
				<div
					v-if="form.messages.error.unknownError"
					class="alert alert-success"
					key="success"
				>
					An error has occurred. Please try again.
				</div>
			</transition>
		</div>
  </div>
</template>

<script>
import config from '@/config/config'
// Helpers
import { mapGetters } from 'vuex'
import { onlyAlphaChars } from '@/helpers/lib/customValidators'
import { required, minLength, between, numeric } from 'vuelidate/lib/validators'
// Services
import ModelService from '@/services/ModelService'
// Components
import EditFormButton from '@/components/shared/buttons/EditFormButton'
import CircularLoader from '@/components/shared/loaders/CircularLoader'

export default {
  name: 'ModelInformation',
  components: { EditFormButton, CircularLoader },
	
	computed: {
		...mapGetters(['getUserToken', 'getLoggedInUser']),
		showCloseUpFaceFallback() {
			return !this.files.closeUpFace.isLoading && !this.files.closeUpFace.id && !this.form.temporaryFiles.closeUpFace.file
		},
		showBikiniFallback() {
			return !this.files.bikiniFullBody.isLoading && !this.files.bikiniFullBody.id && !this.form.temporaryFiles.bikiniFullBody.file
		},
		showProfilePicFallback() {
			return !this.files.profilePic.isLoading && !this.files.profilePic.id && !this.form.temporaryFiles.profilePic.file
		},
		showCompCardFallback() {
			return !this.files.compCard.isLoading && !this.files.compCard.id && !this.form.temporaryFiles.compCard.file
		}
	},

  data() {
		return {
			userAlreadyHasModelRecord: false,
			editingModeOn: false,
			modelRecord: {},

			form: {
				showValidationErrors: false,
				isValid: false,

				fields: {
					unitOfMeasurement: '', // string
					agencyManager: '', // string
					canWorkInUSA: null, // bool
					hairColor: '', // string
					eyeColor: '', // string
					height: null, // number
					waist: null, // number
					bust: null, // number
					hips: null, // number
					shoeSize: null, // number
					testShootDate: '' // string - date
				},

				temporaryFiles: {
					closeUpFace: {
						file: null
					},
					bikiniFullBody: {
						file: null
					},
					profilePic: {
						file: null
					},
					compCard: {
						file: null
					}
				},
				
				messages: {
					error: {
						modelAlreadyExists: false,
						fileUpload: false,
						unknownError: false
					},
					success: {
						modelCreated: false,
						modelUpdated: false
					}
				}
			}, /* form */

			files: {
				closeUpFace: {
					customFileName: 'close_up_face',
					id: '', 
					name: null,
					src: '',
					valid: true,
					isLoading: false,
					showFallbackPhoto: false
				},
				bikiniFullBody: {
					customFileName: 'bikini_full_body',
					id: '', 
					name: null,
					src: '',
					valid: true,
					isLoading: false,
					showFallbackPhoto: false
				},
				profilePic: {
					customFileName: 'profile_pic',
					id: '', 
					name: null,
					src: '',
					valid: true,
					isLoading: false,
					showFallbackPhoto: false
				},
				compCard: {
					customFileName: 'comp_card',
					id: '', 
					name: null,
					src: '',
					valid: true,
					isLoading: false,
					showFallbackPhoto: false
				}
			}
		}
	},

	// Form validation
	validations: {
		form: {
			fields: {
				unitOfMeasurement: { required },
				agencyManager: { onlyAlphaChars },
				canWorkInUSA: { required },
				hairColor: { required },
				eyeColor: { required },
				height: { required },
				waist: { required },
				bust: { required },
				hips: { required },
				shoeSize: { required },
				testShootDate: { required },
			}
		}
  },

  mounted() {
		// this.getModelFormSchema()
		this.getModelById()
  },

  methods: {
		handleEditButtonToggle() {
			this.editingModeOn = !this.editingModeOn
			
			if(this.editingModeOn === false) {
				this.discardForm()

			} else {
				this.form.showValidationErrors = false
			}

			// Clear all form messages
			this.clearFormSuccessMessages()
			this.clearFormErrorMessages()
		},

		async getModelFiles(modelId) {
			for (let key in this.files) {
				// Close up face
				if (this.files[key].name === this.files.closeUpFace.customFileName) {
					// Show loader
					this.files.closeUpFace.isLoading = true
					fetch(`${config.BASE_API_URL}/models/${modelId}/photos/attachment/${this.files.closeUpFace.id}`, {
						headers: {
							'Authorization': `Bearer ${this.getUserToken}`
						} 
					})
						.then(response => response.blob())
						.then(myBlob => {
							var objectURL = URL.createObjectURL(myBlob)
							this.files.closeUpFace.src = objectURL
							this.files.closeUpFace.isLoading = false
						})
						.catch(err => {
							this.files.closeUpFace.isLoading = false
						})

				// Bikini full body
				} else if (this.files[key].name === this.files.bikiniFullBody.customFileName) {
					// Show loader
					this.files.bikiniFullBody.isLoading = true
					fetch(`${config.BASE_API_URL}/models/${modelId}/photos/attachment/${this.files.bikiniFullBody.id}`, {
						headers: {
							'Authorization': `Bearer ${this.getUserToken}`
						} 
					})
						.then(response => response.blob())
						.then((myBlob) => {
							var objectURL = URL.createObjectURL(myBlob)
							this.files.bikiniFullBody.src = objectURL
							this.files.bikiniFullBody.isLoading = false
						})
						.catch(err => {
							this.files.bikiniFullBody.isLoading = false
							console.error(err)
						})
						
				// Profile picture
				} else if (this.files[key].name === this.files.profilePic.customFileName) {
					// Show loader
					this.files.profilePic.isLoading = true
					fetch(`${config.BASE_API_URL}/models/${modelId}/photos/attachment/${this.files.profilePic.id}`, {
						headers: {
							'Authorization': `Bearer ${this.getUserToken}`
						} 
					})
						.then(response => response.blob())
						.then((myBlob) => {
							var objectURL = URL.createObjectURL(myBlob)
							this.files.profilePic.src = objectURL
							this.files.profilePic.isLoading = false
						})
						.catch(err => {
							this.files.profilePic.isLoading = false
							console.error(err)
						})

				// Comp card
				} else if (this.files[key].name === this.files.compCard.customFileName) {
					// Show loader
					this.files.compCard.isLoading = true
					fetch(`${config.BASE_API_URL}/models/${modelId}/photos/attachment/${this.files.compCard.id}`, {
						headers: {
							'Authorization': `Bearer ${this.getUserToken}`
						} 
					})
						.then(response => response.blob())
						.then((myBlob) => {
							var objectURL = URL.createObjectURL(myBlob)
							this.files.compCard.src = objectURL
							this.files.compCard.isLoading = false
						})
						.catch(err => {
							this.files.compCard.isLoading = false
							console.error(err)
						})
				}
			}	
		},

		discardForm() {
			this.clearFormErrorMessages()
			this.clearFormSuccessMessages()
			this.populateFormData(this.modelRecord)
			// this.getModelById()
		},
		
		async getModelById() {
			try {
				const userId = this.getLoggedInUser.id
				const token = this.getUserToken

				const res = await ModelService.getModelAndFilesByUserId(userId, token)
				const records = res.data.records
				// Check if user already have model record
				const userAlreadyHasModelRecord = records.length > 0

				// If there is a model record for this user, populate
				// form fields with model data
				if (userAlreadyHasModelRecord) {
					this.userAlreadyHasModelRecord = true

					const modelRecord = records[0]
					this.modelRecord = modelRecord
					this.populateFormData(modelRecord)

					// If model has files
					if(res.data.include) {
						res.data.include.file.forEach(file => {
							// If there is closeUpFace photo
							if(file.name === this.files.closeUpFace.customFileName) {
								this.files.closeUpFace.id = file.id
								this.files.closeUpFace.name = file.name

							// If there is bikiniFullBody photo
							} else if (file.name === this.files.bikiniFullBody.customFileName) {
								this.files.bikiniFullBody.id = file.id
								this.files.bikiniFullBody.name = file.name

							// If there is profilePic photo
							} else if (file.name === this.files.profilePic.customFileName) {
								this.files.profilePic.id = file.id
								this.files.profilePic.name = file.name

							// If there is compCard
							} else if (file.name === this.files.compCard.customFileName) {
								this.files.compCard.id = file.id
								this.files.compCard.name = file.name
							} 
						})
					}

					this.getModelFiles(modelRecord.id)
				}
				
			} catch (err) {
				console.error(err)
			}
		},

		populateFormData(modelRecord) {
			for (let key in modelRecord) {
				for(let dataKey in this.form.fields) {
					if(modelRecord.hasOwnProperty(key)) {
						if(key === dataKey) {

							// Format testShootDate while populating the form
							if (key === 'testShootDate') {
								// Format user testShootDate from datetime to date
								modelRecord[key] = modelRecord[key].split('T')[0]
							}

							this.form.fields[dataKey] = modelRecord[key]
						}
					}
				}
			}	
		},

		// async getModelFormSchema() {
    //   try {
		// 		const res = await ModelService.getModelFormSchema()
		// 		const modelSchema = res.data

    //   } catch (err) {
    //     console.error(err)
    //   }
		// },

		onSubmit(e) {
			e.preventDefault()
			
			// Check if whole form is valid
			this.checkIsFormValid()

			// If form is valid
			if (this.form.isValid) {
				// Hide error messages
				this.form.showValidationErrors = false

				// Sanitize user input
				const userInput = this.sanitizeUserInput()

				// If user already has model record update it 
				if (this.userAlreadyHasModelRecord) {
					this.updateModel(userInput)

				// If user doesn't have a model record - create it
				} else {
					this.createModel(userInput)
				}

			// Form not valid
			} else {
				// Display error messages
				this.form.showValidationErrors = true
			}
		},

		sanitizeUserInput() {
			// Remove empty strings and undefined values from user input
			const userModel = this.form.fields
			const userInput = {}

			for (let key in userModel) {
				if(userModel.hasOwnProperty(key) && userModel[key] !== undefined && userModel[key] !== null && userModel[key] !== '') {
					let value
					typeof userModel[key] === 'string' ? value = userModel[key].trim() : value = userModel[key]

					// Append properties and values
					userInput[key] = value
				}
			}

			return userInput
		},

    async createModel(userInput) {
			try {
				const userId = this.getLoggedInUser.id
				const token = this.getUserToken

				// Send request to create a model
				const res = await ModelService.createModel(userInput, token)

				if (res.status === 201) {
					this.clearFormErrorMessages()
					this.form.messages.success.modelCreated = true

					// Upload model files
					const modelId = res.data.records[0].id
					this.uploadModelFiles(modelId)
				}
			} catch (err) {
				this.handleCreateModelErrors(err)
			}
		},

		async uploadModelFiles(modelId) {
			// NOTE: Photos/files are not required
			try {
				const token = this.getUserToken

				// File 1
				const file1 = this.form.temporaryFiles.closeUpFace.file !== null ? this.form.temporaryFiles.closeUpFace.file : null
				const file1Meta = this.files.closeUpFace.customFileName

				// File 2
				const file2 = this.form.temporaryFiles.bikiniFullBody.file !== null ? this.form.temporaryFiles.bikiniFullBody.file : null 
				const file2Meta = this.files.bikiniFullBody.customFileName

				// File 3
				const file3 = this.form.temporaryFiles.profilePic.file !== null ? this.form.temporaryFiles.profilePic.file : null
				const file3Meta = this.files.profilePic.customFileName

				// File 4
				const file4 = this.form.temporaryFiles.compCard.file !== null ? this.form.temporaryFiles.compCard.file : null
				const file4Meta = this.files.compCard.customFileName

				// Send requests to upload files
				const file1PreviousImgId = this.files.closeUpFace.id ? this.files.closeUpFace.id : null
				const file1Res = file1 ? await ModelService.uploadModelFiles(file1PreviousImgId, file1, file1Meta, modelId, token) : null
				if (file1Res) {
					this.files.closeUpFace.id = file1Res.data.payload.records[0].id
					this.form.temporaryFiles.closeUpFace.file = null
				}

				const file2PreviousImgId = this.files.bikiniFullBody.id ? this.files.bikiniFullBody.id : null
				const file2Res = file2 ? await ModelService.uploadModelFiles(file2PreviousImgId, file2, file2Meta, modelId, token) : null
				if (file2Res) {
					this.files.bikiniFullBody.id = file2Res.data.payload.records[0].id
					this.form.temporaryFiles.bikiniFullBody.file = null
				}

				const file3PreviousImgId = this.files.profilePic.id ? this.files.profilePic.id : null
				const file3Res = file3 ? await ModelService.uploadModelFiles(file3PreviousImgId, file3, file3Meta, modelId, token) : null
				if (file3Res) {
					this.files.profilePic.id = file3Res.data.payload.records[0].id
					this.form.temporaryFiles.profilePic.file = null
				}

				const file4PreviousImgId = this.files.compCard.id ? this.files.compCard.id : null
				const file4Res = file4 ? await ModelService.uploadModelFiles(file4PreviousImgId, file4, file4Meta, modelId, token) : null
				if (file4Res) {
					this.files.compCard.id = file4Res.data.payload.records[0].id
					this.form.temporaryFiles.compCard.file = null
				}

			} catch (err) {
				console.error(err)
				this.form.messages.error.fileUpload = true
			}
		},

		filesSuccessfulyUploaded(file1Res, file2Res, file3Res, file4Res) {
			// Reset all tempFiles fields back to null
			// for (let key in this.form.temporaryFiles) {
			// 	if(this.form.temporaryFiles.hasOwnProperty(key)) {
			// 		this.form.temporaryFiles[key] = null
			// 	}
			// }
		},

		handleCreateModelErrors(err) {
			this.clearFormErrorMessages()
			this.clearFormSuccessMessages()

			if (err.response.data.message.includes('Model already exists.')) {
				this.form.messages.error.modelAlreadyExists = true
			}

			console.error(err)
		},

		async updateModel(userInput) {
			try {
				// Hide previous success message
				this.clearFormSuccessMessages()

				const userId = this.getLoggedInUser.id
				const token = this.getUserToken

				// Get id of model for currently logged in user
				const modelResponse = await ModelService.getModelAndFilesByUserId(userId, token)
				const modelId = modelResponse.data.records[0].id

				const data = {
					id: modelId,
					replace: userInput
				}

				// Send request to update model data
				const updateModelResponse = await ModelService.updateModel(data, token)

				if (updateModelResponse.status === 200) {
					// Update model files
					const modelId = updateModelResponse.data.records[0].id
					this.uploadModelFiles(modelId)

					// Display success update message
					this.form.messages.success.modelUpdated = true
				}

			} catch (err) {
				console.error(err)
			}
		},

		handleFileInputChange(selectedFile) {
			event.preventDefault()

			// TODO: Set max file size error message when user selects a file

			if (selectedFile === 'closeUpFace') {
				this.form.temporaryFiles.closeUpFace.file = event.target.files[0]

				var reader = new FileReader()
				reader.onload = e => {
					// get loaded data and render thumbnail.
					this.files.closeUpFace.src = e.target.result
				}
				// read the image file as a data URL.
				if(event.target.files[0] !== undefined) {
					reader.readAsDataURL(event.target.files[0])
				} else {
					this.form.temporaryFiles.closeUpFace.file = null
					this.form.temporaryFiles.closeUpFace.src = null
				}
				

			} else if (selectedFile === 'bikiniFullBody') {
				this.form.temporaryFiles.bikiniFullBody.file = event.target.files[0]

				var reader = new FileReader()
				reader.onload = e => {
					// get loaded data and render thumbnail.
					this.files.bikiniFullBody.src = e.target.result
				}
				// read the image file as a data URL.
				
				if(event.target.files[0] !== undefined) {
					reader.readAsDataURL(event.target.files[0])
				} else {
					this.form.temporaryFiles.bikiniFullBody.file = null
					this.form.temporaryFiles.bikiniFullBody.src = null
				}

			} else if (selectedFile === 'profilePic') {
				this.form.temporaryFiles.profilePic.file = event.target.files[0]

				var reader = new FileReader()
				reader.onload = e => {
					// get loaded data and render thumbnail.
					this.files.profilePic.src = e.target.result
				}
				// read the image file as a data URL.
				if(event.target.files[0] !== undefined) {
					reader.readAsDataURL(event.target.files[0])
				} else {
					this.form.temporaryFiles.profilePic.file = null
					this.form.temporaryFiles.profilePic.src = null
				}
				
			} else if (selectedFile === 'compCard') {
				this.form.temporaryFiles.compCard.file = event.target.files[0]

				var reader = new FileReader()
				reader.onload = e => {
					// get loaded data and render thumbnail.
					this.files.compCard.src = e.target.result
				}
				// read the image file as a data URL.
				
				if(event.target.files[0] !== undefined) {
					reader.readAsDataURL(event.target.files[0])
				} else {
					this.form.temporaryFiles.compCard.file = null
					this.form.temporaryFiles.compCard.src = null
				}
			}

		},

    checkIsFormValid() {
			// NOTE: Files are not required			
      if (this.$v.$invalid) return
      else this.form.isValid = true
		},

		clearFormErrorMessages() {
			this.form.messages.error.modelAlreadyExists = false
			this.form.messages.error.fileUpload = false
			this.form.messages.error.unknownError = false
		},

		clearFormSuccessMessages() {
			this.form.messages.success.modelCreated = false
			this.form.messages.success.modelUpdated = false
		}
  }
}
</script>

<style scoped lang="scss">

.modelInformation {
	h2 {
		position: relative;
		display: inline-block;
	}

	/* Form Edit button */
	.edit-button-holder {
		display: inline-block;
		position: relative;
	}

	.edit-button-link {
		position: absolute;
		bottom: 5px;
		left: 110%;
		display: inline-block;
		font-size: 16px;
		border: none;
		background: transparent;
		color: #4e73df;
	}

	form.model-information-form {

		.alert {
			margin-top: 8px;
			margin-bottom: 0;
		}

		.button-holder {
			text-align: center;
			width: 120px;
			margin: 0 auto;
			margin-top: 55px;

			button.submit-btn {
				display: inline-block;
				background-color: #4e73df;
				color: #fff;
				transition: all 200ms ease-in-out;

				&:hover {
					background-color: #fff;
					color: #4e73df;
					border-color: #4e73df;
				}
			}
		}

		.form-group {
			margin-top: 8px;
			text-align: left;

			.invalid-feedback {
				display: block;
				text-align: left;
			}

			.valid-feedback {
				display: block;
				text-align: left;
			}

			.input-error-field {
				margin: 5px 0 0 0;
			}

			.measurement-units,
			.can-work-in-USA {
				text-align: left;

				.form-check-fields {

					div {
						display: inline-block;

						&:nth-child(2) {
							margin-left: 30px;
						}
					}
				}
			}

			.can-work-in-USA {
				padding-left: 25px;
			}

			input[type='date'] {

				&::-webkit-inner-spin-button {
					display: none;
					-webkit-appearance: none;
				}

				/* Month field */
				&::-webkit-datetime-edit-month-field {
					padding: 2px 4px;
						margin: 0 3px;


					&:focus {
						background-color: rgba(78, 115, 223, 0.7);
						color: #fff;
					}
				}

				/* Day field */
				&::-webkit-datetime-edit-day-field {
					padding: 2px 4px;
						margin: 0 3px;


					&:focus {
						background-color: rgba(78, 115, 223, 0.7);
						color: #fff;
					}
				}

				/* Year field */
				&::-webkit-datetime-edit-year-field {
					padding: 2px 4px;
					margin: 0 3px;

					&:focus {
						background-color: rgba(78, 115, 223, 0.7);
						color: #fff;
					}
				}
			}
		}

		/* Labels */
		label.form-label {
			color: #313131;
			text-align: left;
			display: block;
			font-weight: 600;
			font-size: 16px;

			.required {
				color: #a90000;
			}

			.optional {
				color: rgb(184, 184, 184);
			}
		}

		/* File inputs */
		.form-file-input-holder {
			// padding-left: 15px;

			.user-photo {
				width: auto;
				height: 150px;
				margin-top: 20px;
				border: 1px solid #f3f3f3;
			}

			// Placeholder for an image if there isn't one
			.placeholder {
				width: 200px;
				height: 200px;
				padding: 8px 8px;
				border-radius: 5px;
				background: #f3f3f3;
			}

			.form-file-label {
				display: block;
				text-align: left;
			}

			.form-control-file {
				width: auto;
			}

			.invalid-feedback {
				display: block;
				text-align: left;
			}

			.circular-loader {
				margin-left: 20%;
				margin-top: 30px;
				height: 50px;
				width: 50px;
				border: 8px solid #f3f3f3; /* Light grey */
				border-top: 8px solid #3498db; /* Blue */
			}
		}

		.form-check {
			text-align: left;

			&.measurement-units {
				padding-left: 0;
			}
		}
	}

	.form-messages {
		margin-top: 15px;
	}
}
</style>