<template>
	<!-- <v-app> -->
		<div id="app">
			<router-view/>
		</div>
	<!-- </v-app> -->
</template>

<script>
import config from '@/config/config'

export default {

  created() {
    if (config.NODE_ENV === 'development') {
      // console.log('Logs are enabled.')
    } else if (config.NODE_ENV === 'production') {
      // console.log = () => {}
      // console.error = () => {}
      // console.warn = () => {}
    }
  }
}
</script>


<style lang="scss">
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0 0;
	padding: 0 0;
}

body, html  {
	height: 100%;
	width: 100%;
}

#app {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	font-family: 'Nunito', 'Avenir', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-align: center;
}

</style>
